{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block app_content %}

<h1>Acteurs dans le sens des transports doux et actifs</h1>

<div class="row">
    <div class="col-lg-12">
    <p>La région nantaise est dotée de plusieurs associations qui
	travaillent pour améliorer nos déplacements.  La suggestion de
	Transport Nantes : en choisir trois et faire à chacune des
	trois un don.  (En choisir plusieurs élargit les possibilités d’être efficace.)
	Même si votre don reste modeste,
	vous aurez fait un pas vers l'amélioration des déplacements
	doux et actifs dans notre région.
    </p>

    <p>
	En outre, vous pouvez vous y impliquer directement par le
	bénévolat.  Chacune de ces associations a un besoin chronique
	de compétences.  Vous avez forcément une compétence qui peut
	leur être utile.
    </p>

    <p>
	Nous espérons bien entendu faire partie des trois associations
	que vous choisirez.  Mais le plus important, c'est d'en choisir
	trois et d'agir.
    </p>
    </div>
</div>

<h2>Associations</h2>

<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/TN.png' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Transport Nantes</strong> est un lobby citoyen qui
    construit une base de soutien pour un changement radical de notre
    système de transport.
	    <a href="http://www.transport-nantes.com/" target="_blank"><i class="fa fa-globe"></i></a>
		<a href="https://twitter.com/TransportNantes" target="_blank"><i class="fa fa-twitter"></i></a>
		<a
    href="https://www.facebook.com/transport.nantes/" target="_blank"><i class="fa fa-facebook"></i></a>
		<a href="https://www.instagram.com/transportnantes/" target="_blank"><i class="fa fa-instagram"></i></a>
	</p>
    </div>
</div>


<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/pav.jpg' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Place au Vélo</strong>
	     promeut l’utilisation du vélo comme moyen de transport au
	    quotidien.

	    <a href="http://placeauvelo-nantes.fr/" target="_blank"><i class="fa fa-globe"></i></a>
	    <a href="https://twitter.com/PAVelo_Nantes" target="_blank"><i class="fa fa-twitter"></i></a>
	    <a href="https://www.facebook.com/placeauvelonantes" target="_blank"><i class="fa fa-facebook"></i></a>
	    <i class="fa fa-instagram"></i></a>
	</p>
    </div>
</div>


<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/nosruesdemain.jpg' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Nos rues demain</strong>
	    développe et promeut les mobilités douces et actives dans une ville apaisée
	    et dans le respect de l'environnement à Saint-Sébastien sur Loire.

	    <i class="fa fa-globe"></i></a>
	    <a href="https://twitter.com/Nosruesdemain" target="_blank"><i class="fa fa-twitter"></i></a>
	    <a href="https://www.facebook.com/nosrues.demain.3" target="_blank"><i class="fa fa-facebook"></i></a>
	    <a href="" target="_blank"><i class="fa fa-instagram"></i></a>
	</p>
    </div>
</div>


<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/mn.jpg' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Métro de Nantes</strong> est un collectif de
	    citoyens, d'élus et d'experts promouvant la création d'un
	    métro à #Nantes connecté à des véloroutes efficaces au
	    coeur d'un @reseau_tan repensé.

		<a href="http://metrodenantes.mystrikingly.com/" target="_blank"><i class="fa fa-globe"></i></a>
		<a href="https://twitter.com/NantesMetro" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.facebook.com/NantesMetro/" target="_blank"><i class="fa fa-facebook"></i></a>
		<i class="fa fa-instagram"></i>
	</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	    <img src="{% static 'legal/aligned_orgs/pavvn.jpg' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Place au Vélo Vignoble Nantais</strong> favorise
    la pratique du vélo et par extension des transports doux sur le
    pays du vignoble nantais.

		<a href="https://placeauvelovignoblenantais.fr/" target="_blank"><i class="fa fa-globe"></i></a>
		<a href="https://twitter.com/VeloVignoble44" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.facebook.com/placeauvelovignoblenantais/" target="_blank"><i class="fa fa-facebook"></i></a>
		<a href="https://www.instagram.com/placeauvelovignoblenantais/" target="_blank"><i class="fa fa-instagram"></i></a>
	</p>
    </div>
</div>

{% comment %}
<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/trottoirs.png' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Trottoirs de Nantes</strong> est une association
	    de piétons.
	    <i class="fa fa-globe"></i>
	    <a href="https://twitter.com/TrottoirN" target="_blank"><i class="fa fa-twitter"></i></a>
	    <i class="fa fa-facebook"></i>
	    <i class="fa fa-instagram"></i>
	</p>
    </div>
</div>
{% endcomment %}

<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/fnaut.jpg' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>FNAUT Pays de la Loire</strong> est une
	    association régionale des usagers des transports des Pays de la
	    Loire.
		<a href="http://www.fnaut-paysdelaloire.org/" target="_blank"><i class="fa fa-globe"></i></a>
		<a href="https://twitter.com/Fnaut_PdL" target="_blank"><i class="fa fa-twitter"></i></a>
		<a href="https://www.facebook.com/FNAUT-Pays-de-la-Loire-168200216606651/" target="_blank"><i class="fa fa-facebook"></i></a>
		<i class="fa fa-instagram"></i>
	</p>
    </div>
</div>


<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	    {% comment %}
	    <img src="{% static 'legal/aligned_orgs/fnaut.jpg' %}" style="width:80%">
	    {% endcomment %}
	<div><i class="fa fa-question" style="font-size: 40px;"></i></div>
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Association Nantaise Déplacement Environnement</strong> promeut
	    les déplacements en transports collectifs.
		<a href="http://ande-nantes.fr/" target="_blank"><i class="fa fa-globe"></i></a>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-facebook"></i>
		<i class="fa fa-instagram"></i>
	</p>
    </div>
</div>


<h2>Non-associations</h2>

<div class="row">
    <div class="col-lg-12">
	<p>
	    Vous ne pouvez pas faire un don directement à un projet qui
	n'a pas d'entité juridique.  Toutefois, vous avez la possibilité de vous y
	impliquer directement.</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/velopolitain.png' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Vélopolitain</strong> n'est pas une association en
	    soi mais un projet de Transport Nantes.  C'est un projet très
	    fort : soutenez-le par votre adhésion à Transport Nantes et par
	    votre signature sur sa pétition.

		<a href="https://www.velopolitain-nantes.fr/" target="_blank"><i class="fa fa-globe"></i></a>
		<a href="https://twitter.com/velopolitain" target="_blank"><i class="fa fa-twitter"></i></a>
		<i class="fa fa-facebook"></i>
		<i class="fa fa-instagram"></i>
	</p>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/velorution.jpg' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Vélorution</strong> est une balade mensuelle (et plus) sans
	    entité juridique mais avec une orientation politique.

		<i class="fa fa-globe"></i>
		<i class="fa fa-twitter"></i>
		<a href="https://www.facebook.com/velorution.nantes/" target="_blank"><i class="fa fa-facebook"></i></a>
		<i class="fa fa-instagram"></i>
	</p>
    </div>
</div>


<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	<img src="{% static 'legal/aligned_orgs/punc.png' %}" style="width:80%">
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Parti pour un Nantes Cyclable</strong> introduit le
	vélo dans la sphère politique.

		<i class="fa fa-globe"></i>
		<a href="https://twitter.com/Nantes_Cyclable" target="_blank"><i class="fa fa-twitter"></i></a>
		<i class="fa fa-facebook"></i>
		<i class="fa fa-instagram"></i>
    </div>
</div>


<div class="row">
    <div class="col-md-2 col-sm-3">
	<p>
	    {% comment %}
	    <img src="{% static 'legal/aligned_orgs/' %}" style="width:80%">
	    {% endcomment %}
	    <div><i class="fa fa-question" style="font-size: 40px;"></i></div>
	</p>
    </div>
    <div class="col-md-10 col-sm-9">
	<p>
	    <strong>Collectif Transport</strong> est un collectif
	    d'associations d'usagers et de syndicats d'entreprises de
	    transports. Il échange régulièrement avec la région
	    et la métropole sur les questions du transport et
	    propose des évolutions et améliorations souhaitées par
	    les usagers.  Il promeut le projet Étoile Ferroviaire.

		<i class="fa fa-globe"></i>
		<i class="fa fa-twitter"></i>
		<i class="fa fa-facebook"></i>
		<i class="fa fa-instagram"></i>
		{# email: collectif-transport.nantes@laposte.net #}
	</p>
    </div>
</div>

{% endblock %}
