{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Postes : directeurs de développement, de stratégie{% endblock og_title %}
{% block og_description %}Travailler avec une association dynamique
dans le Grand Ouest{% endblock og_description %}
{% block og_image_url %}{% static "legal/clock-1.jpg"%}{% endblock og_image_url %}

{% block twitter_image %}{% static "legal/clock-1.jpg"%}{% endblock twitter_image %}
{% block twitter_title %}Postes : directeurs de développement, de stratégie{% endblock twitter_title %}
{% block twitter_description %}Travailler avec une association dynamique
dans le Grand Ouest{% endblock twitter_description %}


{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h1>Postes à pourvoir</h1>

	<p class="text-muted">La mission de Transport Nantes est de donner un choix de
	    déplacement crédible à chacun dans la région nantaise et
	    d'améliorer les déplacements de chacun, y compris ceux qui
	    choisissent de ne pas changer.  En outre, l'association
	    souhaite influer sur le cycle électorale départementale et
	    régionale du Grand Ouest (Régions Pays de la Loire et
	    Bretagne), car une proportion importante des
	    déplacements en région nantaise concerne ces deux
	    régions.</p>
	
	<p>
	    Petite association dynamique, croisement entre
	    association classique et startup, Transport Nantes
	    cherche les compétences ci-dessous.  Association
	    #RemoteFirst.
	</p>
	<p>
	    Votre candidature est à adresser (CV et lettre de
	    motivation) à <a
    href="mailto:cv@transport-nantes.com">cv@transport-nantes.com</a>.
	    Pensez à expliquer pourquoi vous serez le bon candidat et
	    quelles expériences dans votre passée justifient vos compétences.
	    Un entretien, sous forme d'une discussion, vous permettrez
	    d'évoquer les besoins et
	    capacités de l'association et de développer des bases d'un
	    projet.  L'objectif sera non seulement de vérifier que
	    nous pouvons travailler ensemble mais de tracer ensemble
	    des pistes pour vos premiers mois de travail.</p>

	<ul>
	    <li><a href="#django">Développeur django</a></li>
	</ul>
	
	<a id="django"><h2>Développeur django</h2></a>

	<p>Mission : Votre objectif sera à la fois de développer le
	    dynamisme de notre site web et les plusieurs applications
	    qui y tourne (ou vont bientôt tourner) ainsi que de
	    veiller sur l'A/B testing qui mène à une amélioration
	    continue du site.</p>
	<p>Un point important est que la mission de l'association vous
	    passionne.  Ce n'est pas un poste de dev comme tout autre&nbsp;:
	    vous ferez une partie intégrale de l'équipe qui fait
	    avancer la mission.  Votre sens de stratégie
	    entrepreneurial vous sera un atout.</p>
	<p>
	    <ul>
		<li>Vous connaissez l'A/B testing.  Vous avez
		    une notion de l'analyse statistique.</li>
		<li>La performance d'un site web vous passionne et
		    vous savez l'améliorer par l'efficacité de votre
		    code.  Vous préférez un site léger à un site compliqué qui
		    pèse plus lourd.</li>
		<li>Vous êtes à l'aise dans un environnement linux.</li>
		<li>Vous êtes passionné des logiciels libres et avez l'instinct d'éviter
		    <em>vender lock-in</em>, sans pour autant que ce soit un dogme.</li>
		<li>Vous avez suffisamment de notion de front (HTML,
		    CSS, parfois javascript) que vous pouvez réaliser
		    les applications qui seront nécessaire à la
		    croissance de l'association.</li>
		<li>Vous aimez le TDD.</li>
		<li>Vous êtes autonome.  Vous savez créer un projet,
		    l'évaluer en continu, et le mener à sa réussite éventuelle
		    avec toute modification nécessaire au fur et à mesure.
		    Vous n'avez pas peur d'abandonner un projet ou de le changer
		    complètement si les faits le justifient.</li>
		<li>Vous avez un esprit startup.  Vous aimez un
		    environnement en évolution rapide.  Vous êtes
		    souriant, surtout face à l'adversité.</li>
		<li>Vous assurerez un reporting régulier au président
		    et au comité directeur.</li>
		<li>Vous savez respecter la ligne stratégique donnée par
		    le président et le comité directeur.  Vous
		    comprenez que celle-ci sera en évolution
		    constante, une évolution dans laquelle vous participerez.</li>
		<li>Vous êtes en capacité de faire le lien avec la
		    mission de Transport Nantes et les autres activités et
		    objectifs de l'association.  En particulier, vous savez
		    prioritiser, voire dire non à des propositions qui
		    prendront un temps excessif par rapport aux
		    bénéfices.</li>
		<li>Vous savez gérer multiples projets en même temps.</li>
	    </ul>

	    Vous travaillerez étroitement avec la directrice de
	    stratégie et notre équipe de communication, vos activités
	    respectives étant complémentaires.</p>

	<p>
	    Dans votre lettre de motivation, vous devez fournir un ou
	    deux repos github afin de nous permettre de comprendre
	    votre style et le niveau de votre travail.  En plus, un
	    élément très fort d'une lettre de motivation serait une
	    analyse (courte) des points d'amélioration de ce site.
	    (Nous en sommes très au courant, pas besoin de cacher
	    votre avis.)</p>

	<!-- ---------------------------------------- -->
	
    </div>
</div>

{% endblock %}
