{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Postes : directeurs de développement, de stratégie{% endblock og_title %}
{% block og_description %}Travailler avec une association dynamique
dans le Grand Ouest{% endblock og_description %}
{% block og_image_url %}{% static "legal/clock-1.jpg"%}{% endblock og_image_url %}

{% block twitter_image %}{% static "legal/clock-1.jpg"%}{% endblock twitter_image %}
{% block twitter_title %}Postes : directeurs de développement, de stratégie{% endblock twitter_title %}
{% block twitter_description %}Travailler avec une association dynamique
dans le Grand Ouest{% endblock twitter_description %}


{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h1>Postes à pourvoir</h1>

	<p class="text-muted">La mission de Transport Nantes est de donner un choix de
	    déplacement crédible à chacun dans la région nantaise et
	    d'améliorer les déplacements de chacun, y compris ceux qui
	    choisissent de ne pas changer.  En outre, l'association
	    souhaite influer sur le cycle électorale départementale et
	    régionale du Grand Ouest (Régions Pays de la Loire et
	    Bretagne), car une proportion importante des
	    déplacements en région nantaise concerne ces deux
	    régions.</p>
	
	<p>
	    Petite association dynamique, croisement entre
	    association classique et startup, Transport Nantes
	    cherche les compétences ci-dessous.  Association
	    #RemoteFirst.
	</p>
	<p>
	    Votre candidature est à adresser (CV et lettre de
	    motivation) à <a
    href="mailto:cv@transport-nantes.com">cv@transport-nantes.com</a>.
	    Pensez à expliquer pourquoi vous serez le bon candidat et
	    quelles expériences dans votre passée justifient vos compétences.
	    Un entretien, sous forme d'une discussion, vous permettrez
	    d'évoquer les besoins et
	    capacités de l'association et de développer des bases d'un
	    projet.  L'objectif sera non seulement de vérifier que
	    nous pouvons travailler ensemble mais de tracer ensemble
	    des pistes pour vos premiers mois de travail.</p>

	<ul>
	    <li><a href="#dirdev">Directeur de développement</a></li>
	    <li><a href="#stagedev">Stagiaire en développement</a> (fundraising)</li>
	    <li><a href="#dirstrat">Directeur de stratégie</a></li>
	</ul>
	
	<a id="dirdev"><h2>Directeur de développement</h2></a>

	<p>Mission : Votre objectif sera à la fois d'assurer la
	    croissance et la base économique de l'association ainsi
	    que d'augmenter son soutien populaire (adhésions) et
	    commercial (mécénat, sponsoring).  Vous
	    allez bâtir un modèle économique durable sans financement
	    public.  En effet, votre première responsabilité sera
	    d'assurer la durabilité du financement de votre poste ainsi que ceux de vos
	    collègues.</p>
	<p>
	    <ul>
		<li>Vous êtes autonome.  Vous savez créer un projet,
		    l'évaluer en continu, et le mener à sa réussite éventuelle
		    avec toute modification nécessaire au fur et à mesure.
		    Vous n'avez pas peur d'abandonner un projet ou de le changer
		    complètement si les faits le justifient.</li>
		<li>Vous pouvez construire un message et une identité
		    graphique de la démarche pour communiquer auprès
		    des sponsors et adhérents potentiels.</li>
		<li>Vous savez communiquer au grand public et mesurer
		    l'efficacité de vos communications.</li>
		<li>Vous êtes capable de communiquer aux sponsors,
		    adhérents, et le grand public</li>
		<li>Vous avez un esprit startup.  Vous aimez un
		    environnement en évolution rapide.  Vous êtes
		    souriant, surtout face à l'adversité.</li>
		<li>Vous assurerez un reporting régulier au président
		    et au comité directeur.</li>
		<li>Vous savez respecter la ligne stratégique donnée par
		    le président et le comité directeur.  Vous
		    comprenez que celle-ci sera en évolution
		    constante, une évolution dans laquelle vous participerez.</li>
		<li>Vous êtes en capacité de faire le lien avec la
		    mission de Transport Nantes et les autres activités et
		    objectifs de l'association.  En particulier, vous savez
		    prioritiser, voire dire non à des propositions qui
		    prendront un temps excessif par rapport aux
		    bénéfices.</li>
		<li>Vous savez gérer multiples projets en même temps.</li>
	    </ul>

	    Vous travaillerez étroitement avec le directeur de
	    stratégie, vos activités respectives étant complémentaires.
	</p>

	<p>
	    Parmi vos activités sera le développement du bénévolat et
	    du comité directeur.
	</p>

	<!-- ---------------------------------------- -->

	<a id="stagedev"><h2>Stagiaire en développement</h2></a>

	<p>Mission : Vous allez travailler avec le bureau et le futur
	    directeur de développement sur l'augmentation d'adhésion
	    de l'association.  Votre objectif principal sera de créer
	    plus de valeur que de coûts : une augmentation d'adhésion
	    qui dépasse votre rémunération.</p>

	<p>Stagiaire, vous serez accompagné dans vos démarche.
	    Compétent à votre niveau et ambitieux, vous savez apprendre, maîtriser
	    vos échecs et améliorer vos réussites sans ni égo ni culpabilité.
	    Vous avez, ou vous commencez à avoir, les compétences
	    suivantes :
	    <ul>
		<li>Vous êtes autonome.  Avec l'accompagnement de vos
		    collègues, vous savez créer un projet
		    l'évaluer en continu, et le mener à sa réussite éventuelle
		    avec toute modification nécessaire au fur et à mesure.
		    Vous n'avez pas peur d'abandonner un projet ou de le changer
		    complètement si les faits le justifient.</li>
		<li>Vous savez communiquer au grand public et mesurer
		    l'efficacité de vos communications.</li>
		<li>Vous êtes capable de communiquer aux sponsors,
		    adhérents, et le grand public</li>
		<li>Vous avez un esprit startup.  Vous aimez un
		    environnement en évolution rapide.  Vous êtes
		    souriant, surtout face à l'adversité.</li>
		<li>Vous avez une bonne capacité de communication, et
		    orale et écrite.</li>
		<li>Vous savez respecter la ligne stratégique donnée par
		    le président et le comité directeur.  Vous
		    comprenez que celle-ci sera en évolution
		    constante, une évolution dans laquelle vous participerez.</li>
		<li>Vous êtes en capacité de faire le lien avec la
		    mission de Transport Nantes et les autres activités et
		    objectifs de l'association.  En particulier, vous savez
		    prioritiser, voire dire non à des propositions qui
		    prendront un temps excessif par rapport aux
		    bénéfices.</li>
		<li>Vous savez gérer multiples projets en même temps.</li>
	    </ul>

	</p>

	<p>
	    Lecture fortement recommandée : <i>Lean Startup</i> par Eric Ries
	    (par exemple, <a href="https://www.librairiecoiffard.fr/livre/8260063-lean-startup-adoptez-l-innovation-continue-eric-ries-pearson"
	    target="new">ici</a>).
	</p>

	<p>La durée du stage est de 6 mois. Il s’agit d’un stage à
	plein temps.  Bien que remote-first, votre réussite en tant
	que stagiaire serait difficilement envisageable si vous n'habitez
	pas une des communes de Nantes Métropole.</p>

	<!-- ---------------------------------------- -->

	<a id="dirstrat"><h2>Directeur de Stratégie</h2></a>

	<p>Mission : Développer et mettre en œuvre la réalisation de
	la mission de l'association en collaboration avec le président
	et le comité directeur.
	</p>

	<p>
	    Transport Nantes a influé sur les élections municipales
	    2020 avec pour résultat des engagements
	    pro-transport doux/actif et notamment pro-vélo.  Notre
	    suivi et la construction de soutien populaire afin de
	    promouvoir ces actions sera un axe important de votre
	    mission.</p>

	<p>
	    Le dynamique lors des élections départementales et
	    régionales au printemps 2021 sera bien différente.
	    La conception et la mise en oeuvre de nos stratégie Grand
	    Ouest sera au coeur de vos responsabilités.
	</p>

	<p>
	    <ul>
		<li>Vous êtes autonome.  Vous savez créer un projet,
		    l'évaluer en continu, et le mener à sa réussite éventuelle
		    avec toute modification nécessaire au fur et à mesure.
		    Vous n'avez pas peur d'abondonner un projet ou de le changer
		    complètement si les faits le justifient.</li>
		<li>Vous savez communiquer au grand public et mesurer
		    l'efficacité de vos communications.</li>
		<li>Vous êtes capable de communiquer dans la sphère
		    politique y compris avec des élus.</li>
		<li>Vous avez un esprit startup.  Vous aimez un
		    environnement en évolution rapide.  Vous êtes
		    souriant, surtout face à l'adversité.</li>
		<li>Vous assurerez un reporting régulier au président
		    et au comité directeur.</li>
		<li>Vous savez respecter la ligne stratégique donnée par
		    le président et le comité directeur.  Vous
		    comprenez que celle-ci sera en évolution
		    constante, une évolution dans laquelle vous participerez.</li>
		<li>Vous êtes en capacité de faire le lien avec la
		    mission de Transport Nantes et les autres activités et
		    objectifs de l'association.  En particulier, vous savez
		    prioritiser, voire dire non à des propositions qui
		    prendront un temps excessif par rapport aux
		    bénéfices.</li>
		<li>Vous savez gérer multiples projets en même temps.</li>
	    </ul>

	    Vous travaillerez étroitement avec le directeur de
	    développement, vos activités respectives étant complémentaires.
	</p>

	<p>
	    Parmi vos activités sera le développement du bénévolat et
	    du comité directeur.
	</p>
	
    </div>
</div>

{% endblock %}
