{% extends 'asso_tn/base_transport_nantes.html' %}

{% block app_content %}
<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">
	    <h1>Mention légales</h1>

	    <h2>Vie privée</h2>

	    <p>Transport Nantes pense que le respect de votre vie
	    privée sur le web est un droit fondamental, c'est pourquoi
	    nous veillons à garantir votre sécurité en ligne aussi
	    rigoureusement que possible.</p> 

	    <p>Cette politique concerne toutes les pages hébergées sur
	    nos sites. Elle ne s'applique pas aux pages hébergées par
	    d'autres organisations vers lesquelles nous pouvons
	    établir des liens, et dont les politiques en matière de
	    respect de la vie privée peuvent être différentes.</p>

	    <p>Dans le cadre de cette politique, le terme
		<em>adhérent-e</em> ainsi que le terme <em>donateur</em>
		désignent une personne qui a fait une contribution
		financière à l'association. Le terme <em>sympathisant-e</em> désigne
		une personne qui nous suit sur réseau social ou qui
		s’est inscrite sur une ou plusieurs de nos listes de
		diffusion.</p>
	    
	    <h2>Hébergement</h2>

	    <p>Notre site est hébergé sur divers serveurs qui sont
	    situés chez des hébergeurs dont la politique de respect de
	    la vie privée est identique à la nôtre. Les informations
	    figurant sur les logs de nos sites ne permettent pas
	    l'identification des personnes, et nous n'essayons en
	    aucune manière d'associer ces informations aux personnes
	    qui visitent le site. Le serveur recueille des
	    informations sur les dates et heures d'accès à notre site
	    web ainsi que sur l'adresse Internet (IP) du terminal
	    (ordinateur, smartphone, tablette, etc.) à partir duquel
	    vous avez accédé à notre site. Nous pouvons ainsi suivre,
	    anonymement, la navigation d'un utilisateur à l'intérieur
	    de notre site. Nous nous servons de ces informations pour
	    améliorer le contenu et l'ergonomie de notre site et
		établir des statistiques de fréquentation.</p>

	    <p>Nous gardons les données brutes de nos serveurs pendant
	    une période qui peut varier entre plusieurs jours et
	    plusieurs semaines selon les besoin de chaque logiciel et
	    nos besoin d'analyse informatique du moment.  L'existence
	    de backups des composants peut engendrer un stockage qui
	    dure plus longtemps dans certains cas.</p>

	    <h2>Cookies</h2>

	    <p>Notre site utilise des cookies afin de mesurer et
	    améliorer l'expérience utilisateur.  (Un cookie est un
	    numéro qu’un site web peut envoyer ou sauvegarder sur
	    votre terminal lorsque vous le visitezf).</p>

	    <p>Il existe trois cas d'usage de cookies&nbsp;:
		<ul>
		    <li>Un coookie peut vous permettre de connecter à
		notre site (login), par exemple afin de consulter un
			reçu fiscal d'un don.</li>
		    <li>Un cookie peut nous permettre de comprendre,
			d'une façon anonyme, l'ergonomie de notre site
			afin de l'améliorer.</li>
		    <li>Un troisième cas ne concerne pas notre
			site&nbsp;: le <em>third party cookie</em>,
	    n'est pas utilisé par notre site.  Leur but est la
	    publicité.  Nos sites ne participent dans aucune
	    publicité.</li>
		</ul>
	    </p>

	    <h2>Protocole TLS (SSL)</h2>

	    <p>Notre site utilise le protocole TLS, qui garantie que
	    vos données sont chiffrées entre votre terminal
	    (téléphone, tablette, ordinateur, ...) et nos serveurs.</p>

	    <p>Si nous utilisons le cryptage TLS pour protéger les
		informations sensibles sur Internet, nous faisons
		également tout notre possible pour protéger ces
		informations une fois stockées.</p>

	    <h2>Détails juridiques, protection des données</h2>

	    <p>Transport Nantes est une association 1 juillet 1901
	    sans permanence, SIREN 841 751 795.  Aussi, elle n'a ni
	    adresse ni numéro de téléphone à part ceux de ces
	    bénévoles et de ces salariés.  Afin de répondre aux
	    obligations légales, nous publions l'adresse 14 bis rue
	    Metzinger, 44100 Nantes, qui est la résidence d'un de nos
	    bénévoles.  Pour tout contacte juridique avec
	    l'association ou concernant la protection des données,
	    l'adresse &nbsp;<tt>legal&nbsp;@&nbsp;transport-nantes.com</tt> est à
		votre disposition. </p>

	    <p>Les seuls données personnelles que nous collectons sont
	    celles que vous nous donnez explicitement.  Si vous faites
	    un don ou adhérer, nous sommes obligé de garder une trace
	    comptable.</p>

	    <p>Vous avez un droit d'accès, de rectification,
	    d’interrogation et d’opposition au traitement des données
	    vous concernant.  Nous vous invitons à prendre contacte
	    avec nous à l'adresse ci-haut pour toute question.  Vous
	    avez également un droit de réclamation auprès de la CNIL.</p>

	</div>
    </div>
</div>
{% endblock %}
