{% extends "base.html" %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h1>Devenir bénévole</h1>

	<p>
	    Petite association qui vise large, Transport Nantes a
	    toujours besoin de main-d'oeuvre et de compétences supplémentaires.
	</p>
	<p>
	    Si ça vous tente de nous donner un coup de main, que ce soit
	    ponctuelle ou pas, 
	    <a
    href="mailto:jevousaide@transport-nantes.com">dites-le-nous</a> !
	</p>
	<p>
	    Voilà quelques idées de compétences et de tâches qui
	    pourraient nous aider :
	</p>
	<p>
	    <ul>
		<li>Implication ponctuel :</li>
		<ul>
		    <li>Relecture</li>
		    <li>Web front (css/javascript/bootstrap/etc.)</li>
		    <li>Distribution de flyers</li>
		    <li>Publicité</li>
		    <li>Graphisme</li>
		</ul>
		<li>Implication un peu plus longue :</li>
		<ul>
		    <li>Développement commercial (recherche de sponsors)</li>
		    <li>Fundraising (adhésions)</li>
		    <li>Communication (aux adhérents)</li>
		    <li>Communication (blog etc.)</li>
		    <li>Community manager (réseaux sociaux)</li>
		    <li>Graphisme</li>
		    <li>Publicité</li>
		    <li>Designer</li>
		    <li>Rédaction</li>
		    <li>Web front (css/javascript/bootstrap/etc.)</li>
		</ul>
	    </ul>
	</p>
	<p>
	    <em>(Certaines tâches
	    sont plus compatibles avec un engagement long, certaines
	    permettent une implication vraiment ponctuelle.)</em>
	</p>
    </div>
</div>

{% endblock %}
