{% extends 'asso_tn/base_transport_nantes.html' %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h1>Devenir bénévole</h1>

	<p>
	    Venez nous aider pour les actions terrain, dans les
	réflexions, dans la création de nos outils, dans le
	développement de la communauté.</p>

	<p>
	    <a
    href="mailto:jevousaide@transport-nantes.com">Contactez-nous</a>&nbsp;!
	</p>

	<h2>Nos très prochaines actions</h2>

	<p>
	    distributions actives dans Nantes Métropole
	</p>
	<p>
	    suivi de sondage
	</p>
	<p>
	    recrutement et animation des ambassadeurs Mobilitains
	</p>
    </div>
</div>

{% endblock %}
