{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}
{% load don %}
{% load panels %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h2>Agir en faveur d'une mobilité multimodale</h2>

	<p>En devenant mobilitain, vous agissez concrètement pour la
	mobilité multimodale et amplifiez à votre échelle notre
	combat. Pas besoin d’être un pro de la mobilité pour passer à
	l’action, toutes les bonnes volontés sont bienvenues. Agir en
	tant que mobilitain c’est donner un peu de son temps pour
	aider l’association à avancer vers une plus belle mobilité.</p>
 
	<h3>Vous restez libre du temps que vous consacrez à
	votre engagement&nbsp;!</h3>

	<p>Libre à vous ! Vous investissez le temps que vous voulez et ce,
	    quand vous le souhaitez.</p>

	<h3>Choissisez le Mobilitain qui vous représente</h3>

	<ul>
	    <li>Vous voulez être en contact avec l’association, être
		informé.e du calendrier d’action et vous proposer en
		fonction de l’actualité&nbsp;?
		{# <strong>Je suis Mobil-Intéressé</strong> #}
	    </li>
	    <li>Vous avez envie d’être dans l’action tout de suite
		pour nous aider à créer des outils, à organiser et
		gérer des actions terrain&nbsp;?
		{# <strong>Je suis Mobil-Action</strong> #}
	    </li>
	    <li>Vous êtes un cycliste, un piéton, un voyageur
		qui a envie de transmettre ses remontées à
		l’association et qui a envie de participer aux
		réflexions&nbsp;?
		{# <strong>Vous êtes fait.e pour être un.e ambassadeur.rice</strong> #}
	    </li>
	</ul>

	<p class="pl-5">
	    <a href="mailto:jevousaide@transport-nantes.com?subject=Je veux être bénévole&nbsp;!"
	       class="btn
		      btn-outline-primary btn-lg">Nous
		contacter <i class="fa fa-arrow-right" area-hidden="true"></i></a>
	</p>
    </div>
</div>

<div class="row mb-0 pt-0">
    <div class="col-lg-12 mb-0 pt-0 image-overlay-container">
	<img src="{% static 'asso_tn/images-libres/pexels-andrea-piacquadio-3777952-1000.jpg' %}"
	     alt="un ambassadeur, un homme barbu" style="width:100%;">
	<span class="smallcap
		     image-overlay-text
		     image-overlay-text-white
		     image-overlay-centered">Être ambassadeur
	    Mobilitain, c'est quoi&nbsp;?
	</span>
    </a>
    </div>
</div>

<div class="row pt-5">
    <div class="col-lg-12">
	<p>C’est prendre la parole, réfléchir avec nous, faire avancer
	    les projets pour votre commune. Bref, c’est devenir un acteur de
	    la mobilité et c’est aussi passer des super moments avec toute la
	    communauté des Mobilitains&nbsp;!</p>

	<h3>Choissisez le Mobilitain qui vous représente</h3>

	<p>Vous pouvez <strong>aider au développement du
	    Vélopolitain</strong> dans votre commune, de faire
	    grandir les usagers des pistes cyclables et d'inciter à
	    plus de pratique du vélo : d’en parler, de repérer et
	    faire repérer les choses à faire évoluer, de proposer des
	    échanges, d’animer une communauté de ma commune.</p>

	<h3>Choissisez le Mobilitain qui vous représente</h3>

	<p>Vous souhaitez agir et donner envie à d’autres que moi
	    <strong>d’agir pour un réseau de transports en commun</strong>
	    beaucoup plus important avec <strong>La Grande
		Mobilité</strong> : d’en parler, de repérer et faire
	    repérer les choses à faire évoluer, de proposer des
	    échanges, d’animer une communauté de ma commune</p 

     	<p class="pl-5">
	    <a href="mailto:jevousaide@transport-nantes.com?subject=Je veux être bénévole&nbsp;!"
	       class="btn
		      btn-outline-primary btn-lg">Nous
		contacter <i class="fa fa-arrow-right" area-hidden="true"></i></a>
	</p>

    </div>
</div>

{% show_qui_sommes_nous %}
{% show_donate %}
<div class="container-fluid pl-3 pt-3">
    {% show_projects %}
</div>

{% endblock %}
