{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block app_content %}

<div class="container">
    <div class="row">
    <div class="col-12">
        <h1>Des missions pour toutes et tous</h1>

        <p>
            Tout comme le choix de votre mobilité,
            Les Mobilitains vous donnent le choix d’agir et d'améliorer les déplacements de chacun,
            y compris ceux qui choisissent de ne pas changer !
            <br />
            L'association souhaite influer sur le cycle électoral départemental et régional du Grand Ouest,
            en priorité les régions Pays de la Loire et Bretagne. Une proportion importante des déplacements
            citoyens de la région nantaise englobe spécifiquement ces deux régions.
            <br />
            Vous êtes libre d’étendre votre pouvoir d’action où que vous soyez, nous sommes là pour vous
            accompagner.
            <br />
        </p>

        <h2>Comment ça fonctionne ?</h2>

        <p>
            C’est très simple, vous choisissez la mission que vous affectionnez puis vous nous envoyez
            un mail à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
            <br />

            Nous vérifierons avec vous les capacités techniques et matérielles dont vous allez avoir besoin,
            et si tout fonctionne, c’est parti pour votre 1ère version de bénévolat.
            <br />

            Vous serez inscrit automatiquement à notre newsletter afin de recevoir les informations
            nécessaires à votre pouvoir d’action.
            <br />
        </p>

        <div class="accordian" id="job-accordion">

            <div class="card">
                <div class="card-header" id="header-nous">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#nous">
                            Nous
                        </a>
                    </h2>
                </div>
                <div id="nous" class="collapse show" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            Depuis 2020, Mobilitains agit pour une meilleure mobilité.
                            <br />
                            Indépendants, nous pensons que les trajets professionnels et privés doivent être plus
                            vertueux en allant vers moins de dangers, de contraintes et d’attentes.
                            <br />
                            Notre prochain cap est l’enjeu des élections 2022 et l’élargissement de notre
                            pouvoir d’action à l’échelle du Grand Ouest.
                            <br />
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-vous">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#vous">
                            Vous
                        </a>
                    </h2>
                </div>
                <div id="vous" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            Vous êtes animé.e par les sujets de mobilité, d’environnement ou encore de
                            justice sociale et vous avez du temps à accorder ?
                            <br />

                            Envoyez-nous un email à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                             et nous vous orienterons.
                            <br />

                            Pour votre information, les missions longues ou annuelles  vous amènerons
                            à évoluer un environnement, à l’esprit startup, totalement distanciel !
                            <br />
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-photo">
                    <h2 style="font-size: 140%;">
                        <a class="card-link" data-toggle="collapse" href="#photo">
                            Mission courte : bénévole photo.vidéographe pour la mobilité
                        </a>
                    </h2>
                </div>
                <div id="photo" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            <b>Temps estimé : 2 minutes avec l’envoi <br />
                            Outils envisagés : votre smartphone ou votre appareil photo préféré</b>
                        </p>
                        <p>
                            À titre bénévole, vous aurez pour mission d’élaborer les médias photos
                            et vidéos dont les Mobilitains ont besoin pour :
                        </p>
                        <ul>
                            <li>
                                générer des campagnes de communication engagées.
                            </li>
                            <li>
                                générer du contenu sur nos réseaux sociaux et sur notre site web
                            </li>
                        </ul>

                        <p>
                            Compétences appréciées :
                        </p>
                        <ul>
                            <li>
                                Vous maîtrisez la règle des tiers et avez des connaissances
                                en composition vidéographique et ou photographique
                            </li>
                            <li>
                                Vous avez une sensibilité visuelle et être sensible aux
                                problèmes de déplacements.
                            </li>
                        </ul>

                        <p>
                            À noter :  vous n’êtes pas seul.e. Vous serez accompagné d’une chargée
                            de communication en lien étroit avec le président des Mobilitains !
                        </p>
                        <p>
                            Contactez-nous à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-article">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#article">
                            Mission courte : donner votre vision de la mobilité de demain
                        </a>
                    </h2>
                </div>
                <div id="article" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            <b>Temps estimé : 1 ou 2h, ça dépend surtout de vous <br />
                            Outils envisagés : stylo et ordinateur</b>
                        </p>
                        <p>
                            À titre bénévole, vous aurez pour mission de rédiger un ou des articles
                             de votre vision de la mobilité de demain.
                            <br />
                            Cette mobilité a la lourde tâche d’être durable et ou vertueuse,
                            en parfaite adéquation avec la sécurité de chacun.e.
                            <br />
                            Décrivez le système de mobilité qui vous anime.
                            <br />
                            Laissez libre court à votre imagination. Promenez vous dans le temps à votre guise.
                            <br />
                            Vous serez encadré par une chargée de communication, des bénévoles ainsi que le
                            président des Mobilitains.
                            <br />
                        </p>
                        <p>
                            Compétences appréciées :
                        </p>
                        <ul>
                            <li>
                                Vous avez tout compris à Google Doc !
                            </li>
                            <li>
                                Les emails et ou slack n’ont pas de secret pour vous
                            </li>
                            <li>
                                Vous avez une certaine maîtrise de la langue française
                                et ou anglaise, surtout des fautes d’orthographes. 😛
                            </li>
                        </ul>
                        <p>
                            Contactez-nous à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-picto">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#picto">
                            Mission courte : dessiner des pictogrammes chartés Mobilitains
                        </a>
                    </h2>
                </div>
                <div id="picto" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            <b>Temps estimé : 1 ou 2h, ça dépend surtout de vous <br />
                            Outils envisagés : stylo et ordinateur</b>
                        </p>
                        <p>
                            À titre bénévole, vous aurez pour mission d’élaborer les pictogrammes et différentes
                            iconographies commandés par l’équipe Mobilitains. Vous pourrez, à votre guise, proposer
                            d’autres contributions visuelles non demandées par l’équipe.
                            <br />
                            Ces iconographies auront l'obligation de devoir respecter la
                            <a href="https://static.mobilitains.fr/download/charte-graphique.pdf">charte graphique des Mobilitains.</a>
                            <br />
                            Vous serez épaulé par une graphiste et un bénévole designer graphique pour accomplir cette mission.
                        </p>

                        <p>
                            Compétences appréciées :
                        </p>
                        <ul>
                            <li>
                                Vous avez une sensibilité graphique avérée par votre entourage
                            </li>
                            <li>
                                La technicité de votre logiciel de création n’a plus de secrets pour vous !
                            </li>
                        </ul>
                        <p>
                            Contactez-nous à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->


            <div class="card">
                <div class="card-header" id="header-cp">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#cp">
                            Mission courte : rédiger les communiqués de presse à destination des journalistes de votre territoire.
                        </a>
                    </h2>
                </div>
                <div id="cp" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            (en cours d'écriture)
                        </p>
                        <p>
                            Contactez-nous à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-heure">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#heure">
                            J’ai 1h / mois à donner ou plus et je ne sais pas quoi choisir ?
                        </a>
                    </h2>
                </div>
                <div id="heure" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            Nous sommes une organisation agile et réactive. Vous pourrez forcément nous aider.
                        </p>
                        <p>
                            Contactez-nous directement à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-velopolitain">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#velopolitain">
                            Mission fun : déplacez-vous en réalisant des remontées de terrain
                        </a>
                    </h2>
                </div>
                <div id="velopolitain" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            <b>Temps estimé : ça dépend surtout de vous <br />
                            Outils envisagé : vélo, caméra, ordinateur</b>
                        </p>
                        <p>
                            À titre bénévole, vous aurez pour mission de réaliser des captures vidéos
                            des infrastructures cyclables près de chez vous. Véritable mine d’or d’informations,
                            ces médias serviront une quantité d’actions entreprises par Les Mobilitains.
                            <br />
                        </p>

                        <p>
                            Compétences appréciées :
                        </p>
                        <ul>
                            <li>
                                Avoir des notions de cadrage vidéos
                            </li>
                            <li>
                                Avoir d’encodage et de post-production est un plus
                            </li>
                        </ul>
                        <p>
                            Si vous souhaitez réaliser des remontées de terrains pour
                            l’organisation, contactez-nous à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-pieton">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#pieton">
                            Mission bi-mensuelle : participer à l’opération piéton
                        </a>
                    </h2>
                </div>
                <div id="pieton" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            (en cours d'écriture)
                        </p>
                        <p>
                            Contactez-nous à <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->

            <div class="card">
                <div class="card-header" id="header-observatoire">
                    <h2 style="font-size: 140%;">
                        <a class="card-link"  data-toggle="collapse" href="#observatoire">
                            Mission bi-mensuelle : participer à l’observatoire du Vélopolitain
                        </a>
                    </h2>
                </div>
                <div id="observatoire" class="collapse" data-parent="#job-accordion">
                    <div class="card-body">
                        <p>
                            <b>L’observatoire du Vélopolitain</b> est un outil numérique développé par
                            les Mobilitains ayant pour objectif de constater l’avancement et la bonne conformité
                            des infrastructures cyclables votées et aménagées par Nantes Métropole.
                            L’observatoire du Vélopolitain se base sur le Référentiel d’Aménagements Cyclables
                            élaboré par la métropole nantaise.  Il n’est pas l’avis des Mobilitain.e.s.
                            <br />
                            À titre bénévole, nombre de contributions sont possibles sur ce projet d’envergure.
                            <br />

                            <a href="{% url 'geoplan:map' 'nantes' 'velopolitain' %}" class="btn donation-button m-1">Page de l'observatoire</a><br />
                            <a href="{% url 'geoplan:howto' 'nantes' 'velopolitain' %}" class="btn donation-button m-1">Mode d'emploi des contributeur.ices expert.es</a>
                        </p>
                        <p>
                            Nous vous invitons à visiter les pages du projet et à nous contacter à
                            <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr</a>
                        </p>
                    </div>
                </div>
            </div> <!-- end card -->


        </div> <!-- end of accordian -->


    </div>
    </div>
</div>

{% endblock app_content %}