{% load static %}
<!DOCTYPE html>
<html lang="fr"{% block html_attribs %}{% endblock html_attribs %}>
{% block html %}
  <head>
      <!--
	  Tu trouves que le site pourrait être plus beau, plus ergonomique ?
	  Tu te demandes pourquoi, ce qui nous empêche ?

	  C'est clair :  C'est toi qui nous manques.

	  Nous sommes en sous-effectif permanent.
	  Nos compétences ne sont pas concentrées sur les technologies web,
	  et encore moins côté front.

	  Si tu aurais un intérêt de t'impliquer encore plus,
	  tu seras clairement le bienvenu-e.

	  Et si tu n'as pas de temps, si tu veux simplement jeter un coup d'oeil,
	  peut-être offrir un coup de main ponctuel, ce serait également le bienvenu.
	  N'hésite pas à envoyer un PR.

	    https://github.com/transport-nantes/tn_web

       -->
    {% block head %}
    <title>{% block title %}{{ title|default:"Transport Nantes" }}{% endblock title %}</title>
    {% block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock metas %}

    {% block styles %}
    {# Bootstrap #}
    {# Latest compiled and minified CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    {# Font Awesome #}
     <script src="https://kit.fontawesome.com/46b82563d9.js" crossorigin="anonymous"></script>
    {% endblock styles %}
    <meta property="og:title" content="{% block og_title %}Pour un vrai choix dans vos déplacements{% endblock og_title %}" />
    <meta property="og:type" content="{% block og_type %}website{% endblock og_type %}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />
    <meta property="og:description" content="{% block og_description %}Notre vision est simple : donner un choix de déplacement crédible à chacun, améliorer les déplacements de chacun, même ceux qui choisissent de ne pas changer. Pour agir, nous avons besoin de votre voix.{% endblock og_description %}" />
    <meta property="og:image" content="https://{{ request.get_host }}{% block og_image_url %}/static/velopolitain/v1.png{% endblock og_image_url %}" />
    <meta property="og:image:alt" content="{% block og_image_alt %}{% endblock og_image_alt %}" />
    <meta property="og:image:type" content="{% block og_image_type %}image/png{% endblock og_image_type %}" />
    <meta property="og:image:width" content="{% block og_image_width %}{% endblock og_image_width %}" />
    <meta property="og:image:height" content="{% block og_image_height %}{% endblock og_image_height %}" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:site_name" content="Transport Nantes" />
    {# https://developer.twitter.com/en/docs/tweets/optimize-with-cards/guides/getting-started #}
    <meta name="twitter:card" content="{% block twitter_card %}summary_large_image{% endblock twitter_card %}" />
    <meta name="twitter:site" content="{% block twitter_site %}@TransportNantes{% endblock twitter_site %}" />
    <meta name="twitter:creator" content="{% block twitter_creator %}@TransportNantes{% endblock twitter_creator %}" />
    <meta name="twitter:image" content="https://{{ request.get_host }}{% block twitter_image %}/static/velopolitain/v1.png{% endblock twitter_image %}" />
    {% comment %}
    <meta name="twitter:title" content="{% block twitter_title %}{% endblock twitter_title %}" />
    <meta name="twitter:description" content="{% block twitter_description %}{% endblock twitter_description %}" />
    {% endcomment %}
    {% endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body %}
    {% block navbar %}
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
	  <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'asso_tn/TN-minimallogo_brown.png' %}" alt="Transport Nantes logo" width="20%"></a>
	  {% if role == 'dev' %}<span style="background-color: #880000">&nbsp; DEV - DEV - DEV - DEV &nbsp; </span>
	  {% elif role == 'beta' %}<span style="background-color: #FF0000">&nbsp; TEST - BETA - TEST - BETA &nbsp;</span>
	  {% elif not is_production %}<span style="background-color: #FF0000">&nbsp; ce site n'est pas le vrai &nbsp; </span>
	  {% endif %}
	  <ul class="navbar-nav">
	      <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Accueil</a></li>
	      <li class="nav-item"><a class="nav-link" href="{% url 'velopolitain:index' %}">Vélopolitain</a></li>
	      <li class="nav-item"><a class="nav-link" href="{% url 'grand_nantes:index' %}">Chronotrain</a></li>
	      <li class="nav-item"><a class="nav-link" href="{% url 'surveys:choose_commune' 2 %}">Municipales</a></li>
	      <li class="nav-item dropdown">
		  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
		      Plus
		  </a>
		  <div class="dropdown-menu">
		      <a class="dropdown-item" href="{% url 'legal:sponsor' %}">Sponsor</a>
		      <a class="dropdown-item" href="{% url 'legal:aligned_orgs' %}">Associations</a>
		      <a class="dropdown-item" href="{% url 'legal:volunteer' %}">Bénévolat</a>
		      {% if user.is_authenticated %}
		      <form method="POST" action="{% url 'authentication:logout' %}">{% csrf_token %}<button type="submit" class="btn btn-link"><i class="fa fa-sign-out" style="color:gray" aria-hidden="true"></i> Déconnexion</button></form>
		      {% else %}{% if not is_production %}
		      <a class="dropdown-item" href="{% url 'authentication:login' %}"><i class="fa fa-sign-in" style="color:gray" aria-hidden="true"></i> Connexion</a>{% endif %}
		      {% endif %}
		  </div>
	      </li>
	      {# <li class="nav-item">{% if user.is_authenticated %}<i class="fa fa-sign-out" style="color:gray" aria-hidden="true"></i>{% else %}<i class="fa fa-sign-in" style="color:gray" aria-hidden="true"></i>{% endif %}</li> #}
	      <li class="nav-item">{% if user.is_authenticated %}<i class="fa fa-user fa-2x" style="color:gray" aria-hidden="true"></i>{% endif %}</li>
	  </ul>
      </nav>
      {# I don't know how correctly to make some space between navbar and body.  This works. #}
      <div container><div class="row"><div class="col-lg-12"><p></p></div></div></div>
    {% endblock navbar %}
    {% block content %}
    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
    {% endblock content %}

    {% block scripts %}
    {# jQuery library #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {# Popper JS #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    {# Latest compiled JavaScript #}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
    {% endblock scripts %}
    {% block localscripts %}{% endblock localscripts %}
    {% endblock body %}
  </body>
{% endblock html %}
</html>
