{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Nous contacter</h1>
    <p class="hero-description">Un instant...</p>
    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
  </div>
</div>

<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">
	    <h1>Nous contacter</h1>

	    <p>Bientôt il y aura un formulaire de contacte sur cette
		page.  En attendant, les méls marchent très bien.
		<a href="mailto:jevousaide@transport-nantes.com">Contactez-nous</a>.</p>

	</div>
    </div>
</div>
{% endblock %}
