{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load mpanels %}
{% load newsletter %}
{% load don %}

{% block styles %}

    {{ block.super}}

    {% if hero_image %}
        <style>
            .hero-image {
                /*
                Use "linear-gradient" to add a darken background effect to the
                image (photographer.jpg). This will make the text easier to read
            */
                background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url("{% static hero_image %}");

                /* Set a specific height */
                height: 40%;

                /* Position and center the image to scale nicely on all screens */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
                }
        </style>
    {% endif %}
{% endblock styles %}

{% block content %}
<!-- Banner with the image above the written content -->
<div class="hero-image">
     <div class="hero-text">
          <h1 class="hero-title">{{ hero_title }}</h1>
          <p class="hero-description">{{ hero_description }}</p>
     </div>
</div>

<div class="container-fluid py-5 px-0 col-12 col-md-10 d-flex flex-wrap">
    {% block app_content %}

        <div id="main_body_cf" class="d-flex flex-column col-12 col-xl-8 ">
            <section id="introduction_cf">
                <p><em>14 décembre 2021,</em></p>

                <h2 id="CF_title" class="mb-3">
                    🎉 Le premier palier a été atteint ! Merci à toutes et tous pour votre confiance et vos contributions
                </h2>

                <p><b>Votre don est éligible à une réduction d'impôts allant jusqu'à 66% du montant !</b></p>

                <div class="iframe_container my-5">
                    <iframe
                    src="https://www.youtube.com/embed/GBQAMc0opEQ"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    class="youtube-video"
                    allowfullscreen></iframe>
                </div>

                <span class="d-flex my-5">
                    <a href="{% url 'stripe_app:stripe' %}" class="d-block mx-auto btn donation-button">
                        <span>Soutenir le projet</span>
                        <i class="fa fa-arrow-right" area-hidden="true"></i>
                    </a>
                </span>

                <h3> Une meilleure mobilité, qu’est-ce que c’est ? </h3>

                <p>
                Une meilleure mobilité c’est se déplacer en
                utilisant plusieurs modes de transport. Les amateurs de
                l'intermodalité vous le diront, coupler par exemple le train
                et le vélo, c’est se déplacer plus loin, plus confortablement
                et plus sereinement.
                </p>
            </section>

            <section id="constat_mobilité_cf">
                <h3>Le constat de notre mobilité actuelle</h3>

                <p>
                    Trop d’embouteillages récurrents ! L’ensemble de notre réseau de mobilité est saturé.
                    Pour préserver notre santé, notre liberté et notre planète, il existe bon nombre
                    d’alternatives à vos déplacements. <br />
                    La solution des Mobilitains → arrêter le tout voiture et mixer les modes de transports individuels ou collectifs.
                </p>
                
                <ul>
                    <li>🚴🏼‍♂️ Vélo</li>
                    <li>🚄 Train</li>
                    <li>🚎 Transports collectifs</li>
                    <li>🛴 Trotinette</li>
                    <li>🚶 Pieds</li>
                    <li>🚴🏼‍♂️🚄 Vélo + train</li>
                    <li>🚶🚊 Pieds + Tramway</li>
                    <li>🚗🚌 Voiture + Bus</li>
                    <li>etc...</li>
                </ul>

            </section>

            <section id="agir_pour_vous_cf" class="mt-3">
                <h3>
                    Agir pour et avec vous
                </h3>
                <p>Nous ne pourrons modifier nos infrastructures urbaines qu’en démontrant les besoins de mobilité de la grande majorité des usagers. 🚴🏿‍♀️</p>
                <p>
                    Fédérer une communauté de donateur et de donatrice nous permettrait de réunir nos voix pour un impact politique plus fort.
                    <strong>Financer la possibilité de choisir notre mode de transport, c’est agir ensemble pour NOTRE MOBILITÉ.</strong>
                </p>
                <img src="{% static 'asso_tn/crowdfunding_2021/01-IMG-crowdfunding-mobilitains.jpg' %}"
                alt="Ensemble, sensibilisons les citoyens à appréhender les dangers"
                class="img-fluid d-flex mx-auto my-4" />
            </section>

            <section id="donner_pour_la_mobilité_cf" class="mt-3">
                <h3>Donner pour la mobilité c’est :</h3>
                <ul>
                    <li>faire un geste pour notre planète, avec un meilleur
                environnement urbain</li>
                    <li>agir sur la réduction importante de nos embouteillages</li>
                    <li>se sentir en sécurité lors de nos déplacements en vélo, en overboard,
                en trottinette ou à pied !</li>
                    <li>agir sur la diminution de notre stress lors de nos trajets quotidiens
                pour aller au travail.</li>
                    <li>bâtir un meilleur avenir pour nos jeunes et nos enfants.</li>
                </ul>
                <br />

                <p><b>C'est grâce à vous que nous pouvons continuer à militer
                en toute indépendance&nbsp;!</b></p>
            </section>

            <section id="a-quoi-serivront-les-fonds">
                <h2>
                        À quoi serviront les fonds ?
                </h2>

                    <p>
                        🤸🏿‍♂️ <b>Avec 5 000 €, un projet piéton inédit</b> dans le quartier des Hauts Pavés Saint Félix.
                        Une action publicitaire avec un concours photo citoyen programmé autour de la vie et des
                        infrastructures piétonnes. Poussons la métropole nantaise à prendre au sérieux et à améliorer
                        la qualité de notre dernier kilomètre.
                    </p>
                    <p>
                        <b>🚴‍♀️ Avec 10 000 €, lançons l’observatoire du Vélopolitain,</b>
                        un projet participatif qui aura 2 objectifs : pousser les territoires à adopter un réseau
                        cyclable sécurisé, sans discontinuité, et apprendre au citoyen-usager à reconnaître un
                        bon ou mauvais aménagement cyclable !
                    </p>
                    <p>
                        <b>🔝  Avec 20 000€, l’observatoire de la Grande Mobilité</b>
                        sortira de l’ombre. Ce grand projet soulignera que nos déplacements dans la région nantaise
                        ne sont pas toujours réalisés en voiture, même dans les zones où la voiture est omniprésente.
                        Il servira de base pour militer sur le  rééquilibrage urgent de nos systèmes de déplacement.
                    </p>
                    <p>
                        <b>🚀 Avec 40 000€, tous ces projets verront la lumière du jour</b>
                        d’ici à fin 2022. Ce sera grâce à vos soutiens que tout cela sera possible !
                    </p>

            </section>

            <p>
                Sachez que nous vous aimons : pour nous, rien n’est trop pour vous remercier !
                Pour toute demande, N'hésitez pas à nous contacter directement à 
                <a href="mailto:contact@mobilitains.fr">contact@mobilitains.fr<a/>. 
            </p>


            <span class="d-flex my-5">
                <a href="{% url 'stripe_app:stripe' %}" class="d-block mx-auto btn donation-button">
                    <span>Soutenir le projet</span>
                    <i class="fa fa-arrow-right" area-hidden="true"></i>
                </a>
            </span>

            <section id="supports_cf">
                <p>Soutenu par</p>
                <div id="partners_icons" class="container mb-5 mt-2 mx-0">
                    <div class="row">
                        <img class="d-flex col-7 col-sm-4" src="{% static 'asso_tn/crowdfunding_2021/logo-transway-v2.png' %}" alt="Transway" />
                    </div>
                </div>
            </section>
        </div>
        <aside id="cards_holder_cf" class="d-flex flex-column col-12 col-sm-7 col-xl-3 mx-auto justify-content-center">
            <div id="card_velorution_1" class="card mb-4 velorution-cards mx-auto" >
                <img class="card-img-top" src="{% static 'asso_tn/crowdfunding_2021/contrepartie-crowdfunding_Contrepartie-1.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">À partir de 10€</h5>
                    <p class="card-text">Un remerciement digne de ce
                    nom en pixels trois couleurs !
                    L’inscription à notre newsletter.
                    Bon... si vous l’aviez demandé
                    gentiment, nous vous aurions
                    inscrit gratuitement, mais c'est
                    plus sympa avec un petit geste,
                    non ?</p>
                    <div class="spacer"></div>
                    <span class="bottom-button">{% fixed_amount_donation_button 10 "Je donne 10€ !" %}</span>
                </div>
            </div>

            <div id="card_velorution_2" class="card mb-4 velorution-cards mx-auto" >
                <img class="card-img-top" src="{% static 'asso_tn/crowdfunding_2021/contrepartie-crowdfunding_Contrepartie-2.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">À partir de 20€</h5>
                    <p class="card-text">En plus des récompenses
                    citées avant, recevez votre
                    bannière “Je soutiens la
                    mobilité avec les Mobilitains”
                    pour personnaliser votre
                    réseau social préféré. • En
                    cadeau, une carte postale
                    éditée par la team Mobilitains !</p>
                    <div class="spacer"></div>
                    <span class="bottom-button">{% fixed_amount_donation_button 20 "Je donne 20€ !" %}</span>
                </div>
            </div>

            <div id="card_velorution_1" class="card mb-4 velorution-cards mx-auto" >
                <img class="card-img-top" src="{% static 'asso_tn/crowdfunding_2021/contrepartie-crowdfunding_Contrepartie-3.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">À partir de 50€</h5>
                    <p class="card-text">En plus des récompenses déjà
                    énoncées, vous serez cité en
                    tant que donateur Mobilitains
                    sur notre site mobilitains.fr. •
                    Des post-its personnalisés pour
                    noter toutes vos idées !</p>
                    <div class="spacer"></div>
                    <span class="bottom-button">{% fixed_amount_donation_button 50 "Je donne 50€ !" %}</span>
                </div>
            </div>

            <div id="card_velorution_2" class="card mb-4 velorution-cards mx-auto" >
                <img class="card-img-top" src="{% static 'asso_tn/crowdfunding_2021/contrepartie-crowdfunding_Contrepartie-4.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">À partir de 100€</h5>
                    <p class="card-text">C’est officiel, vous êtes
                    cordialement invité à participer
                    à un atelier citoyen organisé
                    par les Mobilitains et apprenez
                    à reconnaître une bonne
                    infrastructure cyclable.
                    • Votre t-shirt Mobilitains taillé
                    pour vous !</p>
                    <div class="spacer"></div>
                    <span class="bottom-button">{% fixed_amount_donation_button 100 "Je donne 100€ !" %}</span>
                </div>
            </div>

            <div id="card_velorution_1" class="card mb-4 velorution-cards mx-auto" >
                <img class="card-img-top" src="{% static 'asso_tn/crowdfunding_2021/contrepartie-crowdfunding_Contrepartie-5.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">À partir de 200€</h5>
                    <p class="card-text">Waouh, devenez Mobilitain et
                    recevez notre guide des
                    aménagements cyclables
                    préféré • Des gilets de sécurité
                    pour toute la famille !</p>
                    <div class="spacer"></div>
                    <span class="bottom-button">{% fixed_amount_donation_button 200 "Je donne 200€ !" %}</span>
                </div>
            </div>

            <div id="card_velorution_2" class="card mb-4 velorution-cards mx-auto" >
                <img class="card-img-top" src="{% static 'asso_tn/crowdfunding_2021/contrepartie-crowdfunding_Contrepartie-6.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">À partir de 500€</h5>
                    <p class="card-text">Profitez de cette occasion pour
                    sortir de l’anonymat : faites
                    vous dresser votre portrait de
                    donateur ambassadeur par un
                    membre de l’équipe • Le
                    portrait sera visible sur le site
                    Mobilitains.fr !</p>
                    <div class="spacer"></div>
                    <span class="bottom-button">{% fixed_amount_donation_button 500 "Je donne 500€ !" %}</span>
                </div>
            </div>

            <div id="card_velorution_1" class="card mb-4 velorution-cards mx-auto" >
                <img class="card-img-top" src="{% static 'asso_tn/crowdfunding_2021/contrepartie-crowdfunding_Contrepartie-7.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">À partir de 1000€</h5>
                    <p class="card-text">🎊 Cette fois, vous avez la palme
                    d’or. Déjeunez avec notre
                    président dans l’une des tables
                    de Nantes et entrez dans
                    l’univers des Mobilitains. Vous
                    serez au centre de l’attention à
                    votre prochaine soirée avec
                    toutes les histoires que vous
                    aurez à raconter. • Recevez tout
                    ou une partie des récompenses
                    déjà citées !</p>
                    <div class="spacer"></div>
                    <span class="bottom-button">{% fixed_amount_donation_button 1000 "Je donne 1000€ !" %}</span>
                </div>
            </div>
        </aside>

    {% endblock app_content %}
</div>

<div class="background-ad-hoc-blue">
    <div class="d-flex flex-column p-4 p-xl-5">
        {% show_projects %}
        {% show_mailing_list mailinglist="general-quarterly" title="Restez en contact !" %}
        {% show_qui_sommes_nous %}
    </div>
</div>

{% show_donate %}
<div id="volunteer">
    {% show_volunteer %}
</div>

{% endblock content %}
