{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% comment %}
  I use content and not app_content to avoid a container and so go full-width.
{% endcomment %}

{% block content %}

<div class="hero-image">
  <div class="hero-text">
    {% comment %}<h1>Vélopolitain</h1>{% endcomment %}
    <p class="hero-description"><a class="hero-link" href="{% url 'velopolitain:index' %}">
    Une mobilité sûr, vertueuse, et agréable</a></p>
    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
  </div>
</div>

<div container>
    <div class="Row">
	<h1>Nos projets</h1>
    </div>
    <div class="row">
	<div class="col-md-3">
	    <div class="thumbnail">
		<a href="">
		    <img src="static/velopolitain/tactical/provisoire-4.jpg"
			 alt="Lorem ipsum" style="width:100%">
		    <div class="caption">
			{% comment %}<h2>Les rencontres visibles</h2>{% endcomment %}
			<p>
			    Gilets réfléchissants gratuits
			</p>
		    </div>
		</a>
	    </div>
	</div>
	<div class="col-md-3">
	    <div class="thumbnail">
		<a href="{% url 'velopolitain:index' %}">
		    <img src="static/velopolitain/tactical/provisoire-1.jpg"
		    alt="Vel fingilla" style="width:100%">
		    <div class="caption">
			{% comment %}<h2>Le Vélopolitain</h2>{% endcomment %}
			<p>
			    Améliorer les pistes cyclabes dans toute
			    la métropole
			</p>
		    </div>
		</a>
	    </div>
	</div>
	<div class="col-md-3">
	    <div class="thumbnail">
		<a href="{% url 'grand_nantes:index' %}">
		   <img src="static/velopolitain/tactical/provisoire-6.jpg"
		   alt="Morbi enim" style="width:100%">
		   <div class="caption">
		       {% comment %}<h2>La grande mobilité</h2>{% endcomment %}
		       <p>
			   Plus de dessertes partout dans la région
			</p>
		   </div>
		</a>
	    </div>
	</div>
	<div class="col-md-3">
	    <div class="thumbnail">
		<a href="">
		    <img src="static/velopolitain/tactical/provisoire-5.jpg"
		   alt="Est velit egestas" style="width:100%">
		    <div class="caption">
		       {% comment %}<h2>Les ambassadeurs Mobilitains</h2>{% endcomment %}
		       <p>
			   Soutenez-nous dans votre commune
		       </p>
		    </div>
		</a>
	    </div>
	</div>
    </div>

    <div class="jumbotron">
	<div class="row">
	    <div class="col-lg-12">
		<h1>Mieux nous connaître</h1>

		<p>Nous agissons pour une mobilité plus fluide, plus
		sécurisée, plus vertueuse dans la l’Ouest pour les
		cyclistes, les piétons, les voyageurs des transports
		en commun, et les automobilistes.</p>

		<p>A l’instar des élections 2020 avec le début du
		Vélopolitain (plus de 1000 signatures recueillies),
		nos actions doivent être portées et concrétisées en
		s'inscrivant au coeur des élections 2021.</p>

		<p>Bref, nous sommes une association qui bouge&nbsp;!</p>

		<p align="center">
		    <a href="{% url 'index' %}" class="btn
		    btn-outline-primary btn-lg">Nous découvrir</a>
<a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
		</p>
	    </div>
	</div>
    </div>

    <div class="row">
	<div class="col-lg-12">
	    <p>Notre vision est simple : donner un <strong>choix de déplacement crédible</strong> à
		chacun, améliorer les déplacements de chacun, <strong>même ceux qui choisissent
		de ne pas changer</strong>.  Pour agir, nous avons besoin de votre voix.</p>

	    <p class="lead text-primary">Notre stratégie est également simple :
		engager nos élus, leur montrer que nous sommes nombreux à vouloir
		un système de déplacement efficace, pas cher, et écologique.
	    </p>

	    <p><strong>Nous avons le choix</strong> : continuer à créer plus
		de capacité voiture ou commencer à offrir un vrai choix aux
		habitants de notre région.  Et le choix est clair : aucune ville,
		aucune région n'a jamais réduit ses bouchons en élargissant
		les capacités.  Les régions qui encouragent et construisent
		pour les cyclistes, pour la marche à pied, et pour les transports
		collectifs, par contre, voient leur bouchons diminuer, voire
		disparaître.  Sans obliger qui que ce soit à changer de mode de
		déplacement.</p>

	    {% comment %}
	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	    {% endcomment %}
	</div>
    </div>

</div>
<div container>
    <div class="Row">
	<h1>Ensemble nous sommes la solution</h1>
    </div>
    <div class="row">
	<div class="col-sm-6">
	    <div class="thumbnail">
		<a href="">
		    <img src="static/velopolitain/tactical/provisoire-4.jpg"
			 alt="Lorem ipsum" style="width:100%">
		    <div class="caption">
			{% comment %}<h2>Les rencontres visibles</h2>{% endcomment %}
			<p>
			    Faire un don
			</p>
		    </div>
		</a>
	    </div>
	</div>
	<div class="col-sm-6">
	    <div class="thumbnail">
		<a href="{% url 'velopolitain:index' %}">
		    <img src="static/velopolitain/tactical/provisoire-1.jpg"
		    alt="Vel fingilla" style="width:100%">
		    <div class="caption">
			{% comment %}<h2>Le Vélopolitain</h2>{% endcomment %}
			<p>
			    Adhérer
			</p>
		    </div>
		</a>
	    </div>
	</div>
    </div>
</div>
{% endblock %}
