{% extends 'asso_tn/base_mobilitain.html' %}
{% load don %}
{% load mpanels %}
{% load newsletter %}
{% load launcher %}
{% load item_teaser %}
{% block content %}
{% item_teaser 'ligne-johanna-rolland-pour-plus-de-mobilite' %}
<div class="background-ad-hoc-blue">
    <div class="d-flex flex-column p-4 p-xl-5">
        <h2>Les projets Mobilitains</h2>
        <div class="row">
            {% launcher "presidentielles-2022" %}
            {% launcher "la-grande-mobilite" %}
            {% launcher "velopolitain" %}
            {% launcher "ligne-johanna-rolland-2021" %}
        </div>
        {% show_mailing_list mailinglist="general-quarterly" title="Restez en contact !" %}
        {% item_teaser 'operation-pieton' %}
        {% show_volunteer %}
    </div>
</div>
{% endblock %}
