{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block app_content %}
<div container>
    <div class="jumbotron">
	<div class="hero-text">
	    <h1>Déplaçons-nous mieux</h1>
	    <p>Déplaçons-nous mieux dans la région nantaise et au delà</p>
	</div>
    </div>

    <div class="jumbotron">
	<div class="row">
	    <div class="col-lg-12">
		<p><strong>Les municipales s'achèvent</strong> : grâce
		    à Transport Nantes, toutes les candidates
		    principales à Nantes (et parfois hors Nantes)
		    se sont engagées à la construction <strong>du
		    Vélopolitain</strong>.</p>

		<p style="margin-left:5%; margin-right:5%;
			  font-size:smaller;">
		    Lire les réponses des candidates à
		    notre questionnaire : au <a href="{% url
						    'surveys:choose_commune' 1 %}" class="text-muted">
		    premier tour</a> et au
		    <a href="{% url 'surveys:choose_commune' 2 %}" class="text-muted">
			deuxième tour</a>.</p>

		<p>Et nous vous remercions : sans vous, sans vos dons,
		sans vos signatures sur notre pétition, sans les
		    militants de Transport Nantes et d'autres <a
                    href="{% url 'legal:aligned_orgs' %}" class="text-muted">associations nantaises</a>,
		    nos réussites auraient été impossible.</p>

		<a href="{% url 'velopolitain:index' %}">
		    <img src="{% static 'asso_tn/accueil/conv.jpg' %}" style="width:100%">
		</a>

		<p style="margin-top:2mm"><strong>
		    C'est maintenant que le vrai boulot commence :</strong>
		    <ul>
			<li>Le <strong>suivi</strong> à Nantes et dans Nantes
		    Métropole afin d'assurer que notre vision
		    ambitieuse ne soit pas abandonnée.</li>
			<li>La <strong>préparation</strong> des élections
			    départementales et régionales au printemps 2021.</li>
		    </ul>
		</p>
		<p>Dans les semaines à venir nous vous communiquerons
		    plus sur ces sujets.  En attendant, si ce n'est
		    pas déjà le cas, déclarez votre soutien : adhérez,
		    même par un petit don, et joignez votre voix à la nôtre.
		    Même un
		    petit montant nous permettra de dire que
		    votre voix est là avec nous.  Combien cela vaut-il pour vous
		    ?
		</p>
		<p>
		    Ensemble nous sommes plus forts !
		</p>
		<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
		</p>
	    </div>
	</div>
    </div>

    <div class="row">
	<div class="col-lg-12">
	    <p>Notre vision est simple : donner un <strong>choix de déplacement crédible</strong> à
		chacun, améliorer les déplacements de chacun, <strong>même ceux qui choisissent
		de ne pas changer</strong>.  Pour agir, nous avons besoin de votre voix.</p>

	    <p class="lead text-primary">Notre stratégie est également simple :
		engager nos élus, leur montrer que nous sommes nombreux à vouloir
		un système de déplacement efficace, pas cher, et écologique.
	    </p>

	    <p><strong>Nous avons le choix</strong> : continuer à créer plus
		de capacité voiture ou commencer à offrir un vrai choix aux
		habitants de notre région.  Et le choix est clair : aucune ville,
		aucune région n'a jamais réduit ses bouchons en élargissant
		les capacités.  Les régions qui encouragent et construisent
		pour les cyclistes, pour la marche à pied, et pour les transports
		collectifs, par contre, voient leur bouchons diminuer, voire
		disparaître.  Sans obliger qui que ce soit à changer de mode de
		déplacement.</p>

	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	</div>
    </div>

</div>
{% endblock %}
