{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block og_title %}Postes : directeurs de développement, de stratégie{% endblock og_title %}
{% block og_description %}Travailler avec une association dynamique
dans le Grand Ouest{% endblock og_description %}
{% block og_image_url %}{% static "legal/clock-1.jpg"%}{% endblock og_image_url %}

{% block twitter_image %}{% static "legal/clock-1.jpg"%}{% endblock twitter_image %}
{% block twitter_title %}Postes : directeurs de développement, de stratégie{% endblock twitter_title %}
{% block twitter_description %}Travailler avec une association dynamique
dans le Grand Ouest{% endblock twitter_description %}


{% block app_content %}

<div class="container">
    <div class="row">
	<div class="col-lg-12">
	    <h2>Nos valeurs</h2>

	    <p>
		Les Mobilitains militent pour un changement radical de
		la mobilité et des perceptions de la mobilité dans
		Nantes Métropole, dans les Pays de la Loire et dans le
		Grand Ouest.  Ils sont indépendants de tout pouvoir
		économique et politique et s’appuient sur un mouvement
		citoyen engagé pour construire une mobilité durable et
		équitable.
	    </p>
	    <p><b>
		6 bonnes raisons de travailler pour les Mobilitains</b>
		<ul>
		    <li>Améliorer la mobilité sur notre territoire :
			nous dénonçons les actions qui nuisent à la
			mobilité et apportons des solutions qui
			contribuent à son amélioration.</li>
		    <li>Détermination : nos salariés sont déterminés
			pour promouvoir un réel changement dans notre
			société.</li>
		    <li>Créativité et innovation : nous encourageons
			les initiatives et la mobilisation des
			compétences pour créer de nouvelles
			opportunités.</li>
		    <li>Engagement et professionnalisme : tous les
			salariés contribuent au succès des campagnes
			avec passion et engagement.</li>
		    <li>L'auto-formation : Nous nous formons pour
			devenir expert dans tous les domaines
			pertinents à nos actions.</li>
		    <li>Dynamisme : nous voyons l'échec comme une
			étape incontournable de l'apprentissage et
			chacun de nous travaille à s'améliorer sans
			cesse.</li>
		</ul>
	    </p>

	</div>
	<div class="col-lg-12">
	    <h2>Nos offres</h2>

	    <p><b>Intitulé du poste :</b> Chargé de communication.<br>
		<b>Domaine :</b> Communication<br>
		<b>Durée :</b> CDI (éventuellement), peut commencer en
		CDD / temps partiel / contrat.<br>
		<b>Annonce publié :</b> septembre 2022
	    </p>

	    <h3>Missions</h3>
	    <p>Les Mobilitains cherchent une personne pour effectuer
		la transformation de nos projets en communication
		efficace et convaincante.  La nature de vos missions
		avec nous évoluera avec votre expérience.  La capacité
		de devenir force de proposition est essentielle.</p>
	    <p>Sous la responsabilité du président et du comité
		d'administration, vos missions seront la promotion de
		nos projets militants dans les domaines des transports
		collectifs et de la mobilité active (vélo et marche à
		pied).  Vous êtes doté d'une forte capacité
		d'auto-formation afin de devenir rapidement expert
		dans les domaines de vos actions.  Vous êtes autonome
		: vous savez structurer vos tâches de jour à jour et
		sur le long terme afin d'avancer rapidement vos
		projets.</p>

	    <h3>Profil</h3>
	    <p> Vous avez plusieurs années d'expérience qui montrent
		votre capacité à bouger l'opinion de vos concitoyens
		et l'opinion publique.  Vos objectifs seront (1) de
		faire évoluer mesurablement la fenêtre d'Overton à
		propos de la perception de la mobilité dans la région
		nantaise, les Pays de la Loire et le Grand Ouest et
		(2) d'inciter le public et les entreprises à soutenir
		et à adhérer à nos programmes.</p>
	    <p>Rémunération brute entre 1600&nbsp;€ et 2400&nbsp;€
		mensuelle selon profil et expérience.</p>

	    <h3>Les Mobilitains</h3>
	    <p>
		Les Mobilitains (juridiquement Transport Nantes) est
		une structure 1 juillet 1901 et remote-first.  Sans
		bureau fixe, vous pouvez travailler où vous voulez.
		Une bonne familiarité avec la région nantaise et le
		Grand Ouest sera toutefois essentielle afin de
		maintenir une crédibilité dans vos communications.</p>
	    <p>Ce poste est pour vous ?  Envoyez-nous votre CV et
		lettre de motivation à <a
    href="mailto:cv@mobilitains.fr">cv@mobilitains.fr</a>.  Attention, les candidatures
		sans lettre de motivation convaincante ne seront pas
		étudiées.</p>


</div>
</div>
</div>
{% endblock %}
