{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block content %}
<div class="hero-image">
  <div class="hero-text">
    <h1>Envie d'en être ?</h1>
    <p class="hero-description">Allez-y !  Vous savez c'est ce que vous voulez !</p>
    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
  </div>
</div>

<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>Adhésion</h1>

	    <p>oui.</p>

	    <p><a
	    href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/"
	    target_="blank">J'adhère&nbsp;?</a></p>


	    {% comment %}
	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	    {% endcomment %}
	</div>
    </div>

</div>
{% endblock %}
