{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}
{% load don %}
{% load panels %}

{% block app_content %}
<div class="row">
    <div class="col-lg-12">
	<h1>Adhésion</h1>

	<p>Nous sommes une association soutenu entièrement par nos
	    adhérents.  Nous vivons grâce à votre soutien financier et
	    nos élus nous respecte pour ce même raison.  Et c'est
	    cette indépendance qui nous donne notre pouvoir.</p>
	<p>
	    Vous êtes déjà nombreux à nous aider mais faire évoluer la
	    mobilité demande encore plus de moyens. Aidez-nous avec
	    vos dons, quelque soit le montant il sera une
	    participation au changement. Le montant est libre et est
	    déductible des impôts à hauteur de 66% selon votre
	    situation fiscale.
	</p>

	<p>{% bouton_don_lg "Je participe" %}
	</p>

{# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% #}

	<h2 class="pt-3">Qui sommes nous ?</h2>

	<p>Depuis un peu plus de 2 ans, nous, les mobilitains et
	    les mobiltaines, nous agissons pour une plus belle
	    mobilité.</p>
	<p>Indépendants et optimistes, nous pensons que les
	    trajets professionnels et privés doivent aller vers moins
	    de dangers, de contraintes et frustrations.</p>
	<p>Nous pensons aussi qu’il faut aider notre Terre à aller
	    mieux.</p>
	<p>Nous sommes pour des communes et des zones
	    intercommunales moins encombrées, moins polluées, moins
	    bruyantes, et mieux pensées.</p>
	<p>Notre mission est de cogiter un peu, beaucoup, à la
	    folie, passionnément&nbsp;! Et d’aider à mettre en oeuvre des
	    actions en faveur d’une mobilité multimodale = vélo,
	    transports collectifs, marche, TER...  Animés par une vision
	    globale, nous sommes anti personne mais pour des
	    déplacements plus vertueux et plus agréables.</p>
	<p>Notre démarche est de réunir un maximum d’usagers
	    autour de nos actions pour qu’elles soient ensuite
	    inscrites dans le programme des élus.</p>
    </div>
</div>

{# %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% #}

{% show_projects %}

{% endblock %}
