{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}
{% load don %}
{% load panels %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h2>Notre mission</h2>

	<p><strong>Rendre la mobilité plus fluide en favorisant les
	    mobilités douces et actives</strong></p>

	<p>Depuis un peu plus de 2 ans, nous, les mobilitains et les
	mobiltaines, nous agissons pour une <strong>plus belle
	mobilité.</strong> Indépendants et optimistes, nous pensons
	que les trajets professionnels et privés doivent aller vers
	<strong>moins de dangers,</strong> de contraintes et de
	frustrations.</p>

	<p>Nous pensons aussi qu’il faut <strong>aider notre
	Terre</strong> à aller mieux. Nous sommes pour des communes et
	des zones intercommunales moins encombrées, moins polluées,
	moins bruyantes, et <strong>mieux pensées.</strong></p>

	<p>Notre mission est de cogiter un peu, beaucoup, à la folie,
	<strong>passionnément !</strong> Et d’aider à mettre en œuvre
	des actions en faveur d’une<strong> mobilité
	multimodale</strong> = vélo, transports collectifs, marche,
	TER… Animés par une vision globale, <strong>nous sommes anti
	personne</strong> mais pour des déplacements plus vertueux et
	plus agréables.</p>

	<p>Notre démarche est de réunir un <strong>maximum
	d’usagers</strong> autour de nos actions pour qu’elles soient
	ensuite <strong> inscrites dans le programme des
	élus.</strong></p>
    </div>
</div>
<div class="row background-ad-hoc-blue"
     style="background-color:  #EAF3FC;">
    <div class="col-lg-12">
	     <h2>Notre histoire</h2>

	     <p>C’est avant tout une histoire humaine.</p>
	     <p>La rencontre de Jeff, Thibaud et Bastien réunis toutes les
		 semaines autour d’un café avec l’envie de faire évoluer la
		 mobilité.</p><p>3 cyclistes passionnés qui commençaient en avoir
		 sérieusement marre du manque de sécurité. Beaucoup
		 d’échanges, beaucoup de questionnements, énormément
		 de volonté et l’association a vu le jour.</p>
	     <p>Le première action a été orientée sur la sécurité
		 autour des écoles et les actions ont grandis pour
		 toucher plus largement l’évolution des parts modales.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
	<h2>Notre raison d'être</h2>

	<h3>Nos valeurs</h3>

	<p>Nous ne sommes pas anti, nous sommes pour <strong>un
	    environnement plus appréciable</strong> pour chacun.e
	    d’entre nous. </p>

	<p>Nous pensons que les mobilités douces sont <strong>un
	    levier fondamental </strong>pour aller vers un mieux être
	    général et aider notre Terre.</p>

	<p>C’est en agissant dans les communes et entre les
	    communes, pour <strong>plus d’aménagements et de
	    services</strong> pour les cyclistes, piétons, voyageurs
	    en transports collectifs (routiers mais aussi fluviales et
	    ferroviaires) que nous <strong>obtiendrons plus de
	    fluidité,  plus de sécurité</strong> et que nous serons
	    <strong>plus respectueux de l’environnement.</strong></p>

	<h3>Notre inspirations</h3>

	<p>Notre inspiration est <strong>la ville de
	    Copenhague,</strong> et oui rien que ça ! </p>

	<p>Un modèle pensé avec une vision globale ; tous les
	    leviers ont été activés pour une <strong>harmonie urbaine
	    et périurbaine,</strong> ça fait rêver non ? </p>

	<p>Oui, nous avons encore beaucoup à faire mais pourquoi
	    n’y arriverait-on pas nous aussi ? </p>

	<p>Les aménagements que nous avons envie de voir demain ne
	    sont pas seulement des aménagements de structures mais
	    bien <strong>des aménagements de mode de vie.</strong></p>

	<p>Ça ne vous donne pas <strong>envie d’être un.e mobilitain.e ? </strong></p>

    </div>

    {% show_qui_sommes_nous %}
    {% show_donate %}
    {% show_volunteer %}
</div>
{% endblock %}
