{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Qui sommes-nous ?</h1>
    <p class="hero-description">Voilà qui nous sommes !</p>
    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
  </div>
</div>

<div container class="inset">
    <div class="row">
	<div class="col-lg-12">
	    <h1>L'association</h1>

	    <p>Nous sommes des usagers de la vie qui ont envie que les
	    sujets de mobilité continuent de bouger.</p>

	    <p>Nous pensons, que les trajets professionnels et privés
	    doivent aller vers moins de dangers, de contraintes, et de
	    frustrations, nous sommes pour des villes et des
	    périphéries plus apaisées : moins encombrées, moins
	    polluées, moins bruyantes.</p>

	    <p>Non, nous ne pouvons pas tout faire évoluer d’un coup
		mais chaque action a son bénéfice</p>

	    <p>“Soyez le changement que vous souhaitez voir dans le
		monde.”</p>

	    <p>Nous ne sommes qu’au début et nous sommes optimistes
		!</p>

	    <p>Première preuve de nos actions : le début du
	    Vélopolitain à Nantes Métropole, un aménagement des voies
	    cyclables qui doit continuer de se développer. Il a été
	    intégré aux programmes des listes des élections
	    municipales de 2020.</p>

	    <p><a
	    href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/"
	    target_="blank">J'adhère&nbsp;?</a></p>

	    <h2>On parle de nous
	    </h2>

	    <p><a href="#">Dans la presse</a>
	    </p>

	    <p><a href="#">Sur les réseaux sociaux</a>
	    </p>

	    {% comment %}

	    <p>
		zone actualités ...
	    </p>

	    <h2>Les rencontres visibles des mobilitains</h2>

	    <p>
		Amis cyclistes, votre sécurité fait naturellement
		partie de nos priorités, nous vous proposons de vous
		offrir des gilets réfléchissants les 2,3,4 novembre
		prochains.  Ces moments de rencontre seront aussi des
		occasions d’échanges sur les sujets de mobilité.  On
		vous communique très bientôt les lieux de
		distribution.  Envie de participer à cette action de
		distribution avec nous ? lien contact ?
	    </p>

	    {% endcomment %}

	    {% comment %}
	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	    {% endcomment %}
	</div>
    </div>

</div>
{% endblock %}
