{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h1>L'association</h1>

	<p>Depuis un peu plus de 2 ans, nous, les mobilitains et
	    les mobiltaines, nous agissons pour une plus belle
	    mobilité.</p>
	<p>Indépendants et optimistes, nous pensons que les
	    trajets professionnels et privés doivent aller vers moins
	    de dangers, de contraintes et frustrations.</p>
	<p>Nous pensons aussi qu’il faut aider notre Terre à aller
	    mieux.</p>
	<p>Nous sommes pour des communes et des zones
	    intercommunales moins encombrées, moins polluées, moins
	    bruyantes, et mieux pensées.</p>
	<p>Notre mission est de cogiter un peu, beaucoup, à la
	    folie, passionnément ! Et d’aider à mettre en oeuvre des
	    actions en faveur d’une mobilité multimodale = vélo,
	    transports collectifs, marche, TER…Animés par une vision
	    globale, nous sommes anti personne mais pour des
	    déplacements plus vertueux et plus agréables.</p>
	<p>Notre démarche est de réunir un maximum d’usagers
	    autour de nos actions pour qu’elles soient ensuite
	    inscrites dans le programme des élus.</p>


	<h1>Et demain ?</h1>

	<p>Cap sur les élections 2021, nous avons pleins d’idée et
	    des actions sont déjà en cours de déploiement.</p>
	<p>Soyez le changement que vous voulez voir dans le monde,
	    non ? </p>
	<p>Alors vous venez ? </p>

	<p><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
    </div>
</div>
{% endblock %}
