/* Please follow as much as possible these guidelines : 
    https://developer.mozilla.org/en-US/docs/MDN/Guidelines/Code_guidelines/CSS
*/

/* Global reset */
.submit-with-icon {
    background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}
body,
html {
    height: 100%;
    margin: 0;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
/*Colours defined*/
:root {
    --mobilitains-gris:       #DDE5ED;
    --mobilitains-rouge:      #7F6966; /* éviter avec bleu-foncé */
    --mobilitains-bleu:       #5BC2E7; /* éviter avec orange     */
    --mobilitains-orange:     #FA4616; /* éviter avec bleu       */
    --mobilitains-bleu-fonce: #333F48; /* éviter avec rouge      */
    --mobilitains-bleu-marine: #43526e;/* éviter avec orange et rouge */

    --body-text: var(--mobilitains-bleu-fonce);
    --body-text-muted: var(--mobilitains-rouge);
}
/*Global classes aligements*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*footer alignements*/
footer {
    min-height: 220px;
}
footer ul {
    list-style: none;
}
footer ul li {
    list-style: none;
    list-style-position: inherit;
    padding-left: 0;
}
.footer-text {
    color: var(--mobilitains-bleu-fonce);
}
ul.no-bullet-list {
    list-style-type: none;
}
/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-title {
    font-size: 4.5vh;
    color: white;
}
.hero-description {
    font-size: 3vh;
    color: white;
}
.hero-link {
    background: #253030;
    color: #FFFFFF;
    font-weight: 700;
}
p {
    color: var(--body-text);
}
h1,
h2,
h3,
h4 {
    color: var(--body-text);
}
a:link {
    color: var(--mobilitains-bleu);
}
a:visited {
    color: var(--mobilitains-bleu);
}
a.hover {
    color: var(--mobilitains-bleu);
    background-color: var(--mobilitains-gris);
}
a.active {
    color: var(--mobilitains-bleu-fonce);
    background-color: var(--mobilitains-gris);
}
a:link.donation-button {
    color: white;
    font-weight: 600;
    background-color: var(--mobilitains-bleu);
    border-radius: 0;
}
a:visited.donation-button {
    color: white;
}
a:hover.donation-button {
    color: white;
}
.donation-button {
    background-color: var(--mobilitains-bleu);
    color:white;
    font-weight: 600;
}
.btn.donation-button:hover {
    color:white;
}
.navigation-button {
    background-color: var(--mobilitains-bleu-marine);
    border: 1px solid var(--mobilitains-bleu-marine);
    color: white;
    font-weight: 600;
}
a.navigation-button{
    color:white;
    font-weight: 600;
}
a.navigation-button:visited:hover {
    color: var(--mobilitains-bleu-marine);
}
.navigation-button:hover {
    background-color: white;
    color:var(--mobilitains-bleu-marine);
}
a:link.cta-button {
    color: var(--body-text);
    background-color: var(--mobilitains-gris);
    border: var(--mobilitains-bleu);
    border-style: solid;
    border-width: 1px;
}
a:hover:hover.cta-button {
    color: var(--body-text);
    background-color: var(--mobilitains-gris);
}
.centered-inline-button {
    width: 40%;
    margin: auto;
}
.background-gray {
    background-color: #7F6966;
}
.background-red {
    background-color: #DDE5ED;
}
.background-blue {
    background-color: #5BC2E7;
}
.background-orange {
    background-color: #FA4616;
}
.background-green {
    background-color: #44536D;
}
.background-mobilitains-bleu-clair {
    background-color: var(--mobilitains-bleu);
}
.background-ad-hoc-blue {
    background-color: #EAF3FC;
    width:100vw;
    padding-left: 0;
    padding-right: 0;
}
.font-weight-light {
    font-variant: all-small-caps;
    font-size: 150%;
}
.form_wrapper {
    display: flex;
    margin-top: 1em;
    justify-content: center;
}

.form-like-radio {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: inline-block;
    position:relative;
    width: 100%;
    padding-left: 2em;
    margin-left: 5px;
    margin-right: 5px;
}

.form-like-radio-field {
    display: flex;
    flex-direction: row;
    margin-left: -5px;
    margin-right: -5px;
    flex-wrap: wrap;
}

#title {
    flex-wrap: nowrap !important;
}

.image-darken-50 {
    filter: brightness(50%);
}
.image-darken-65 {
    filter: brightness(65%);
}
.image-darken-75 {
    filter: brightness(75%);
}
/*
  For placing images over text, other than hero images.
  Container holding the image and the text
*/
.image-overlay-container {
    position: relative;
    text-align: center;
}
.image-overlay-text {
    font-weight: bold;
    font-size: 200%;
}
.image-overlay-text-white {
    color: white;
}
.image-overlay-text-black {
    color: black;
}
.image-overlay-text-gray {
    color: #7F6966;
}
.image-overlay-text-blue {
    color: #5BC2E7;
}
.image-overlay-text-red {
    color: #FA4616;
}
.image-overlay-background-white {
    background: #FFFFFF;
}
.image-overlay-background-gray {
    background: #7F6966;
}
.image-overlay-background-blue {
    background: #5BC2E7;
}
.image-overlay-background-red {
    background: #FA4616;
}
.image-overlay-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.image-overlay-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}
.image-overlay-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}
.image-overlay-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}
.image-overlay-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-overlay-bottom-centered {
    position: absolute;
    bottom: 10%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -25%);
}
.image-overlay-small-text {
    font-size: 70%;
}
.smallcap {
    font-variant: small-caps;
}
span.centered {
    display: table;
    margin: 0 auto;
}
.banner-caption {
    background: #7f6966;
    color: #5bc2e7;
    font-weight: 700;
    text-align: center;
    font-size: 150%;
}
.banner-list {
    background: #7f6966;
    color: #5bc2e7;
    font-weight: 700;
    text-align: left;
    font-size: 150%;
}
#progress-bar {
    display: flex;
    align-items: stretch;
    justify-content:center;
    width: 100%;
    margin:auto;
}

.progressbar {
    counter-reset: step;
    padding: 0
}
.progressbar li {
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 12px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: #7d7d7d;
}
.progressbar li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}
.progressbar li:first-child:after {
    content: none;
}
.progressbar li.active {
    color: var(--mobilitains-bleu);
}
.progressbar li.active:before {
    border-color: var(--mobilitains-bleu);
}
.progressbar li.active + li:after {
    background-color: var(--mobilitains-bleu);
}
.footer-social .social {
    text-align:center;
    padding-bottom:25px;
  }
.footer-social .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
.footer-social .social > a:hover {
    opacity:0.9;
  }
@media (min-width: 992px) {
    .navbar-logo {
        max-width: 18%;
    }
    .navbar-logo-image {
        width: 100% !important;
        height: 100%;
    }
}
@media (max-width: 576px) {
    #volunteer {
        text-align: center;
    }
}
@media (max-width: 765px) {
    #qui-sommes-nous-image {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}
#card_velorution_1 {
    box-shadow: 7px 1px 16px -1px rgba(212, 212, 212, 0.20);
}
#card_velorution_1:hover {
    box-shadow: 7px 1px 16px -1px rgba(212, 212, 212, 0.35);
}
#card_velorution_2 {
    box-shadow: 7px 1px 16px -1px rgba(212, 212, 212, 0.15);
}
#card_velorution_2:hover {
    box-shadow: 7px 1px 16px -1px rgba(212, 212, 212, 0.30);
}
#recall_amount {
    font-weight: bold;
    background-color: var(--mobilitains-bleu);
    color: white;
    margin: 2px;
    padding: 4px;
}

.higlighted-blue {
    font-weight: bold;
    background-color: var(--mobilitains-bleu);
    color: white;
    margin: 2px;
    padding: 4px;
}
.bottom-button {
    position:absolute; 
    bottom:10px;
}
.spacer {
    margin-bottom: 2rem;
}
.page-holder {
    min-height: 33vh;
    color: white;
    background-color: #DBE3EB;
    box-shadow: 1px 0px 64px -17px rgba(0,0,0,0.51) inset;
    -webkit-box-shadow: 1px 0px 64px -17px rgba(0,0,0,0.51) inset;
    -moz-box-shadow: 1px 0px 64px -17px rgba(0,0,0,0.51) inset;
}
.page-holder .p, .page-holder .h1 {
    color: var(--mobilitains-bleu-fonce)
}
.bg-cover {
    background-size: cover !important;
}
.cf_text {
    color: var(--mobilitains-bleu-fonce);
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
}
#close {
    float:right;
    padding:2px 5px;
    background:var(--mobilitains-bleu-fonce);
    cursor:auto;
}