/* Global reset */
.submit-with-icon {
    background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Colours defined*/
:root {
    --mobilitains-gris: #DDE5ED;
    --mobilitains-rouge: #7F6966;
    --mobilitains-bleu: #5BC2E7;
    --mobilitains-orange: #FA4616;
    --mobilitains-bleu-fonce: #333F48;

    --body-text: var(--mobilitains-bleu-fonce);
    --body-text-muted: var(--mobilitains-rouge);
}

/*Global classes aligements*/
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*footer alignements*/
footer {
    min-height: 220px;
}

footer ul {
    list-style: none;
}

footer ul li {
    list-style: none;
    list-style-position: inherit;
    padding-left: 0;
}

.footer-text {
    color: var(--mobilitains-bleu-fonce);
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-description {
    font-size: 150%;
}

.hero-link {
    background: #253030;
    color: #FFFFFF;
    font-weight: 700;
}


p {
    color: var(--body-text);
}

h1,
h2,
h3,
h4 {
    color: var(--body-text);
}

a:link {
    color: var(--mobilitains-bleu);
}

a:visited {
    color: var(--mobilitains-bleu);
}

a.hover {
    color: var(--mobilitains-bleu);
    background-color: var(--mobilitains-gris);
}

a.active {
    color: var(--mobilitains-bleu-fonce);
    background-color: var(--mobilitains-gris);
}

a:link.donation-button {
    color: var(--body-text);
    background-color: var(--mobilitains-gris);
    border: var(--mobilitains-bleu-fonce);
    border-style: solid;
    border-width: 2px;
}

a:hover:hover.donation-button {
    color: var(--mobilitains-bleu-fonce);
    background-color: var(--mobilitains-bleu);
}

a:link.cta-button {
    color: var(--body-text);
    background-color: var(--mobilitains-gris);
    border: var(--mobilitains-bleu);
    border-style: solid;
    border-width: 1px;
}

a:hover:hover.cta-button {
    color: var(--body-text);
    background-color: var(--mobilitains-gris);
}

.background-gray {
    background-color: #7F6966;
}

.background-red {
    background-color: #DDE5ED;
}

.background-blue {
    background-color: #5BC2E7;
}

.background-orange {
    background-color: #FA4616;
}

.background-green {
    background-color: #44536D;
}

.background-ad-hoc-blue {
    background-color: #EAF3FC;
}

.font-weight-light {
    font-variant: all-small-caps;
    font-size: 150%;
}

.image-darken-50 {
    filter: brightness(50%);
}

.image-darken-65 {
    filter: brightness(65%);
}

.image-darken-75 {
    filter: brightness(75%);
}

/*
  For placing images over text, other than hero images.
*/
/* Container holding the image and the text */
.image-overlay-container {
    position: relative;
    text-align: center;
}

.image-overlay-text {
    font-weight: bold;
    font-size: 200%;
}

.image-overlay-text-white {
    color: white;
}

.image-overlay-text-black {
    color: black;
}

.image-overlay-text-gray {
    color: #7F6966;
}

.image-overlay-text-blue {
    color: #5BC2E7;
}

.image-overlay-text-red {
    color: #FA4616;
}

.image-overlay-background-white {
    background: #FFFFFF;
}

.image-overlay-background-gray {
    background: #7F6966;
}

.image-overlay-background-blue {
    background: #5BC2E7;
}

.image-overlay-background-red {
    background: #FA4616;
}

.image-overlay-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.image-overlay-top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.image-overlay-top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.image-overlay-bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.image-overlay-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-overlay-bottom-centered {
    position: absolute;
    bottom: 10%;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -25%);
}

.image-overlay-small-text {
    font-size: 70%;
}

.smallcap {
    font-variant: small-caps;
}

span.centered {
    display: table;
    margin: 0 auto;
}

.banner-caption {
    background: #7f6966;
    color: #5bc2e7;
    font-weight: 700;
    text-align: center;
    font-size: 150%;
}

.banner-list {
    background: #7f6966;
    color: #5bc2e7;
    font-weight: 700;
    text-align: left;
    font-size: 150%;
}