.submit-with-icon {
  background: transparent;
    border: 0px;
    padding: 0;
    outline: 0;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

ul.no-bullet-list {
    list-style-type: none;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
.hero-description {
    font-size: 150%;
}
.hero-link {
    #background: #253030;
    color: #FFFFFF;
    font-weight: 700;
}
/*
  Colours:
    #7F6966;    gris
    #DDE5ED;    rouge
    #5BC2E7;    bleu
    #FA4616;    orange
    #44536D;    vert
*/
.background-gray {
    background-color: #7F6966;
}
.background-red {
    background-color: #DDE5ED;
}
.background-blue {
    background-color: #5BC2E7;
}
.background-orange {
    background-color: #FA4616;
}
.background-green {
    background-color: #44536D;
}
.background-ad-hoc-blue {
    background-color: #EAF3FC;
}


.image-darken-50 {
    filter: brightness(50%);
}
.image-darken-65 {
    filter: brightness(65%);
}
.image-darken-75 {
    filter: brightness(75%);
}
/*
  For placing images over text, other than hero images.
*/
 /* Container holding the image and the text */
.image-overlay-container {
  position: relative;
  text-align: center;
}
.image-overlay-text {
    font-weight: bold;
    font-size: 200%;
}
.image-overlay-text-white {
  color: white;
}
.image-overlay-text-black {
  color: black;
}
.image-overlay-text-gray {
  color: #7F6966;
}
.image-overlay-text-blue {
  color: #5BC2E7;
}
.image-overlay-text-red {
  color: #FA4616;
}
.image-overlay-background-white {
    background: #FFFFFF;
}
.image-overlay-background-gray {
    background: #7F6966;
}
.image-overlay-background-blue {
    background: #5BC2E7;
}
.image-overlay-background-red {
    background: #FA4616;
}

.image-overlay-bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.image-overlay-top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}
.image-overlay-top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}
.image-overlay-bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.image-overlay-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} 
.image-overlay-bottom-centered {
  position: absolute;
  #bottom: 10%;
  #left: 50%;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -25%);
}
.image-overlay-small-text {
    font-size: 70%;
}

.smallcap {
    font-variant: small-caps;
}
span.centered {
    display: table;
    margin: 0 auto;
}
.banner-caption {
    background: #7f6966;
    color: #5bc2e7;
    font-weight: 700;
    text-align: center;
    font-size: 150%;
}
.banner-list {
    background: #7f6966;
    color: #5bc2e7;
    font-weight: 700;
    text-align: left;
    font-size: 150%;
}
