# Emacs
*~

# Python
venv
venv.vagrant
*.pyc
Pipfile*

# Django
/transport_nantes/db.sqlite3*
/transport_nantes/media/
/transport_nantes/static/

# Config
aws_config

#VSCODE
.vscode/

#Vagrant 
.vagrant

# MacOS
.DS_Store

# User content
transport_nantes/asso_tn/user_content/*

# Coverage
.coverage*
htmlcov/
