# Emacs
*~

# Python
venv
venv.vagrant
*.pyc
Pipfile*

# Django
db.sqlite3

# Config
aws_config

#VSCODE
.vscode/

#Vagrant 
.vagrant

# MacOS
.DS_Store

# User content
transport_nantes/asso_tn/user_content/*
