asgiref==3.2.3
awscli==1.18.48
backcall==0.1.0
boto3==1.12.43
botocore==1.15.48
colorama==0.4.3
decorator==4.4.1
Django==3.0.3
django-amazon-ses==3.0.2
docutils==0.15.2
future==0.18.2
gunicorn==20.0.4
ipython==7.12.0
ipython-genutils==0.2.0
jedi==0.16.0
jmespath==0.9.5
parso==0.6.1
pexpect==4.8.0
pickleshare==0.7.5
pkg-resources==0.0.0
prompt-toolkit==3.0.3
psycopg2==2.8.4
ptyprocess==0.6.0
pyasn1==0.4.8
Pygments==2.5.2
python-dateutil==2.8.1
python-http-client==3.2.7
pytz==2019.3
PyYAML==5.3.1
rsa==3.4.2
s3transfer==0.3.3
six==1.14.0
sqlparse==0.3.0
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.8
