amqp==5.1.1
appdirs==1.4.4
asgiref==3.7.2
astroid==2.15.6
asttokens==2.2.1
async-generator==1.10
async-timeout==4.0.3
attrs==23.1.0
autopep8==2.0.4
awscli==1.29.36
backcall==0.2.0
beautifulsoup4==4.12.2
billiard==4.1.0
black==23.7.0
boto3==1.28.36
botocore==1.31.36
branca==0.6.0
CacheControl==0.13.1
celery==5.3.1
certifi==2023.7.22
cffi==1.15.1
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.4
configparser==6.0.0
contextlib2==21.6.0
contourpy==1.1.0
coverage==7.3.0
crayons==0.4.0
crispy-bootstrap4==2022.1
cryptography==41.0.3
cycler==0.11.0
Cython==0.29.36
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.7
distlib==0.3.7
distro==1.8.0
dj-stripe==2.8.1
Django==4.2.4
django-amazon-ses==4.0.1
django-appconf==1.0.5
django-compressor==4.4
django-countries==7.5.1
django-crispy-forms==2.0
django-debug-toolbar==4.2.0
django-ranged-response==0.2.0
django-ses==3.5.0
django-simple-captcha==0.5.18
docutils==0.16
exceptiongroup==1.1.3
executing==1.2.0
flake8==6.1.0
folium==0.14.0
fonttools==4.42.1
future==0.18.3
gunicorn==21.2.0
h11==0.14.0
html5lib==1.1
idna==3.4
ipaddr==2.2.0
ipython==8.14.0
ipython-genutils==0.2.0
isort==5.12.0
jedi==0.19.0
Jinja2==3.1.2
jmespath==1.0.1
jsonfield==3.1.0
kiwisolver==1.4.5
kombu==5.3.1
lazy-object-proxy==1.9.0
lockfile==0.12.2
lxml==4.9.3
markdown2==2.4.10
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mccabe==0.7.0
msgpack==1.0.5
mypy-extensions==1.0.0
numpy==1.25.2
outcome==1.2.0
packaging==23.1
parso==0.8.3
pathspec==0.11.2
pep517==0.13.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==10.0.0
pillow-scripts==5.0.0
pillow-snippet==0.0.4
platformdirs==3.10.0
progress==1.6
prompt-toolkit==3.0.39
psycopg2==2.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pycodestyle==2.11.0
pycparser==2.21
pyflakes==3.1.0
Pygments==2.16.1
pylint==2.17.5
pylint-django==2.5.3
pylint-plugin-utils==0.8.2
pyOpenSSL==23.2.0
pyparsing==3.0.9
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
pytoml==0.1.21
pytz==2023.3
PyYAML==6.0.1
rcssmin==1.1.1
requests==2.31.0
retrying==1.3.4
rjsmin==1.2.1
rollbar==0.16.3
rsa==4.7.2
s3transfer==0.6.2
selenium==4.11.2
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
sqlparse==0.4.4
stack-data==0.6.2
stripe==4.2.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.1
traitlets==5.9.0
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.7.1
tzdata==2023.3
ua-parser==0.18.0
urllib3==1.26.16
user-agents==2.2.0
vine==5.0.0
wcwidth==0.2.6
webdriver-manager==4.0.0
webencodings==0.5.1
wrapt==1.15.0
wsproto==1.2.0
