{% extends 'asso_tn/base_mobilitain.html' %}
{% block content %}
<div class="container-fluid pl-5 py-3">
    <div>
        <a href="{% url 'press:list_items' %}" class="btn btn-outline-info mb-3" data-toggle="tooltip" data-placement="bottom" title="Voir la liste des articles de presse">
            <i class="fa fa-arrow-left"></i>
        </a>
        <a href="{% url 'press:new_item' %}" class="btn btn-outline-info mb-3" data-toggle="tooltip" data-placement="bottom" title="Ajouter un nouvel article de presse">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    <div class="row">
        <div class="card mb-3 p-0 col-12 col-md-6">
            <div class="row no-gutters">
                <div class="col-md-4">
                    {% if  object.og_image %}
                    <a href="{{ object.article_link }}" target="_blank">
                        <img src="{{ object.og_image.url }}"
                        style="object-fit: cover;width: 100%;height: 250px;"
                        class="card-img" alt="{{ object.newspaper_name }}">
                    </a>
                    {% else %} {% comment %} If no open graph image we
                        display no image. {% endcomment %}
                        <p>&nbsp;</p>
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <a href="{{ object.article_link }}" class="stretched-link text-muted text-decoration-none font-weight-bold">{{ object.newspaper_name }}</a>
                        <h5 class="card-title">{{ object.article_title }}</h5>
                        <p class="card-text">{{ object.article_summary|truncatewords:50 }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block localscripts %}
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock localscripts %}
