{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}

{% block scripts %}
  {{ block.super }}
  {% compress js %}
    <script src="{% static 'press/js/refresh-og.js' %}"></script>
  {% endcompress %}
{% endblock scripts %}

{% block content %}
<div class="container-fluid py-3">
  <div class="row">
    <div class="col-md-8 col-sm-12 mx-auto">
      <h5 class="text-center">Création d'une nouvelle citation</h5>
      {% crispy form %}
    </div>
  </div>
</div>
{% endblock content %}
