{% extends 'asso_tn/base_mobilitain.html' %} {% block content %}
<div class="container-fluid pl-5 py-3">
  <div class="card-deck">
    {%for press_mention in open_graph_twitter_list %}
    <div class="card">
      <img src="{% firstof press_mention.og_image press_mention.twitter_image %}" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="blockquote-footer">{{ press_mention.press_mention.article_publication_date }}</p>
        <h5>{{ press_mention.press_mention.article_title }}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}