{% extends 'asso_tn/base_mobilitain.html' %} {% block content %}
<div class="container-fluid pl-5 py-3">
  <div class="row">
    {%for press_mention in press_mention_list %}
    <div class="col-md-3">
      <div class="card">
        <h5 class="card-header text-center">
          {{ press_mention.article_title }}
        </h5>
        <div class="card-body">
          <p class="card-text text-justify">
            {{ press_mention.article_summary }}
          </p>
        </div>
        <div class="card-footer text-center">
          <a href="{{press_mention.article_link}}" class="btn btn-outline-primary" target="_blank"
            >Voir l'article
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock content %}
