{% if is_not_full %}
  <a href="{% url 'press:list_items' %}" class="btn navigation-button btn-lg my-3">Retour à la liste complète</a>
{% endif %}
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Journal</th>
      <th scope="col">Titre</th>
      <th scope="col">Description</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for press_mention in press_mention_list %}
    <tr>
      <td>
        {% if page_obj.paginator %}
          <a href="{% url 'press:list_items' %}?newspaper_name={{ press_mention.newspaper_name|urlencode }}" class="btn navigation-button">{{ press_mention.newspaper_name }}</a>
        {% else %}
          <a href="{% url 'press:list_items' %}?newspaper_name={{ press_mention.newspaper_name|urlencode }}" target="_blank" class="btn navigation-button">{{ press_mention.newspaper_name }}</a>
        {% endif %}
      </td>
      <td><a href="{{press_mention.article_link }}" target="_blank" class="btn navigation-button">{{ press_mention.article_title }}</a></td>
      <td>{{ press_mention.article_summary }}</td>
      <td>{{ press_mention.article_publication_date|date:"d/m/Y" }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
