{% load static %}
{% load don %}

<div class="row">
    <div class="image-overlay-container">
	    <a href="{% url_don %}" target=" blank">
		<img src="{% static 'asso_tn/soutenez-nous.jpg' %}"
		     alt="soutenez l'association pour une mobilité multimodale - faire un don"
		     style="width:100%;">

		<span class="smallcap
			     image-overlay-text
			     image-overlay-background-white
			     image-overlay-text-blue
			     image-overlay-bottom-centered">&nbsp;Faire un don&nbsp;</span>
	    </a>
	</div>
</div>
