{% extends "asso_tn/base_mobilitain.html" %}
{% load static %}

{% block content %}
{% comment %}
	<!-- Pull scripts out of comment block into content block to activate -->
	<script src="{% static 'stripe_app/integrated.js' %}" defer></script>

{% endcomment %}

<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'stripe_app/main.js' %}" defer></script>
<script src="{% static 'stripe_app/form_flow.js' %}" defer></script>

<form action="" id="donation_form" method="post">
    {% csrf_token %}
	{% for item in info_form %}
		<div>
			{{item.label_tag}} {{item}}
		</div>
	{% endfor %}
	<button id="toStep2">Continuer</button>
</form>

<form id="amount_form" style='display: none;' action="" method="post">
	{% csrf_token %}
	<button type="button" id="toStep1">Retour à l'étape précédente</button>

	<div id="donation_type_rb">
		{{amount_form.donation_type.label_tag }}{{amount_form.donation_type }}
	</div>

	<div id="payment_amount_rb" style="display: none">
		{{amount_form.payment_amount.label_tag}}{{amount_form.payment_amount}}
	</div>

	<div id="subscription_amount_rb" style="display: none">
		{{amount_form.subscription_amount.label_tag}}{{amount_form.subscription_amount}}
	</div>

	<div id="free_amount" style="display: none">
		{{amount_form.free_amount.label_tag}}{{amount_form.free_amount}}
	</div>

	<button id="supportButton">Soutenir</button>
</form>

<!-- 
   <!- - Display a payment form - ->
     <form class="stripe" id="payment-form"> {% csrf_token %}
		
		<p style="text-align:center">Don de 10€ aux Mobilitains</p>
		<div id="card-element">
			<!- -Stripe.js injects the Card Element- ->
		</div>
	
		<button class="stripe" id="submit">
	
			<div class="spinner hidden" id="spinner"></div>
	
			<span id="button-text">Pay now</span>
	
		</button>
	
		<p id="card-error" role="alert"></p>
	
		<p class="result-message hidden">
	
			Payment succeeded, see the result in your
	
			<a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
	
		</p>
	
	</form> -->

{% endblock content %} 