{% extends "asso_tn/base_mobilitain.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% comment %}
	<!-- Pull scripts out of comment block into content block to activate -->
	<script src="{% static 'stripe_app/integrated.js' %}" defer></script>

{% endcomment %}

<script src="https://js.stripe.com/v3/"></script>
<script src="{% static 'stripe_app/main.js' %}" defer></script>
<script src="{% static 'stripe_app/form_flow.js' %}" defer></script>
<script src="{% static 'stripe_app/form_style.js' %}" defer></script>

<div class="container-fluid d-flex-stretch col-xl-5 col-lg-7 col-md-10 col-sm-12 pt-4">
	<form id="donation_form", style="display: none">
		{% crispy info_form %}
	</form>
</div>

<div class="container-fluid d-flex-stretch col-xl-5 col-lg-7 col-md-10 col-sm-12 pt-4">
	<form id="amount_form" action="" method="post">
		{% crispy amount_form %}
	</form>
</div>
<!-- 
   <!- - Display a payment form - ->
     <form class="stripe" id="payment-form"> {% csrf_token %}
		
		<p style="text-align:center">Don de 10€ aux Mobilitains</p>
		<div id="card-element">
			<!- -Stripe.js injects the Card Element- ->
		</div>
	
		<button class="stripe" id="submit">
	
			<div class="spinner hidden" id="spinner"></div>
	
			<span id="button-text">Pay now</span>
	
		</button>
	
		<p id="card-error" role="alert"></p>
	
		<p class="result-message hidden">
	
			Payment succeeded, see the result in your
	
			<a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
	
		</p>
	
	</form> -->

{% endblock content %} 