{% extends "asso_tn/base_mobilitain.html" %}
    
{% block content %}

<form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>

<!-- 
   <!- - Display a payment form - ->
     <form class="stripe" id="payment-form"> {% csrf_token %}
		
		<p style="text-align:center">Don de 10€ aux Mobilitains</p>
		<div id="card-element">
			<!- -Stripe.js injects the Card Element- ->
		</div>
	
		<button class="stripe" id="submit">
	
			<div class="spinner hidden" id="spinner"></div>
	
			<span id="button-text">Pay now</span>
	
		</button>
	
		<p id="card-error" role="alert"></p>
	
		<p class="result-message hidden">
	
			Payment succeeded, see the result in your
	
			<a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
	
		</p>
	
	</form> -->

{% endblock content %} 