{% extends "asso_tn/base_mobilitain.html" %}

{% block content %}
  <div class="container-fluid d-flex mt-5 mb-5 pb-5">
    <div class="col-md-12">
      <h1 class="d-flex justify-content-center text-md-center text-sm-center">
        <span>Les Mobilitains vous remercient&nbsp!</span>
      </h1>
      <small class="d-flex justify-content-center">
        Un reçu fiscal vous sera bientôt envoyé par email.
      </small>
      <small class="d-flex justify-content-center">
        <p>
          Des questions ? Contactez nous sur <a href="mailto:jevousaide@mobilitains.fr">jevousaide@mobilitains.fr</a>
        </p>
      </small>
    </div>
  </div>
{% endblock content %}

<div class=fixed-bottom>
  {% block bottom_appeal %}

  {% endblock bottom_appeal %}
</div>
