{% extends 'topicblog/base_email_client.html' %}
{% load static %}

{% block email_content %}
{% comment %} This table is the main container{% endcomment %}
<table role="presentation"
style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
    <tr>
        {% comment "Logo" %}This row handles the logo display{% endcomment %}
        <td style="padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;background-color:#ffffff;">
            <a href="https://www.mobilitains.fr/" style="text-decoration:none;">
                {% if logo_path %}
                    <img src="{{ logo_path }}" width="165" alt="Logo Mobilitains"
                    style="width:165px;max-width:80%;height:auto;border:none;text-decoration:none;color:#ffffff;">
                {% else %}
                    <img src="{% static 'asso_tn/M-logo_colored-32.png' %}" width="165" alt="Logo Mobilitains"
                    style="width:165px;max-width:80%;height:auto;border:none;text-decoration:none;color:#ffffff;">
                {% endif %}
            </a>
        </td> <!-- End Logo -->
    </tr>
    <tr>
        <td style="padding:30px;padding-bottom:15px;background-color:#ffffff;">
            <p>
                Bonjour des Mobilitains, {# Should use name #}
	    </p>
	    <p>
		Au nom de toute l'équipe des Mobilitains, je tiens à
		vous remercier pour votre soutien, geste
		financier qui contribue grandement à la réalisation de
		notre mission visant à améliorer la mobilité dans la
		région nantaise et dans les Pays de la Loire et même
		plus loin.  Nos élus et nos décideurs sont trop
		souvent content d'aller lentement.  Pour
		améliorer le quotidien pour les piétons, cyclistes, et
		usagers des transports collectifs Nantais et
		Ligériens, notre projet reste essentiel.
	    </p>
	    <p>
		Nous sommes extrêmement reconnaissants de votre
		engagement envers notre cause et de votre confiance en
		notre travail. Grâce à votre don, nous pourrons
		continuer à mettre en place des projets novateurs et à
		promouvoir des solutions durables pour favoriser une
		mobilité plus fluide, plus respectueuse de
		l'environnement et plus sécurisée dans notre région.
	    </p>
	    <p>
		C'est grace à vous que nous pouvons continuer à agir
		et que nous restons motivés.  Merci.</p>
	    <p>
		Avec toute notre gratitude,
	    </p>
	    <p>
		L'équipe des Mobilitains]
	    </p>
        </td>
    </tr>
    <tr> <!-- Footer -->
        <td style="padding:30px;text-align:center;font-size:12px;background-color:#404040;color:#cccccc;">
            <p style="margin:0;font-size:14px;line-height:20px;">
                &reg; Mobilitains {% now "Y" %}<br>
            </p>
        </td>
    </tr> <!-- End of Footer -->
</table>

{% endblock email_content %}
