{% extends 'asso_tn/base_mobilitain.html' %}
{# Base template as we used in late 2020. #}
{% load static %}
{% load markdown %}
{% load don %}
{% load mpanels %}
{% load newsletter %}

{% block meta_descr %}
<meta name="description" content="Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse des villes et des périphéries."/>
{% endblock meta_descr %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}{% endblock og_image_type %}
{% block og_image_image %}{% endblock og_image_image %}
{% block twitter_title %}Mobilitains - Pour une mobilité multimodale{% endblock twitter_title %}
{% block twitter_description %}Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse.{% endblock twitter_description %}

{% block content %}

<div class="hero-image mt-n3">
     <div class="hero-text">
          <h1 style="color: white;" class="hero-title">{{ page.hero_title }}</h1>
          <p style="color: white;" class="hero-description">{{ page.hero_description }}</p>
     </div>
</div>

<div class="container-fluid py-5">

{% block app_content %}

<div class="d-flex col-sm-6 col-md-12 col-lg-12 col-xl-12 justify-content-center mb-5">
     <div class="col-md-12 col-lg-12 col-xl-8" style="line-height: 2">
          {{ page.body1_md|markdown }}
     </div>
</div>

{% if page.middle_image_alt|length > 0 %}
<img src="{% static page.middle_image %}"
		 alt="{{ page.middle_image_alt }}"
     style="width:100%;">
{% endif %}

<div class="d-flex col-sm-6 col-md-12 col-lg-12 col-xl-12 justify-content-center mt-5">
     <div class="col-md-12 col-lg-12 col-xl-8" style="line-height: 2">
          {{ page.body2_md|markdown }}
     </div>
</div>



{% endblock app_content%}
</div>
     <div class="background-ad-hoc-blue">
          <div class="p-3">
               {% show_projects %}
               {% show_mailing_list %}
               {% show_qui_sommes_nous %}
          </div>
     </div>

     {% show_donate %}
     {% show_volunteer %}
{% endblock content %}
