{% extends base_template|default:'asso_tn/base_mobilitain.html' %}
{# Base template as we used in late 2020. #}
{% load static %}
{% load markdown %}
{% load don %}
{% load mpanels %}
{% load newsletter %}

{% block meta_descr %}
<meta name="description" content="Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse des villes et des périphéries."/>
{% endblock meta_descr %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}{% endblock og_image_type %}
{% block og_image_image %}{% endblock og_image_image %}
{% block twitter_title %}Mobilitains - Pour une mobilité multimodale{% endblock twitter_title %}
{% block twitter_description %}Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse.{% endblock twitter_description %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	{{ page.body1_md|markdown }}
    </div>
</div>

<div class="row background-ad-hoc-blue"
     style="background-color:  #EAF3FC;">
    <div class="col-lg-12">
	{{ page.body2_md|markdown }}
    </div>
</div>

<div class="row">
    <div class="col-lg-12">

<div class="row">
    <div class="col-lg-12">
	{{ page.body3_md|markdown }}
    </div>

{% show_projects %}

{% show_mailing_list %}
{% show_qui_sommes_nous %}
{% show_donate %}
{% show_volunteer %}
</div>

{% endblock %}
