{% extends 'topicblog/base_topicblog.html' %}

{% block tb_admin_button_row %}
    {{ block.super }}
    {% if transactional_send_record_class %}
        <div class="d-flex flex-row mr-auto">
            <form method="POST" action="{% url 'topic_blog:self_send' %}">
                {% csrf_token %}
                <input type="hidden" name="sent_object_id"
                value="{{ page.id }}">
                <input type="hidden" name="sent_object_class"
                value="{{ base_model }}">
                <input type="hidden" name="sent_object_transactional_send_record_class"
                value="{{ transactional_send_record_class }}">
                <input type="hidden" name="redirect_url"
                value="{{ request.path }}">
                <button type="submit" class="btn btn-outline-info btn-sm"
                >Envoyer par mail à moi même</button>
            </form>
        
            {% if request.GET.email_sent == 'true' %}
                <span class="ml-1">Envoyé <i class="fa fa-check"></i></span>
            {% endif %}
        </div>
    {% endif %}
{% endblock tb_admin_button_row %}

{% block common_staff_banner %}
    {{ block.super }}
    {% if sendable %}
        {% comment %}
            Sendable and not topicblog_admin, so viewing published page, so can
            offer to send.
        {% endcomment %}
        <div class="container-fluid pl-5 py-3">
            <div class="row">
                <a type="button"
                class="btn btn-warning"
                area-disabled="true"
                href="{% url page.send_object_url page.slug %}">
                    Envoyer...
                </a>
            </div>
        </div>
    {% endif %}
{% endblock common_staff_banner %}
