{% extends 'asso_tn/base_mobilitain.html' %}
{% load utm %}

{% comment %}
Note that we need the slug|default:'--sans-slug--' goofiness because
the template render will try to generate URLs even in the cases where we
deactivate the button, and will fail to find a path mapping when the slug
is empty.  Django sees an empty string and trims it when looking for patterns.

Maybe there's a better way, I just haven't found it yet.
{% endcomment %}

{% block body %}{% if user.is_staff %}
  <div class="container-fluid pl-3 py-1">{% visit_overview %}</div>
{% endif %}
{% if user.is_staff and topicblog_admin  %}
<div class="container-fluid pl-5 py-3">
    <div class="row">
	<p>
	    <a type="button" class="btn btn-outline-info btn-sm"
	       href="{% url 'topic_blog:list_items_by_slug' page.slug|default:'--sans-slug--' %}">Liste</a>
	    {% if page.publication_date %}
	    	Publié {{ page.publication_date|date:"l d-m-Y" }} par {{ page.user.email }}
	    {% else %}

			{% if page.first_publication_date %}
				A été publié le {{ page.publication_date|date:"l d-m-Y" }} 
				par {{ page.user.email }} <b style="color:blue">(retiré)</b>
			{% else %}
				Brouillon
			{% endif %}
			{% if page.is_publishable %}
				<form
					action="{% url 'topicblog:view_item_by_pkid' pkid page.slug|default:'--sans-slug--' %}"
				method="POST">
				{% csrf_token %}
				<input type="submit" class="btn btn-outline-info btn-sm" value="Publier">
					</form>
			{% endif %}
	    {% endif %}

	    <a type="button" class="btn btn-outline-info btn-sm"
	       href="{{ page.get_edit_url }}">Modifier</a>

	    {% if page.publication_date %}
	    <a type="button" class="btn btn-outline-info btn-sm"
	       href="{% url 'topic_blog:view_item_by_slug' page.slug|default:'--sans-slug--' %}">Visualiser (usager)</a>
	    {% if page.servable %}
	    <a type="button" class="btn btn-outline-info btn-sm disabled" aria-disabled="true"
	       href="">Retirer</a>
	    {% else %}
	    <a type="button" class="btn btn-outline-info btn-sm disabled" aria-disabled="true"
	       href="">Republier</a>
	    {% endif %}{% endif %}
	</p>
    </div>
</div>
{% endif %}{{ block.super }}
{% endblock body %}
