{% extends 'asso_tn/base_mobilitain.html' %}
{% load gom_jabbar %}

{% comment %}
Note that we need the slug|default:'--sans-slug--' goofiness because
the template render will try to generate URLs even in the cases where we
deactivate the button, and will fail to find a path mapping when the slug
is empty.  Django sees an empty string and trims it when looking for patterns.

Maybe there's a better way, I just haven't found it yet.
{% endcomment %}

{% block body %}
{% block common_staff_banner %}
	{% if user.is_staff %}
		<div class="container-fluid pl-3 py-1">{% visit_overview %}</div>
	{% endif %}
	{% if user.is_staff and topicblog_admin  %}
	<div class="container-fluid pl-5 py-3">
		<div class="row">
		<p>
			{% block tb_admin_button_row %}
				<a type="button" class="btn btn-outline-info btn-sm"
				href="{% url page.listone_object_url page.slug|default:'--sans-slug--' %}">Liste</a>
				{% if page.publication_date %}
					
					{% if page.id == served_object.id %}
						<span>
							(Live) Publié {{ page.publication_date|date:"l d-m-Y à G:i" }}
							par {{ page.publisher.email }}
						</span>
					{% endif %}
					
					{% if page.is_publishable and page.id != served_object.id %}
						<span>
							(Retiré) Publié depuis le {{ page.publication_date|date:"l d-m-Y à G:i" }}
							par {{ page.publisher.email }}
						</span>
						<form
						action="{% url page.viewbypkid_object_url pkid page.slug|default:'--sans-slug--' %}"
						method="POST"
						class="pl-1">
							{% csrf_token %}
							<input type="submit" class="btn btn-outline-info btn-sm" value="Publier">
						</form>
					{% endif %}

				{% else %}
					<span>Jamais publié.</span>
					{% if page.is_publishable %}
						<form
						action="{% url page.viewbypkid_object_url pkid page.slug|default:'--sans-slug--' %}"
						method="POST"
						class="pl-1">
							{% csrf_token %}
							<input type="submit" class="btn btn-outline-info btn-sm" value="Publier">
						</form>
					{% endif %}
				{% endif %}

				<div class="px-1">
					<a type="button" class="btn btn-outline-info btn-sm"
				href="{{ page.get_edit_url }}">Modifier</a>
				</div>

				<div class="px-1">
					<a type="button" class="btn btn-outline-info btn-sm"
					href="{% url page.viewbyslug_object_url page.slug|default:'--sans-slug--' %}">
						Visualiser (usager)
					</a>
				</div>
			{% endblock tb_admin_button_row %}
		</p>
		</div>
		{% if not page.is_publishable %}
			<span class="row"> Éléments manquants pour la publication :
			{% for missing_item in page.get_missing_publication_field_names %}
					{{ missing_item }}, 
			{% endfor %}
			</span>
		{% endif %}
	</div>
	{% endif %}
{% endblock common_staff_banner %}
{{ block.super }}
{% endblock body %}
