{% extends 'topicblog/base_email_client.html' %}
{% load static %}
{% load email_tags %}
{% load absolute_url %}
{% load markdown %}

{% block email_content %}

{% comment %} This table is the main container{% endcomment %}
<table role="presentation"
style="width:94%;max-width:600px;border:none;border-spacing:0;text-align:left;font-family:Arial,sans-serif;font-size:16px;line-height:22px;color:#363636;">
    <tr style="padding:30px;text-align:center;background-color:#404040;color:#cccccc;">
        <a href="{% absolute_url 'topicblog:view_press_by_slug' page.slug|default:email.slug %}" style="font-size:0.7em;color:gray;text-decoration:underline;">
            Voir sur le site web
        </a>
    </tr>
    <img src="{% absolute_url 'topicblog:beacon_view' beacon_token %}.gif" alt="space" height="1" width="1">
    <tr>
        {# These rows handle the logo display #}
        <td style="padding:40px 30px 30px 30px;text-align:center;font-size:24px;font-weight:bold;background-color:#ffffff;">
            <a href="https://www.mobilitains.fr/" style="text-decoration:none;">
                {% if logo_path %}
                    <img src="{{ logo_path }}" width="165" alt="Logo Mobilitains"
                    style="width:165px;max-width:80%;height:auto;border:none;text-decoration:none;color:#ffffff;">
                {% else %}
                    <img src="{% static 'asso_tn/M-logo_colored-32.png' %}" width="165" alt="Logo Mobilitains"
                    style="width:165px;max-width:80%;height:auto;border:none;text-decoration:none;color:#ffffff;">
                {% endif %}
            </a>
        </td> <!-- End Logo -->
    </tr>
    <tr> {# Title and Body_1 #}
        <td style="padding:30px;padding-bottom:15px;background-color:#ffffff;">
            <p><b>Communiqué de presse</b></p>
            <p class="small text-muted">{{ email.publication_date|date:"j F Y" }}</p>
            <p style="margin:0;">
                {% tn_markdown email.body_text_1_md %}
            </p>
            {% if email.body_image_1 %}
                {% email_full_width_image email.body_image_1.url email.body_image_1_alt_text %}
            {% endif %}
        </td>
    </tr> <!-- End of Body_1-->
    <tr>
	<td style="padding:30px;text-align:center;font-size:12px;background-color:#404040;color:#cccccc;">
            <p style="margin:0;font-size:14px;line-height:20px;">
		Contact: <a href="mailto:press@mobilitains.fr"
			    style="color:#cccccc;text-decoration:underline;">press@mobilitains.fr</a>
	    </p>
	</td>
    </tr>
    <tr> <!-- Footer -->
        <td style="padding:30px;text-align:center;font-size:12px;background-color:#404040;color:#cccccc;">
            <p style="margin:0;font-size:14px;line-height:20px;">
                &reg; Mobilitains 2022<br>
                <a class="unsub" href="{% absolute_url 'mailing_list:press_subscription_management' token %}" style="color:#cccccc;text-decoration:underline;">Préférences Presse</a>
            </p>
        </td>
    </tr> <!-- End of Footer -->
</table>

{% endblock email_content %}
