{% extends 'asso_tn/base_mobilitain.html' %}
{# Initial template to get going with TBv2. #}
{% load static %}
{% load don %}
{% load mpanels %}
{% load newsletter %}
{% load crispy_forms_tags %}

{% block meta_descr %}
<meta name="description" content="Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse des villes et des périphéries."/>
{% endblock meta_descr %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}{% endblock og_image_type %}
{% block og_image_image %}{% endblock og_image_image %}
{% block twitter_title %}Mobilitains - Pour une mobilité multimodale{% endblock twitter_title %}
{% block twitter_description %}Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse.{% endblock twitter_description %}

{% block app_content %}
<script src="{% static 'topicblog/clean_slug_field.js' %}" defer></script>
<script src="{% static 'topicblog/clear_file_inputs.js' %}" defer></script>
<script src="{% static 'topicblog/same_slug_warning.js' %}" defer></script>
{% comment "about json_script" %}
The context variable slug_fields is a Python list passed into the html document
in a script tag under the provided css ID thanks to the |json_script filter.
See documentation :
https://docs.djangoproject.com/en/3.2/ref/templates/builtins/#json-script
It can be then parsed into a Javascript array. Using it spares an Ajax call.
This particular instance is used to get the ids of the slug fields in the form.
It is retrieved inside clean_slug_field.js
{% endcomment %}
{{slug_fields|json_script:"slug_fields"}}

<div class="d-flex col-12 col-sm-10 col-lg-8 flex-column justify-content-center mx-auto">
	<h2 class="text-center">Pages de blog</h2>
	{% if tb_object.id and user.is_superuser %}
		<div class="text-center">
			<h5>Vous modifiez l'élément suivant :</h5>
			<p>id : {{tb_object.id}}, slug : {{tb_object.slug}}, titre : {{tb_object.title}}</p>
		</div>
	{% endif %}
    <form id="edition_form" class="d-flex flex-column justify-content-center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
	<div class="container">
	  <ul class="nav nav-tabs" role="tablist">
	    <li class="nav-item">
	      <a class="nav-link active" data-toggle="tab" href="#form_admin">Admin</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#form_content_a">Contenu (1)</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#form_content_b">Contenu (2)</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#form_social">Social</a>
	    </li>
		<li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#form_notes">Notes</a>
	    </li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div id="form_admin" class="container tab-pane active"><br>
			{% for field in form %}
				{% if field.name in form_admin %}
						<div class="fieldWrapper">
							{{ field.errors }}
							{{ field|as_crispy_field }}
							{% comment %}{% if field.help_text %}
								<p class="help">{{ field.help_text|safe }}</p>
							{% endif %}{% endcomment %}
						</div>
				{% endif %}
			{% endfor %}
	    </div>
	    <div id="form_content_a" class="container tab-pane fade"><br>
			{% for field in form %}
				{% if field.name in form_content_a %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
	    <div id="form_content_b" class="container tab-pane fade"><br>
			{% for field in form %}
				{% if field.name in form_content_b %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
	    <div id="form_social" class="container tab-pane fade"><br>
			{% for field in form %}
				{% if field.name in form_social %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
		<div id="form_notes" class="container tab-pane fade"><br>
			{% for field in form %}
				{% if field.name in form_notes %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
	  </div>
		<div id="button-container" class="d-flex container justify-content-around">
			<input class="btn navigation-button mt-3" type="button" value="Réinitialiser" onclick="window.location.href=window.location.href">
			<a href="{% url 'topicblog:list_items' %}" class="btn navigation-button mt-3">Retour à la liste</a>
			<input class="btn navigation-button mt-3" type="submit" value="Sauvegarder" name="sauvegarder">
		</div>
	</div>
    </form>
</div>

{% endblock %}
