{% extends 'asso_tn/base_mobilitain.html' %}
{# Initial template to get going with TBv2. #}
{% load static %}
{% load markdown %}
{% load don %}
{% load mpanels %}
{% load newsletter %}
{% load crispy_forms_tags %}

{% block meta_descr %}
<meta name="description" content="Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse des villes et des périphéries."/>
{% endblock meta_descr %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}{% endblock og_image_type %}
{% block og_image_image %}{% endblock og_image_image %}
{% block twitter_title %}Mobilitains - Pour une mobilité multimodale{% endblock twitter_title %}
{% block twitter_description %}Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse.{% endblock twitter_description %}

{% block app_content %}
<script src="{% static 'topicblog/update_template_list.js' %}" defer></script>
<script src="{% static 'topicblog/clean_slug_field.js' %}" defer></script>
<script src="{% static 'topicblog/clear_file_inputs.js' %}" defer></script>
<script src="{% static 'topicblog/same_slug_warning.js' %}" defer></script>

{% if success %}
<div class="alert alert-success center flex-column">
	<strong>Enregistré !</strong>
	<span><a href="{{ created_item_edit_URL }}">Editer l'enregistrement</a></span>
	<span><a href="{{ created_item_view_URL }}">Consulter</a></span>
</div>
{% endif %}

<div class="d-flex col-12 col-sm-10 col-lg-8 flex-column justify-content-center mx-auto">
    <form id="edition_form" class="d-flex flex-column justify-content-center" method="post" data-template-update-url="{% url 'topicblog:update_template_list' %}" enctype="multipart/form-data">
        {% csrf_token %}
	<div class="container">
	  <ul class="nav nav-tabs" role="tablist">
	    <li class="nav-item">
	      <a class="nav-link active" data-toggle="tab" href="#form_admin">Admin</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#form_content_a">Contenu (1)</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#form_content_b">Contenu (2)</a>
	    </li>
	    <li class="nav-item">
	      <a class="nav-link" data-toggle="tab" href="#form_social">Social</a>
	    </li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div id="form_admin" class="container tab-pane active"><br>
			{% for field in form %}
				{% if field.name in form_admin %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
	    <div id="form_content_a" class="container tab-pane fade"><br>
			{% for field in form %}
				{% if field.name in form_content_a %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
	    <div id="form_content_b" class="container tab-pane fade"><br>
			{% for field in form %}
				{% if field.name in form_content_b %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
	    <div id="form_social" class="container tab-pane fade"><br>
			{% for field in form %}
				{% if field.name in form_social %}
					<div class="fieldWrapper">
						{{ field.errors }}
						{{ field|as_crispy_field }}
						{% comment %}{% if field.help_text %}
							<p class="help">{{ field.help_text|safe }}</p>
						{% endif %}{% endcomment %}
					</div>
				{% endif %}
			{% endfor %}
	    </div>
	  </div>
		<div id="button-container" class="d-flex container justify-content-around">
			<input class="mt-3" type="button" value="Annuler" onclick="window.location.href=window.location.href">
			{% if is_editable %}
				<input class="mt-3" type="submit" value="Sauvegarder" name="sauvegarder">
			{% endif %}

			{% if variant_available %}
				<input class="mt-3" type="submit" value="Créer un variant" name="create_variant">
			{% endif %}
		</div>

	</div>
    </form>
</div>

{% endblock %}
