{% extends 'asso_tn/base_mobilitain.html' %}
{# Initial template to get going with TBv2. #}
{% load static %}
{% load markdown %}
{% load don %}
{% load mpanels %}
{% load newsletter %}

{% block meta_descr %}
<meta name="description" content="Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse des villes et des périphéries."/>
{% endblock meta_descr %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}{% endblock og_image_type %}
{% block og_image_image %}{% endblock og_image_image %}
{% block twitter_title %}Mobilitains - Pour une mobilité multimodale{% endblock twitter_title %}
{% block twitter_description %}Nous agissons pour une mobilité plus fluide, plus sécurisée et plus vertueuse.{% endblock twitter_description %}

{% block app_content %}

<div class="d-flex col-6 flex-column justify-content-center mx-auto">
    <form class="d-flex flex-column justify-content-center" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input class="mt-3" type="submit" value="Submit">
    </form>
</div>

{% endblock %}
