{% extends 'asso_tn/base_mobilitain.html' %}

{% block app_content %}

    {% if missing_fields %}
        <div id="list_of_errors_container" class="alert alert-warning">
            <p>Voici la liste des champs manquants :</p>
            <ol>
                {% for missing_field in missing_fields %}
                    <li>{{ missing_field }}</li>
                {% endfor %}
            </ol>
        </div>
    {% else %}
        <div id="list_of_errors_container" class="alert alert-success">
            <p>Aucune information manquante !</p>
        </div>
        <form action="{% url 'topicblog:publish_item' pkid item_slug %}" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Publier">
        </form>
    {% endif %}

    {% if publication_succeeded %}
    <p>Success</p>
    {% endif %}
{% endblock app_content %}
