{% extends 'asso_tn/base_mobilitain.html' %}

{% block content %}
<div class="container-fluid pl-5 py-3">

    <strong>
        <a href="{% url 'topic_blog:list_items' %}">
	    <i class="fa fa-arrow-left" aria-hidden="true"></i>
	    {{ slug }}
	</a>
    </strong>
    {% if is_servable %}
      {% with object_list|first as object %}
    <a type="button" class="btn btn-outline-info btn-sm"
       href="{% url 'topic_blog:view_item_by_slug' object.slug %}">Visualiser (usager)</a>
      {% endwith %}
    {% endif %}
    {% for object in object_list %}
    <p>
        <span class="text-muted">[{{ object.id }}]</span>
        {{ object.header_title }} <span class="text-muted">{{ object.header_description }}</span>
        {% if object.id == currently_published.id %}
                <b style="color:green;">(Page actuelle)</b>
        {% endif %}
        <br />
        Créé le {{ object.date_created|date:"l d-m-Y" }}
        <small class="text-muted">{{ object.date_created|date:"H:i:s" }}</small>
        par {{ object.user.email }}
        <br> 
        Modifié le {{ object.date_modified|date:"l d-m-Y" }}
        <small class="text-muted">{{ object.date_modified|date:"H:i:s" }}</small>
        <br>
        {% if object.publication_date %}

            Publié le {{ object.publication_date|date:"l d-m-Y" }}
            <small class="text-muted">{{ object.publication_date|date:"H:i:s" }}</small>
            par {{ object.published_by.email }}
            {% if object.id == currently_published.id %}
                <small class="text-muted"> (Première publication : {{ currently_published.first_publication_date|date:"l d-m-Y H:i:s" }})</small>
            {% endif %}

        {% else %}

            Brouillon
            {% if object.is_publishable %}
                <span class="text-muted"><i>prêt à publier</i></span>
            {% endif %}
        {% endif %}
        <br>
        <a type="button" class="btn btn-outline-info btn-sm"
        href="{{object.get_edit_url}}">Modifier</a>
        <a type="button" class="btn btn-outline-info btn-sm"
        href="{{object.get_absolute_url}}">Visualiser</a>
    </p>
    {% empty %}
    <p>Aucun résultat.</p>
    {% endfor %}
</div>
{% endblock content %}
