{% extends 'asso_tn/base_mobilitain.html' %}

{% block content %}
<div class="container-fluid pl-5 py-3">
    {% for object in object_list %}
    <p>
	<strong>
	    <a href="{% url 'topic_blog:list_launcher_by_slug' object.slug|default:'--sans-slug--' %}">
		{{ object.slug }}</a>
	</strong>
	<span class="text-muted">
	    {% if object.date_published %}publié {{ object.date_published|date:"l d-m-Y" }}
	    {% endif %}
	    modifié {{ object.date_modified|date:"l d-m-Y" }}
	</span>
	[#={{ object.count }}]
    </p>
    {% empty %}
    <p>Aucun résultat.</p>
    {% endfor %}
</div>
{% endblock content %}
