{% extends 'asso_tn/base_mobilitain.html' %}

{% block content %}
<div class="container-fluid pl-5 py-3">

    <strong>
        <a href="{% url 'topic_blog:list_items' %}">
	    <i class="fa fa-arrow-left" aria-hidden="true"></i>
	    {{ slug }}
	</a>
    </strong>
    {% if is_servable %}
      {% with object_list|first as object %}
    <a type="button" class="btn btn-outline-info btn-sm"
       href="{% url 'topic_blog:view_item_by_slug' object.slug %}">Visualiser (usager)</a>
      {% endwith %}
    {% endif %}
    {% for object in object_list %}
    <p>
	<span class="text-muted">[{{ object.id }}]</span>
        {{ object.header_title }} <span class="text-muted">{{ object.header_description }}</span>
        <br>
        {% if object.publication_date %}
        publiée {{ object.publication_date|date:"l d-m-Y" }} par {{ user.email }}
        {% if not object.servable %}(retirée){% endif %}
        {% else %}
        brouillon
        {% if object.is_publishable %}
        <span class="text-muted"><i>prêt à publier</i></span>
        {% endif %}
        {% endif %}
        <br>
        <a type="button" class="btn btn-outline-info btn-sm"
           href="{{object.get_edit_url}}">Modifier</a>
        <a type="button" class="btn btn-outline-info btn-sm"
           href="{{object.get_absolute_url}}">Visualiser</a>
        {% if object.publication_date %}
        {% if object.servable %}
        <a type="button" class="btn btn-outline-info btn-sm disabled" aria-disabled="true"
           href="">Retirer</a>
        {% else %}
        <a type="button" class="btn btn-outline-info btn-sm disabled" aria-disabled="true"
           href="">Republier</a>
        {% endif %}{% endif %}
    </p>
    {% empty %}
    <p>Aucun résultat.</p>
    {% endfor %}
</div>
{% endblock content %}
