{% extends 'topicblog/content.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'topicblog/email-sending-confirm.js' %}"></script>
{% endblock scripts %}

{% block content %}

    <form id="send-email-form" class="col-10 mx-auto mt-2"
    action="{% url 'topicblog:send_email' tbe_slug %}"
    method="POST">{% csrf_token %}
        {{form|crispy}}
        <p class="text-muted small">Nombre de destinataires : <span id="nb-recipients">0</span></p>
        <button id="send-email-btn" type="submit" class="btn navigation-button">Envoyer</button>
    </form>

{% endblock content %}
