{% extends 'topicblog/base_email.html' %}

{% block app_content %}

{% if not confirmed_unsub %}
{# GET #}
    <form method="post" action="{% url "topicblog:email-unsub" token %}"
    class="d-flex flex-column flex-wrap col-10 col-md-6 mx-auto">
        {% csrf_token %}
        <h1 class="d-flex text-center">
            Voulez vous vraiment vous désabonner de la liste de diffusion "{{send_record_mailing_list}}" ?
        </h1>
        <div class="d-flex flex-row flex-wrap col-6 mx-auto mt-3 justify-content-around">
            <button class="btn navigation-button" type="submit">Oui</button>
            <a class="btn navigation-button" href="{% url "index" %}">Non</a>
        </div>
    </form>
{% else %}
{# POST #}
    <h1 class="d-flex col-10 col-md-6 mx-auto text-center">
        Vous vous êtes désabonné(e) de la liste de diffusion "{{send_record_mailing_list}}"
    </h1>
{% endif %}

{% endblock app_content %}
