<form method="post" action="{% url 'mailing_list:toggle_subscription' %}">
    {% csrf_token %}
    <input type="hidden" id="mailinglist" name="mailinglist" value="{{mailing_list.id}}">
    {% comment %} If this is a unsub form show the back button {% endcomment %}
    {% if unsubscribe %}
        <div class="row">
            <div class="col-md-6">
                    <button type="submit" class="btn navigation-button btn-lg btn-block">{{button_label}}</button>
            </div>
            <div class="col-md-6">
                <a href="{% url 'mailing_list:user_status' %}" class="btn navigation-button btn-lg btn-block">Retour</a>
            </div>
        </div>
    {% else %}
        <button type="submit" class="btn donation-button m-1">{{button_label}}</button>
    {% endif %}
</form>
