{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>La Grande Mobilité</h1>
    <p class="hero-description">Me déplacer comme je veux, quand je veux</p>
    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
  </div>
</div>


<div class="container pt-5">
<div class="row">
    <div class="col-lg-12">
	<h1>La Grande Mobilité</h1>

	<h2>Nos ambitions élections 2021</h2>

	<p>
	    Obtenir une fréquence d’au moins 15 mn pour tous les
	    cars/bus/trams/TER pendant toutes les périodes de
	    service. Multiplier les lignes ferroviaires en zone urbaine et
	    péri urbaine.</p>

	<p>
	    Avec des stationnements de vélo au niveau des arrêts,
	</p>

	<p>
	    et des réseaux sécurisés piéton et vélo dans un rayon de
	    10&nbsp;minutes autour des arrêts et des gares.</p>

	<p>
	    Il s’agit simplement de mieux utiliser et d’optimiser
	    l’existant.</p>


	<h2>Devenez ambassadeur Mobilitain pour la grande mobilité</h2>

	<p>Cette évolution doit se faire de façon collective et nous
	avons besoin de représentants qui puisse réfléchir et agir
	avec nous afin que nous soyons plus forts pour avoir un impact
	auprès des élus.</p>

	<p><a href="{% url 'asso_tn:contact' %}">Je veux en être</a>.
	</p>


	{% comment %}
	<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	{% endcomment %}
    </div>
</div>
</div>
{% endblock %}
