{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block app_content %}
<div container>
<div class="row">
    <div class="col-lg-12">
	<h1>Un Chronotrain à Nantes</h1>
	<p>
	    Nantes a besoin de plus de mobilité. Sans payer cher, sans
	    surcoût ! Nos TERs offrent une belle solution.
	</p>
	<p>
	    Pour agir, nous avons besoin de votre voix.
	</p>

	<p><emph>Transport Nantes est un lobby citoyen qui milite pour des
	    politiques ambitieuses en faveur des transports doux et plus
	    efficaces pour chacun – tramway, bus, vélo, marche,
	    personnes à mobilité réduite, trottinette
	    : à vous de choisir.</emph>
	</p>

<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>

	<h2>Toutes les 15 minutes</h2>

	<p>Notre réseau de TER est sous-exploité. Les rails, les
	    cheminots et le matériel sont déjà présents.</p>

	<p>Sur le coeur du réseau, Transport Nantes propose
	    d’augmenter la fréquence de service à toutes les 15 minutes, toute
	    la journée. Rien à construire, rien à acheter.  C’est le
	    Chronotrain.
	</p>

	<img src="{% static 'grand_nantes/rail-tout-75.png' %}" style="width:100%;">


	<h2>On fait quoi ensemble ?</h2>
	<p>Notre projet commence d’une façon simple : nous interpellons nos élus,
	    en particulier en prévision des élections municipales de 2020.
	    Pour ce faire, nous avons besoin de
	vous. C’est votre soutien qui nous donne la force d’agir. Et
	c’est votre participation (quel que soit son niveau) qui nous
	donne une crédibilité.
	</p>

	<h3>Participez !</h3>
	<p>Nous avons mis un demi-siècle à mettre en place un modèle
	    de système urbain ultra-dépendant de la voiture. Le
	    transformer en un système plus sain, plus efficace, qui offre
	    un choix crédible à chacun ne se fera pas du jour au
	    lendemain. Mais nous proposons tout simplement de commencer
	    aujourd’hui, ensemble, à construire ce que nous voudrions
	    donner un jour à nos petits-enfants.
	</p>

	<p>
	    Votre voix nous est précieuse. C’est ce qui nous donne la
	    force de porter la nôtre.
	</p>

	{% comment %}
	<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	{% endcomment %}
    </div>
</div>
</div>
{% endblock %}
