{% load markdown %}

<div class="container-fluid p-0">
    <div class="card text-center">
         <img src="{{ item.header_image.url }}" class="card-img custom-card-image-overlay" alt="header_image">
         <div class="card-img-overlay d-flex flex-column justify-content-center align-items-center image-overlay-dark">
           <h2 class="card-title text-white">{{ item.header_title }}</h2>
           <p class="card-text text-white">{{ item.header_description }}</p>
         </div>
    </div>
    <div class="p-4 d-flex flex-column">
      {% comment %}
        If the launcher slug does not reference a launcher in the
        database or doesn't have a teaser_chars set we display
        the teaser text with a default 50 truncatewords.
        That shouldn't happen, but if it does, we'd like not to have
        the entire page fail.
      {% endcomment %}
      <div class="teaser-text">
      {% if launcher.teaser_chars %}
        {% tn_markdown item.body_text_1_md|truncatechars:launcher.teaser_chars %}
      {% else %}
        {% tn_markdown item.body_text_1_md|truncatechars:300 %}
      {% endif %}
      </div>
		{% comment %}
	    If the launcher slug does not reference a launcher in the
	    database, the templatetag will pass None to this template
	    instead of passing a valid launcher object.  That
	    shouldn't happen, but if it does, we'd like not to have
	    the entire page fail.  So instead display a short error
	    with no link.

	    Note that it would be worse than linking to nowhere: the
	    reverse url lookup would see an empty argument, conclude
	    no argument, and so 500.
	  {% endcomment %} 
    {% if item.slug %}
      <a href="{% url 'topic_blog:view_item_by_slug' item.slug %}" class="btn donation-button btn-lg mx-auto" >En lire plus <i class="fa fa-arrow-right"></i></a>
    {% else %}
      404
    {% endif %}
    </div>
</div>
