<div class="col-12 col-sm-6 col-lg-3">
	<div class="thumbnail">
		{% comment %} For avoiding the django.urls.exceptions.NoReverseMatch: Reverse for 'view_item_by_slug if the item is not in the database. {% endcomment %}
		{% if launcher.article_slug %}
			<a href="{% url 'topic_blog:view_item_by_slug' launcher.article_slug %}">
		{% endif %}
			<div class="shadow-md">
				<img class="rounded" src="{{ launcher.launcher_image.url }}" alt="{{ launcher.launcher_image_alt_text }}" style="width:100%">
			</div>
			<div class="caption pt-2">
				<h3 class="font-weight-light">{{ launcher.headline }}</h3>
				<p>{{ launcher.launcher_text_md }}</p>
			</div>
		{% if launcher.article_slug %}
	    	</a>
		{% endif %}
	</div>
</div>
