{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>Connexion</h1>

	    <form method="post">
		{% csrf_token %}
		<p>
		    {{ form.email.label }}<br>
		    {{ form.email }}
		    {% if form.email.help_text %}
		    <small style="color: grey">{{ form.email.help_text }}</small>
		    {% endif %}
		</p>
		{% for error in form.email.error_messages %}
		<p style="color: red">{{ error }}</p>
		{% endfor %}
		<p>
		    {{ form.captcha }}
		    {% if form.captcha.help_text %}
		    <small style="color: grey">{{ form.captcha.help_text }}</small>
		    {% endif %}
		</p>
		{% for error in form.captcha.errors %}
		<p style="color: red">{{ error }}</p>
		{% endfor %}
		<p class="text-secondary">C'est tout ce qu'il faut !
		    Vous recevrez un mél pour valider votre connexion.
		    Si vous n'avez pas déjà de compte, votre première connexion
		    en créerait un.
		</p>
		<p>
		    {{ form.password1.label }}<br>
		    {{ form.password1 }}
		    {% if form.password1.help_text %}
		    <small style="color: grey">{{ form.password1.help_text }}</small>
		    {% endif %}
			
		</p>
		{% for error in form.password1.error_messages %}
		<p style="color: red">{{ error }}</p>
		{% endfor %}
		<p class="text-secondary">
		    Sans mot de passe, vous recevrait un mél avec un
		    lien pour valider votre connexion.  Si vous avez
		    oublié votre mot de passe, connectez sans, vous
		    recevrez un mél pour vous connecter.
		</p>
		<button type="submit" class="btn btn-outline-primary">Connexion</button>

		<p><hr></p>
		<p>
		    {{ form.password2.label }}<br>
		    {{ form.password2 }}
		    {% if form.password2.help_text %}
		    <small style="color: grey">{{ form.password2.help_text }}</small>
		    {% endif %}
		</p>
		{% if pwd_error %}
			<p style="color: red">{{ pwd_error }}</p>
		{% endif%}
		
		{% for error in form.password2.errors %}
			<p style="color: red">
				{% if error == "The two password fields didn’t match." %}
					Les mots de passe ne sont pas identiques.
				{% else %}
					{{ error }}
				{% endif %}
			</p>
		{% endfor %}

		<p class="text-secondary">Si vous créez votre compte et vous fournissez un
		    mot de passe, tapez-le une deuxième fois.</p>
		<button type="submit" class="btn btn-outline-secondary">Inscription</button>
	    </form>
	</div>
    </div>
</div>
{% endblock %}
