{% extends 'asso_tn/base_mobilitain.html' %}
{% load crispy_forms_tags %}

{% block app_content %}

<div class="container">
    <div class="row">
	<div class="col-lg-12">
	    <p>
		<b>Bienvenu.</b>
	    </p>
	    <p>
		OK, vous avez demandé de fournir un mot de passe au
		lieu de recevoir un mail.  Si ce n'est pas le cas, il
		suffit de continuer sans, je vous enverrai un mail.
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12">
	    <form method="post" class="d-flex flex-column col-12 col-sm-10 col-lg-6 mx-auto">
		{% csrf_token %}
		{{form|crispy}}
		<button class="btn navigation-button mx-auto" type="submit">
		    Je prouve mon humanité !
		</button>
	    </form>
	</div>
    </div>
</div>

{% endblock app_content %}
