{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>Modifier profile</h1>

	    <form method="POST" enctype="multipart/form-data">
		{% csrf_token %}
		<fieldset class="form-group">
		    <legend class="border-bottom mb-4">Profile Info</legend>
		    {{ u_form.as_p }}
		    {{ p_form.as_p }}
		</fieldset>
		<button type="submit">Update</button>
	    </form>
	</div>
    </div>
</div>
{% endblock %}
