{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block app_content %}

{% if validlink %}

<h1>Changer de mot de passe</h1>
<form method="POST">
  {% csrf_token %}

        <p>Nouveau mot de passe: <br> {{form.new_password1}}</p>
        <p>Répeter le mot de passe <br> {{form.new_password2}}</p>
  <input type="submit" value="Changer mon mot de passe">
</form>

{% else %}

<p>Le lien de réinitialisation du mot de passe est invalide, peut-être a-t'il déjà été utilisé. Veuillez faire une nouvelle demande de réinitialisation.</p>

{% endif %}
{% endblock %}