{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block app_content %}

<div class="container">
<div class="row">
	<div class="col-lg-12">
		  <p class="m-auto p-2">
		    Nous vous avons envoyé un mél d'instructions pour réinitialiser votre mot de passe.
            Vous allez le recevoir sous peu.
		  </p>
		  <p class="m-auto p-2">
		    Si vous n'avez pas reçu de mél, veuillez vérifier que vous avez entré l'adresse avec laquelle vous
            vous êtes enregistré and vérifiez vos spams.
		  </p>
		  <p class="m-auto p-2"><a href="{% url 'index' %}">Retour à la page d'accueil</a></p>
	</div>
</div>
</div>

{% endblock %}