{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Quels déplacements lors du déconfinement ?{% endblock og_title %}
{% block og_description %}Nantes Métropole prépare un plan d’aménagements cyclables temporaires.  Nous nous inquiétons de ne pas voir les aménagements avancer et de l'absence de communication.{% endblock og_description %}
{% block og_image_url %}{% static 'velopolitain/tactical/bouchon-1.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}image/png{% endblock og_image_type %}
{% block og_image_width %}976{% endblock og_image_width %}
{% block og_image_height %}549{% endblock og_image_height %}
{% block twitter_image %}{% static 'velopolitain/tactical/bouchon-1.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Quels déplacements lors du déconfinement ?{% endblock twitter_title %}
{% block twitter_description %}Nantes Métropole prépare un plan d’aménagements cyclables temporaires.  Nous nous inquiétons de ne pas voir les aménagements avancer et de l'absence de communication.{% endblock twitter_description %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <p class="text-muted" style="text-align: center;">Lettre ouverte de Transport Nantes
		lors du déconfinement le 11 mai 2020
	    </p>
	    <p>10 mai 2020</p>

	    <p>
		Depuis un mois et demi, l'usage du vélo est privilégié
		dans de nombreuses villes du monde touchées par le
		covid19. Il offre en effet en période de distanciation
		physique de nombreux avantages : Une capacité de flux
		10 fois plus élevée que la voiture et une occupation
		de l'espace public 10 à 20 fois moins importante. Au
		delà ses avantages en terme de santé publique (maladie
		cardiaques et surpoids) qui sont des facteurs de
		comorbidité dans la pandémie qui nous touche, ajoutons
		a cela les bienfaits pour la qualifié de l'air, la
		réduction du bruit (stress, sommeil) et bien d'autres.</p>
	    <p>
		Il n'est pas question de mettre 100&nbsp;% des
		citoyens au vélo, ni de bannir la voiture&nbsp;: il s'agit
		d'utiliser de manière pragmatique nos espaces publiques
		contraints. A l'heure ou 58&nbsp;% des trajets
		domicile-travail de moins d’1km se font en voiture,
		commençons par ceux là. Pour répondre a cette urgence,
		l'urbanisme tactique consiste a faire vite des
		aménagements temporaires pour sécuriser les flux
		cyclistes et piétons.  Le Cerema en a fait un
		guide. On fait, on ouvre, on passe à la suite.  Pas de
		blabla, le temps n’est plus à la communication mais à
		l’efficacité. On fait vite car il est possible de
		modifier, améliorer par la suite, rien n'étant figé.</p>
	    <p>
		À Nantes, un premier aménagement a été mis en oeuvre
		sur la bretelle d'accès du pont Anne de Bretagne le 16
		avril, posté sur
		Twitter, une photo du quai de la fosse laissant penser
		que la collectivité avait pris la mesure du défi qui
		se présente à nous.  Dès le lendemain, l'association
		Place au vélo a formulé, publiquement, 14
		propositions.</p>
	    <p>
		Les semaines ont passé, 3, bientôt 4. Les services de
		Nantes ont aménagé sur 3 ponts des bidirectionnelles
		de courte distance sans toutefois répondre aux
		demandes formulées par les usagers. Le plupart de ces
		aménagements ont été annoncées dans la presse par une
		association militantes dont les demandes n’ont
		pourtant pas été entendues (un et demi sur
		14).  L'association a même mi son propre matériel à
		disposition, place Graslin, pour palier les
		manquements de la collectivité. Nous ne pouvons que
		saluer le travail de ses membres, dont l’action est
		expertise d'usage a été ignorée.</p>
	    <p>
		A cette heure, plusieurs questions restent en
		suspens&nbsp;:
		<ul>
		    <li>Quel est l'objectif de Nantes Métropole&nbsp;?</li>
		    <li>Pourquoi avoir réalisé des aménagements non
			prioritaires alors que le matériel, les moyens et le
			temps lui manquait&nbsp;?</li>
		    <li>Qui a fait ses arbitrages&nbsp;?</li>
		    <li>Pourquoi ne pas avoir adopté une mesure de baisse de
			la vitesse généralisée à l’intérieure des boulevards
			et sur certains axes critiques&nbsp;?</li>
		    <li>D'interdiction de
			stationnement devant les commerces (au lieu de
			maintenir la gratuite), de sécurisation d'axe
			structurants et au delà assurer la jonction avec les
			23 autres villes de la métropole&nbsp;?</li>
		</ul>
	    </p>
	    <p>
		A quelques heure du déconfinement la ville de demain
		sera-t-elle apaisée, respectueuse de ses habitant et
		visiteurs ou verra t-elle le retour de
		l’individualisme de la voiture&nbsp;?  D'autres villes,
		Paris, Grenoble, Rennes et même Nice ont fait le choix
		de choisir&nbsp;!
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col-sm-6">
	    <p>
		Jeff Abrahamson<br>
		(président)
	    </p>
	</div>
	<div class="col-sm-6">
	    <p>
		Julien Le Rudulier
	    </p>
	</div>
    </div>
</div>

{% endblock %}
