{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Quels déplacements lors du déconfinement ?{% endblock og_title %}
{% block og_description %}Nantes Métropole prépare un plan d’aménagements cyclables temporaires.  Nous nous inquiétons de ne pas voir les aménagements avancer et de l'absence de communication.  Transport Nantes demande de participer.{% endblock og_description %}
{% block og_image_url %}{% static 'communications/2020-04-27_2.png' %}{% endblock og_image_url %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}image/png{% endblock og_image_type %}
{% block og_image_width %}679{% endblock og_image_width %}
{% block og_image_height %}563{% endblock og_image_height %}
{% block twitter_image %}{% static 'communications/2020-04-27_2.png' %}{% endblock twitter_image %}
{% block twitter_title %}Quels déplacements lors du déconfinement ?{% endblock twitter_title %}
{% block twitter_description %}Nantes Métropole prépare un plan d’aménagements cyclables temporaires.  Nous nous inquiétons de ne pas voir les aménagements avancer et de l'absence de communication.  Transport Nantes demande de participer.{% endblock twitter_description %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <p>27 avril 2020</p>

	    <p>Madame Roland,</p>
	    <p>
		Je vous contacte en tant que président de Transport
		Nantes, association qui milite pour un choix crédible
		d'options de déplacement sur la métropole entière et
		porteur du projet Vélopolitain.
	    </p>
	    <p>
		La France parle de l'urbanisme tactique, Place au Vélo
		a proposé un certain nombre d'aménagements urgents.  Nous
		nous inquiétons de ne pas voir les aménagements avancer et
		de l'absence de communication.
	    </p>
	    <p>
		Nous souhaitons rencontrer les acteurs de Nantes
		Métropole et participer à la recherche et la mise en
		oeuvre des solutions au plus vite.
	    </p>
	    <p>
		Bien cordialement,
	    </p>
	    <p>
		Jeff Abrahamson<br>
		Transport Nantes, président
	    </p>

	</div>
    </div>
</div>
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <hr>
	    Historique :
	    <ul>
		<li>27 avril 2020, 12h58 : lettre envoyé par mél</li>
		<li>27 avril 2020, 13h03 : <a href="https://twitter.com/TransportNantes/status/1254727785798684672">tweet</a></li>
		<li>27 avril 2020, 13h19 : <a href="https://www.facebook.com/transport.nantes/posts/2661582637440127?__xts__[0]=68.ARDFSv4xlbrva8NJgGsvPJPjr7VEbL4UB8dL-SfusNhS8YACsK6qszv-Sbu0qY8zu98hNr06DSEtTzIh1eNBUKmYyHq8OO96iVIFdD8AJULGjiM31Eeh2z4GOD3f-H_9GwQewi_xcIi868z6uGq7dnVbFsGCeGaxnUykAJKkjUuzlpYz9uGr7lQWEq0ttqVkOM0yQHUQRocVzd60qFZFjyYUrIyMX4vZZBNvGhQnmCqNqHlVWC9QYMU8Qva6418Z7scge8BfrwyEmw-bO2kRMA5htWzedwaU7cDUzwosfkAQZZD_uHf3dhTgpWGPa8gEw-jnjI1plZIuQlVRD9oTnqNk6KwA&__tn__=-R">facebook</a></li>
	    </ul>s
	</div>
    </div>
</div>

{% endblock %}
