{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Quels déplacements lors du confinement et après ?{% endblock og_title %}
{% block og_description %}L'encouragement maintenant des déplacements actifs et doux pourrait avoir un effet bénéfique de longue terme.{% endblock og_description %}
{% block og_image_url %}{% static 'velopolitain/tactical/bouchon-1.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}{% endblock og_image_alt %}
{% block og_image_type %}image/png{% endblock og_image_type %}
{% block og_image_width %}976{% endblock og_image_width %}
{% block og_image_height %}549{% endblock og_image_height %}
{% block twitter_image %}{% static 'velopolitain/tactical/bouchon-1.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Quels déplacements lors du confinement et après ?{% endblock twitter_title %}
{% block twitter_description %}L'encouragement maintenant des déplacements actifs et doux pourrait avoir un effet bénéfique de longue terme.{% endblock twitter_description %}

{% block app_content %}
<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">
	    <p>Le confinement comme facteur d’accélération de la mobilité vertueuse&nbsp;?</p>

	    <p class="text-muted"><i>Ce second épisode nous donne
		l’opportunité de faire avancer la transition
		écologique, ne la ratons pas !</i>
	    </p>

	    <h1 class="text-muted" style="text-align: center;">Lettre ouverte</h1>

	    <p>19 novembre 2020</p>

	    <p class="text-muted">M. Jean Castex<br>
		Premier Ministre<br>
		Hôtel de Matignon<br>
		57 rue de Varenne<br>
		75007 Paris</p>

	    <p>Monsieur le Premier ministre,
	    </p>

	    <p>Vous le savez bien : il ne faut jamais gaspiller une
	    crise.
	    </p>

	    <p>Lors de ces moments où tout change, on a la possibilité
	    de basculer dans la bonne direction ou dans la
	    mauvaise. En France, nous sommes en train de louper ce
	    pas.
	    </p>

	    <p>Alors que la politique nationale encourage les
		déplacements actifs et doux, l’insécurité (réelle ou
		ressentie) et le manque d’infrastructure ralentissent
		le développement des mobilités actives.</p>
	    <p>
		Et si la période de confinement était un moment
		propice aux changements des habitudes&nbsp;? </p>
	    <p>
		La baisse importante de la circulation automobile crée
		un terrain très favorable aux déplacements actifs,
		surtout les déplacements à vélo et à pied.
		L'insécurité est fortement réduite lorsque les
		voitures sont moins présentes sur nos rues et routes,
		n’est-ce pas un contexte favorable pour convaincre des
		futurs cyclistes, encourager les piétons timides&nbsp;?
	    </p>
	    <p>
		D'une part, cela permet aux hésitants d’essayer le
		vélo; d'autre part, le vélo et la marche à pied comme
		modes de déplacement deviennent encore plus
		"ordinaires" et rentrent dans les habitudes de
		comportement. </p>
	    <p>
		De même, le manque d'infrastructure est largement
		compensé par la réduction de trafic automobile.</p>

	    <p><strong>Imaginons la mobilité douce “la plus massive possible”</strong></p>

	    <p>Lorsque vous avez précisé jeudi 29 octobre les
	    modalités de cette deuxième édition du confinement, vous
	    avez appelé à ce que le télétravail soit "le plus massif
	    possible", et ce "cinq jours sur cinq" dans les
		entreprises et les administrations.</p>
	    <p>
		Pourrions-nous insister avec la même fermeté au sujet
		des déplacements&nbsp;?  </p>
	    <p>
		Imaginons ensemble une France où notre premier
	    ministre demande à ce que les déplacements actifs soient
	    "les plus massifs possibles" et  affirme que  "tous ceux
	    qui peuvent se déplacer en vélo ou à pied sont fortement
		encouragés à le faire".  </p>
	    <p>
		Le choix reste individuel bien sûr et l'objectif reste
	    un changement au niveau de notre société. Ne soyons pas
	    juges mais soyons encourageants. Si le déplacement 2 roues
	    et/ou en transports en commun n’est pas possible pour
	    certains.nes, personne ne devra le reprocher. Si
	    certains.nes changent leurs habitudes de déplacements
	    pendant cette période, nous profiterons toutes et tous des
	    bénéfices de la réduction d'embouteillage, de la baisse du
	    coût de notre système de déplacement, et nous activerons
		plus fortement la transition écologique.</p>
	    <p>
		Un exemple concret est l'accompagnement de nos enfants
		à l'école.  </p>
	    <p>
		Un grand nombre de français habitent près des écoles
	    de leurs enfants. Alors pourquoi ne pas encourager un
	    accompagnement à vélo ou à pied plutôt qu’une courte
	    distance en voiture&nbsp;? Cet encouragement pendant cette
		période pourrait avoir un effet durable. </p>
	    <p>
		En outre, en tant que premier déplacement de la
	    journée, il influe fortement sur le choix modal des
		déplacements suivants.</p>
	    <p>
		Inciter à des changements en proposant des solutions
	    qui s’invitent dans le quotidien, là est la réflexion. Ne
	    pouvons-nous pas imaginer que cette réflexion devienne une
		action concrète&nbsp;?</p>

	    <p><strong>Passons à l’action !</strong></p>

	    <p>L’association Transport Nantes le pense fortement et
	    souhaite passer à l’action. Nous vous demandons
	    d'encourager fermement et immédiatement les déplacements
		actifs.</p>
	    <p>
		Dans ce monde qui vit déjà un catastrophe écologique
	    irréversible, ne pas encourager les changements de
	    comportement pendant le confinement est un gâchis de
		première ordre.</p>
	    <p>
		Vous remerciant d’accueillir favorablement et
	    fortement nos propositions, veuillez agréer, Monsieur le
	    Premier ministre, l’expression de notre haute
		considération.</p>

	    <p class="pt-3">
		Jeff Abrahamson<br>
		President, Transport Nantes
	    </p>

	    <p class="text-muted pt-3"><i>Transport Nantes est une
	    association qui défend une mobilité plus fluide, plus
		vertueuse, plus agréable pour toutes et tous.</i></p>
	    <p class="text-muted"><i>
		Nous considérons la nécessaire évolution multimodale
	    et nous pensons que les trajets professionnels et privés
	    doivent aller vers moins de dangers, de contraintes, et de
	    frustrations. Nous défendons  des villes et des
	    périphéries, moins encombrées, moins polluées, moins
		bruyantes.</i></p>
	    <p class="text-muted"><i>
		Depuis 2 ans, notre mission est de rassembler le plus
	    d’usagers possible autour des projets de mobilité et de
	    les faire grandir afin que les élus les inscrivent dans
		leur programme.</i></p>
	    <p class="text-muted"><i>
		C’est ce que nous avons fait avec le projet du
	    Vélopolitain de Nantes qui a recueilli plus de 1000
		signatures.</i></p>
	    <p class="text-muted"><i>
		Le résultat : le début d’un réseau cyclable mieux
		aménagé dans la métropole nantaise.</i></p>

	</div>
    </div>
</div>

{% endblock %}
