/* Base styling for mobilito app */
body {
    display: flex;
    color: white;
    flex-direction: column;
    background-color: var(--mobilitains-bleu-marine);
    overscroll-behavior: contain;
}
h1,
h2,
h3,
h4,
p {
    color: var(--mobilitains-gris);
    text-align: justify;
    text-justify: auto;
}
#notre-approche p {
    color: var(--body-text);
}
.modal-content {
    color: var(--body-text);
}
.in-place-edit-input {
    color: var(--mobilitains-gris);
    background: none;
    border-width: 0 0 1px 0;
}
.white-hover:hover {
    color: white;
    cursor: pointer;
}
