#report-abuse {
    margin-top: 3em;
    cursor: pointer;
}
.fa-ellipsis::before {
    content: "\f141";
    vertical-align: middle;
}
a.dropdown-item {
    color: var(--body-text);
    text-decoration: none;
}
 #dropdownMenuLink {
    color: var(--body-text);
}
.settings_info {
    display: none !important;
}
li.help_info > div.info {
    z-index: 99999 !important;
}
div.dummy_btn.tweet {
    width: auto !important;
}
