{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block app_content %}

<h2>Comment récupérer une couche de carte</h2>

<p>
La carte est disponible en plusieurs couches.  Afin de la modifier, il
suffit de télécharger la couche que vous souhaitez modifier.
</p>

<p>
    <ul>
        {% for layer in layers_url %}
            <li><a href="{% url 'geoplan:download_layer' city observatory_name layer %}">{{layer}}</a></li>
        {% endfor %}
    </ul>
</p>

<h2>Comment effectuer une modification de ma couche</h2>

<p>
    Visitez le site <a href="https://geojson.io/">geojson.io</a>.
    Choisir "Open -> File".  Votre couche va s'afficher.  (Si vous
    voyez toujours le monde entier, c'est que la couche est vide.
    Zoomez sur {{city}}.)
</p>

<img src="{% static 'geoplan/geojson.io_homepage.png' %}" alt='geojson.io homepage' height="50%" width="50%" style="padding:1em">

<p>
    Ensuite, sélectionnez l'outil "polyline" et, clique-par-clique,
    tracez le chemin que vous souhaitez ajouter à votre carte.
</p>

<img src="{% static 'geoplan/geojson.io_polyline.png' %}" alt='geojson.io polyline' height="50%" width="50%" style="padding:1em">

<p>
    Toute à la fin, choisissez "Save -> GeoJSON" pour récupérer vos
    changements.  (À noter : pas besoin de créer un compte ni de vous
    connecter au site geojson.io.)
</p>

<img src="{% static 'geoplan/geojson.io_save.png' %}" alt='geojson.io save' height="50%" width="50%" style="padding:1em">

<p>
    Finalement, partagez votre couche fraichement enregistrée sur le slack des Mobilitains
    dans le canal #observatoire-du-velopolitain.
    N'oubliez pas de préciser la ville et la couche dont il s'agit.
</p>

<img src="{% static 'geoplan/geojson.io_slack.png' %}" alt='geojson.io slack' height="50%" width="50%" style="padding:1em">

<p>
    Merci de votre participation en ce début de projet !
</p>


{% endblock app_content %}
