{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Je réserve mon gilet gratuit !{% endblock og_title %}
{% block og_description %}C'est le click-and-collect pour réserver votre gilet réfléchissant Transport Nantes pour après le reconfinement.{% endblock og_description %}
{% block og_image_url %}{% static 'asso_tn/images-quentin-boulegon/gilets-1.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}Un gilet réflectif offert par Transport Nantes{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}667{% endblock og_image_width %}
{% block og_image_height %}667{% endblock og_image_height %}
{% block twitter_image %}{% static 'asso_tn/images-quentin-boulegon/gilets-1.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Je réserve mon gilet gratuit !{% endblock twitter_title %}
{% block twitter_description %}C'est le click-and-collect pour réserver votre gilet réfléchissant Transport Nantes pour après le reconfinement.{% endblock twitter_description %}

{% block app_content %}

<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">

	    <p class="text-primary">
		<strong>Votre gilet sera bientôt mis à côté pour vous&nbsp;!</strong>
		On vous communique dés que possible la date de notre rencontre,
		à très bientôt&nbsp;!
	    </p>

	    <p class="pt-3">
		Puisque vous êtes là, pourquoi pas faire un pas encore
		plus fort&nbsp;: ajouter votre voix à la nôtre.
	    </p>

	    <p>C'est simple, c'est facile, et même à un euro, nous sommes plus fort ensemble.
		<a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-sm" role="button" target="_blank">Je participe&nbsp;!</a>
	    </p>

	</div>
    </div>
</div>


<div class="container">
    <div class="row">
	<div class="col-lg-12">
	    <h1>Participez à l’aventure&nbsp;!</h1>
	</div>
    </div>
    <div class="row">
	<div class="col-sm-6 image-overlay-container">
	    <a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" target=" blank">
		<img src="{% static 'asso_tn/images-libres/don.jpg' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<span class="smallcap
			     image-overlay-text
			     image-overlay-text-white
			     image-overlay-centered">Faire un don</span>
	    </a>
	</div>
	<div class="col-sm-6 image-overlay-container">
	    <a href="{% url 'legal:volunteer' %}">
		<img src="{% static 'asso_tn/images-libres/bénévole2.jpg' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<div class="smallcap
			    image-overlay-text
			    image-overlay-text-white
			    image-overlay-centered">Devenir bénévole</div>
	    </a>
	</div>
    </div>
</div>

{% endblock %}
