{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}
{% load don %}
{% load panels %}

{% block og_title %}Je réserve mon gilet gratuit !{% endblock og_title %}
{% block og_description %}C'est le click-and-collect pour réserver votre gilet réfléchissant Transport Nantes pour après le reconfinement.{% endblock og_description %}
{% block og_image_url %}{% static 'asso_tn/images-quentin-boulegon/gilets-1.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}Un gilet réflectif offert par Transport Nantes{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}667{% endblock og_image_width %}
{% block og_image_height %}667{% endblock og_image_height %}
{% block twitter_image %}{% static 'asso_tn/images-quentin-boulegon/gilets-1.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Je réserve mon gilet gratuit !{% endblock twitter_title %}
{% block twitter_description %}C'est le click-and-collect pour réserver votre gilet réfléchissant Transport Nantes pour après le reconfinement.{% endblock twitter_description %}

{% block app_content %}

<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">

	    <p class="text-primary">
		<strong>Je réserve mon gilet</strong> dès maintenant afin que je puisse
		le récupérer lors de vos prochaines actions au
		redéconfinement.</p>

	    <form method="post">{% csrf_token %}
		<p>{{ form.non_field_errors }}</p>
		{% for field in form %}
		<p>
		    {{ field.label }}<br>
		    {{ field }}
		    {% if field.help_text %}
		    <small style="color: grey">{{ field.help_text }}</small>
		    {% endif %}
		</p>
		{% for error in field.error_messages %}
		<p style="color: red">{{ error }}</p>
		{% endfor %}
		{% endfor %}

		<button type="submit" class="btn btn-outline-primary">Je réserve</button>
	    </form>
	</div>
    </div>

    <div class="container pt-5">
	{% show_projects %}
	{% show_donate %}
	{% show_volunteer %}
    </div>
</div>

{% endblock %}
