{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block app_content %}

<section id="address-form" class="container">
    <p>Ce serait pratique de savoir où vous êtes :</p>
    <form method="post" action="{% url 'mobilito:address_form' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <span>Avec ou sans&nbsp;</span>
        <button type="submit" class="btn donation-button">je compte ! <i class="fa fa-arrow-right"></i></button>
    </form>
</section>

{% endblock app_content %}
