{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
    {{ block.super }}
    <link rel='stylesheet' type='text/css' href="{% static 'mobilito/css/address_form.css' %}">
{% endblock styles %}

{% block navbar %}
    <div class="d-flex col-10 col-sm-8 col-md-6 col-lg-4 col-xl-3 justify-content-center mx-auto">
        <img src="{% static 'asso_tn/M-logo_white.png' %}" alt="logo mobilitains" class="w-100 h-100" />
    </div>
{% endblock navbar %}

{% block app_content %}

<section id="address-form" class="container">
    <p>Ce serait pratique de savoir où vous êtes :</p>
    <form method="post" action="{% url 'mobilito:address_form' %}">
        {% csrf_token %}
        {{ form|crispy }}
        <span>Avec ou sans&nbsp;</span>
        <button type="submit" class="btn donation-button">je compte ! <i class="fa fa-arrow-right"></i></button>
    </form>
</section>

{% endblock app_content %}
