{% extends 'mobilito/base_mobilito.html' %}
{% load static %}

{% block app_content %}
<main id="mobilito-landing" class="container">
    <div class="row">
		<div class="col-lg-12">
            <h1>Bienvenue sur Mobilito !</h1>

            <div id="auth-user-landing">
				<p>{# No guarantee user is authenticated here. #}
					Bonjour {{ request.user.first_name|default:"" }}&nbsp;!
				</p>
				<p>
					Vous avez dans vos mains un outil très fort pour
					démocratiser la circulation.  La voiture individuelle
					prend une place excessive sur la voie publique.  Tous
					les autres modes ensemble disparaissent, tellement le
					flux de voitures semble important.
				</p>
				<p>
					Avec Mobilito, c'est à vous de recenser la proportion
					des modes dans le flux devant vous.  Vous enregistrez
					le temps que vous voulez.  Et puis, idéalement, vous
					partagerez avec vos amis sur réseaux sociaux, car un
					secret ne sert pas à grand chose.
				</p>
			</div>
		</div>
	</div>
	{% if tutorial_done %}{# ################ not newbie ################ #}
		<div class="d-flex col-12 p-0 flex-wrap justify-content-around">
			<a class="col-12 col-md-3 btn donation-button m-2" role="button" 
			href="{% url 'mobilito:address_form' %}">
				Je commence à enregistrer
			</a>
			<a class="col-12 col-md-3 btn donation-button m-2" role="button"
			href="{% url 'mobilito:tutorial' 'presentation' %}">
				Je passe vite par le tutoriel
			</a>
			{% if has_sessions_history %}
				<a class="col-12 col-md-3 btn donation-button m-2" role="button" 
				href="{% url 'mobilito:user_sessions' mobilito_user.user.username %}">
					Voir mon historique
				</a>
			{% endif %}
		</div>
	{% elif request.user.is_authenticated %}
	{# ################ Not new, not done with tutoriel. ################ #}
	<div class="d-flex col-12 flex-row flex-nowrap justify-content-around">	
		<a class="btn donation-button" role="button"
		href="{% url 'mobilito:tutorial' 'presentation' %}">
			Je passe vite par le tutoriel
		</a>
		{% if has_sessions_history %}
			<a class="btn donation-button mx-2" role="button" 
			href="{% url 'mobilito:user_sessions' mobilito_user.user.username %}">
				Voir mon historique
			</a>
		{% endif %}
	</div>
	{% else %}{# ################ Not authed, maybe new, maybe not. ################ #}
	<div class="d-flex col-12 flex-row flex-nowrap justify-content-around">
		<a class="btn donation-button mx-2" role="button" 
		href="{% url 'mobilito:address_form' %}">
			Je me connecte, j'enregistre
		</a>
		<a class="btn donation-button mx-2 text-center" role="button"
		href="{% url 'mobilito:tutorial' 'presentation' %}">
			Explique-moi tout !
		</a>
	</div>
	{% endif %}{# ################ end ################ #}
</main>

{% endblock app_content %}
