{% extends 'mobilito/base_mobilito.html' %}
{% load tz %}
{% load static %}
{% load compress %}

{% block styles %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'mobilito/css/session_summary.css' %}">

    {# Leaflet JS #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
    {# Leaflet JS locate control #}
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    {# Leaflet JS geocoder control #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script
          src="{% static 'mobilito/js/report_mobilito_session.js' %}"
          defer>
        </script>
    {% endcompress %}

    {% if mobilito_session.latitude and mobilito_session.longitude %}
        {# Leaflet JS #}
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

        <script type="text/javascript">
            // Initializing the map
            var map = L.map('map').setView([{{ mobilito_session.latitude}}, {{ mobilito_session.longitude }}], 16);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            L.marker([{{ mobilito_session.latitude}}, {{ mobilito_session.longitude }}]).addTo(map)
        </script>
    {% endif %}
{% endblock scripts %}


{% block app_content %}

{# Used to get the session's sha1 in Javascript #}
{{ mobilito_session.session_sha1|json_script:'mobilito_session_sha1'}}
    {% if messages %}
        {% for message in messages %}
        <div class="col-8 col-md-6 mx-auto alert alert-success alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
<div class="container">
    <div class="d-flex flex-wrap col-12">
        
        {# Duration + Location #}
        <p class="col-12">
            {{ mobilito_session.start_timestamp|timesince:mobilito_session.end_timestamp }}
            à partir de {{ mobilito_session.start_timestamp|timezone:'Europe/Paris'|date:"l j F Y à G:i" }}.
            <br/>
            <b><i class="fa-solid fa-crosshairs"></i> {{ mobilito_session.location }}</b>
        </p>
        {# Dropdown menu #}
        <div class="dropdown show col-12 mt-n3 mb-2">
            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-flag"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#"
                {% if user_has_reported_this_session or request.user == mobilito_session.user.user %}
                    style="pointer-events: none; color: grey;"
                {% endif %}
                >
                    {% if request.user != mobilito_session.user.user %}
                        {% if user_has_reported_this_session %}
                            <span id="reported">
                                Session signalée
                            </span>
                        {% else%}
                            <span id="reported" class="d-none"
                            style="color: grey;">
                                Session signalée
                            </span>
                            <span id="report-abuse"
                            data-toggle="modal" data-target="#report-abuse-div">
                                Signaler
                            </span>
                        {% endif %}
                    {% else %}
                        <span>
                            Signaler
                        </span>
                    {% endif %}
                </a>
            </div>
        </div>
        
        {# Map, if location has lat/lng #}
        {% if mobilito_session.latitude and mobilito_session.longitude %}
            <div id="map" class="col-10 col-md-8 col-lg-6 mx-auto" style="max-height:23vh;"></div>
        {% endif %}

        {# Timeseries #}
        <div style="overflow: auto;">
            <img src="{% url 'mobilito:mobilito_session_timeseries_image' mobilito_session.session_sha1 %}"
            alt="{{ mobilito_session.location }}"
            width="90%"
            style="min-width:600px;"
            class="d-flex mx-auto"
            >
        </div>
    
        {# Pie chart with labels #}
        <div class="d-flex flex-wrap col-10 mx-auto">
            <img src="{% url 'mobilito:mobilito_session_fraction_image' mobilito_session.session_sha1 %}"
            alt="{{ mobilito_session.location }}"
            width="90%"
            class="col-10 col-md-8 mx-auto"
            style="max-width:400px;"
            >
            <ul class="d-flex flex-column col-10 col-md-4 my-auto">
                <li> {{ mobilito_session.pedestrian_count|default:"0" }} piétons</li>
                <li> {{ mobilito_session.bicycle_count|default:"0" }} vélos</li>
                <li> {{ mobilito_session.motor_vehicle_count|default:"0" }} voitures et camions</li>
                <li> {{ mobilito_session.public_transport_count|default:"0" }}
                transports collectifs</li>
            </ul>
        </div>
    </div>

    

    {# Flag session modal #}
    {% if request.user != mobilito_session.user.user and not user_has_reported_this_session %}
        <div id="report-abuse-div"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="report-about-form-title"
        aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="report-about-form-title">
                            Signaler une session mobilito
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="report-abuse-form" method="post">
                            {% csrf_token %}
                            <input type="hidden"
                                name="mobilito_session_id"
                                value="{{ mobilito_session.id }}"/>
                            <div class="form-group">
                                <label for="report-abuse-text">
                                    Raison du signalement
                                </label>
                                <textarea
                                class="form-control"
                                id="report-abuse-text"
                                name="report-abuse-text"
                                rows="3"></textarea>
                            </div>
                            <button type="submit"
                                class="btn donation-button">
                                Signaler
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock app_content %}
