{% extends 'mobilito/base_mobilito.html' %}
{% load tz %}
{% load static %}
{% load compress %}

{% block styles %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'mobilito/css/session_summary.css' %}">

    {# Leaflet JS #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css"
    integrity="sha512-hoalWLoI8r4UszCkZ5kL8vayOGVae1oxXe/2A4AO6J9+580uKHDO3JdHb7NzwwzK5xr/Fs0W40kiNHxM9vyTtQ=="
    crossorigin="" />
    {# Leaflet JS locate control #}
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
    {# Leaflet JS geocoder control #}
    <link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />

{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script
          src="{% static 'mobilito/js/report_mobilito_session.js' %}"
          defer>
        </script>
    {% endcompress %}

    {% if mobilito_session.latitude and mobilito_session.longitude %}
        {# Leaflet JS #}
        <script src="https://unpkg.com/leaflet@1.8.0/dist/leaflet.js"
        integrity="sha512-BB3hKbKWOc9Ez/TAwyWxNXeoV9c1v6FIeYiBieIWkpLjauysF18NzgR1MBNBXf8/KABdlkX68nAhlwcDFLGPCQ=="
        crossorigin=""></script>

        <script type="text/javascript">
            // Initializing the map
            var map = L.map('map').setView([{{ mobilito_session.latitude}}, {{ mobilito_session.longitude }}], 16);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: '© <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a>'
            }).addTo(map);
            L.marker([{{ mobilito_session.latitude}}, {{ mobilito_session.longitude }}]).addTo(map)
        </script>
    {% endif %}
{% endblock scripts %}


{% block app_content %}
<div class="container">
    <div class="row">
	<div class="col-lg-12">
	    {# name of recorder, some day #}
	    <p>{{ mobilito_session.start_timestamp|timesince:mobilito_session.end_timestamp }}
		à partir de {{ mobilito_session.start_timestamp|timezone:'Europe/Paris'|date:"l j F Y à G:i" }}.
	    </p>
	    <p><b>{{ mobilito_session.location }}</b></p>

        <style>
            #map {
                margin-bottom: 1em;
                height: 300px;
                width: 100%;
                border: 1px solid black;
                border-radius: 10px;
                color: black;
            }
        </style>

        {% if mobilito_session.latitude and mobilito_session.longitude %}
            <div id="map" class="col-10 col-md-8 col-lg-6 mx-auto"></div>
        {% endif %}

	    <p>
		<img src="{% url 'mobilito:mobilito_session_timeseries_image' mobilito_session.session_sha1 %}" alt="{{ mobilito_session.location }}" width="90%">
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col-xs-3">
	    <p>
		<img src="{% url 'mobilito:mobilito_session_fraction_image' mobilito_session.session_sha1 %}" alt="{{ mobilito_session.location }}" width="90%">
	    </p>
        </div>
	<div class="col-xs-9">
	    <p>
		<ul>
		    <li> {{ mobilito_session.pedestrian_count|default:"0" }} piétons</li>
		    <li> {{ mobilito_session.bicycle_count|default:"0" }} vélos</li>
		    <li> {{ mobilito_session.motor_vehicle_count|default:"0" }} voitures et camions</li>
		    <li> {{ mobilito_session.public_transport_count|default:"0" }}
			transports collectifs</li>
		</ul>
	    </p>
	</div>
    </div>
</div>

        {% with start=mobilito_session.start_timestamp end=mobilito_session.end_timestamp %}
                <div class="dropdown show">
                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-solid fa-ellipsis ml-md-3"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" href="#"
                        {% if user_has_reported_this_session or request.user == mobilito_session.user.user %}
                            style="pointer-events: none; color: grey;"
                        {% endif %}
                        >
                            {% if request.user != mobilito_session.user.user %}
                                {% if user_has_reported_this_session %}
                                    <span id="reported">
                                        Session signalée
                                    </span>
                                {% else%}
                                    <span id="reported" class="d-none"
                                    style="color: grey;">
                                        Session signalée
                                    </span>
                                    <span id="report-abuse"
                                    data-toggle="modal" data-target="#report-abuse-div">
                                        Signaler
                                    </span>
                                {% endif %}
                            {% else %}
                                <span>
                                    Signaler
                                </span>
                            {% endif %}
                        </a>

                    </div>
                </div>
        {% endwith %}

        {% if request.user != mobilito_session.user.user and not user_has_reported_this_session %}
            <div id="report-abuse-div"
            class="modal fade"
            tabindex="-1"
            aria-labelledby="report-about-form-title"
            aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="report-about-form-title">
                                Signaler une session mobilito
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="report-abuse-form" method="post">
                                {% csrf_token %}
                                <input type="hidden"
                                    name="mobilito_session_id"
                                    value="{{ mobilito_session.id }}"/>
                                <div class="form-group">
                                    <label for="report-abuse-text">
                                        Raison du signalement
                                    </label>
                                    <textarea
                                    class="form-control"
                                    id="report-abuse-text"
                                    name="report-abuse-text"
                                    rows="3"></textarea>
                                </div>
                                <button type="submit"
                                    class="btn donation-button">
                                    Signaler
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </article>
{% endblock app_content %}
