{% extends 'mobilito/base_mobilito.html' %}
{% load tz %}
{% load static %}
{% load compress %}
{% load absolute_url %}

{% block head %}
    {{ block.super }}
    <meta property="og:title" content="Ma session Mobilito"/>
    <meta property="og:description" content="{{ mobilito_session.location }} - Résumé de session en graphiques"/>
    <meta property="og:image" content="{% absolute_url 'mobilito:mobilito_session_fraction_image' mobilito_session.session_sha1 %}"/>
    <meta property="twitter:image" content="{% absolute_url 'mobilito:mobilito_session_fraction_image' mobilito_session.session_sha1 %}">
    <meta property="twitter:title" content="Ma session Mobilito">
    <meta property="twitter:description" content="{{ mobilito_session.location }} - Résumé de session en graphiques">
{% endblock head %}
    
{% block styles %}
    {{block.super}}
    <link rel="stylesheet" href="{% static 'mobilito/css/session_summary.css' %}">

{% endblock styles %}

{% block scripts %}
    {{ block.super }}
    {% compress js %}
        <script
          src="{% static 'mobilito/js/report_mobilito_session.js' %}"
          defer>
        </script>
    {% endcompress %}
    {% if can_edit %}
        <script
          src="{% static 'mobilito/js/edit_location.js' %}"
          defer>
        </script>
    {% endif %}

    <script
        src="{% static 'mobilito/js/edit_username_in_place.js' %}"
        defer>
    </script>

{% endblock scripts %}


{% block app_content %}

{# Used to get the session's sha1 in Javascript #}
{{ mobilito_session.session_sha1|json_script:'mobilito_session_sha1'}}
    {% if messages %}
        {% for message in messages %}
        <div class="col-8 col-md-6 mx-auto alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <span>{{ message }}</span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
    {% endif %}
<div class="container p-0">
    <div class="d-flex flex-wrap col-12">

        <div id="mobilito-share-buttons" class="d-flex flex-row col-12 mb-2">
            <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode}}&text={{ 'Venez voir ma session #Mobilito !'|urlencode }}"
            target="_blank"
            class="d-flex border-circle p-2 mr-2 font-xl border-blue-light bg-blue-light font-blue-dark"
            style="width:fit-content;">
                <i class="fab fa-twitter mx-auto"></i>
            </a>
            <a href="http://www.facebook.com/share.php?u={{ request.build_absolute_uri|urlencode }}"
            target="_blank"
            class="d-flex border-circle p-2 font-xl border-blue-light bg-blue-light font-blue-dark"
            style="width:fit-content;">
                <i class="fab fa-facebook"></i>
            </a>
        </div>

        {# Duration + Location #}
        <p class="col-12">
            {{ mobilito_session.start_timestamp|timesince:mobilito_session.end_timestamp }}
            à partir de {{ mobilito_session.start_timestamp|timezone:'Europe/Paris'|date:"l j F Y à G:i" }}.
        </p>
        <p id="mobilito-session-location" class="col-12">
            <b>
                <i class="fa-solid fa-crosshairs"></i>
                <span>
                    {{ mobilito_session.location }}
                </span>
                {% if can_edit %}
                    <span id="mobilito-session-edit-btn" class="p-1 m-3">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </span>
                {% endif %}
            </b>
        </p>
        <p class="col-12">
            <i>
              <a
                href="{% url 'mobilito:user_sessions' mobilito_session.user.user.username %}"
                style="color: inherit; font-size: 0.9rem"
              >
                <u id="displayed-username_{{ mobilito_session.session_sha1 }}">
                  {{ mobilito_session.user.user.username }}
                </u>
              </a>
            </i>
            {% if mobilito_session.user.user == request.user %}
              <i id="mobilito-username-edit-btn_{{ mobilito_session.session_sha1 }}" class="fa-solid fa-pen" style='font-size:smaller;'></i>
              <form
                id="mobilito-username-edit-form_{{ mobilito_session.session_sha1 }}"
                method="post"
                action="{% url 'asso_tn:edit_username' request.user.username %}"
                class="d-none justify-content-center flex-wrap col-12 px-0"
                data-current-username="{{ request.user.username }}"
              >
                {% csrf_token %}
                <div class="d-flex form-group col-12 pl-0">
                  <input
                    type="text"
                    class="d-flex my-auto in-place-edit-input"
                    id="mobilito-username-input_{{ mobilito_session.session_sha1 }}"
                    name="username"
                    value="{{ request.user.username }}"
                    maxlength="1000"
                    size="15"
                  />
                  <div id="button-holder" class="d-flex">
                    <button
                      type="submit"
                      class="btn donation-button m-2"
                    >
                      <i class="fas fa-check"></i>
                    </button>
                    <button
                      type="button"
                      class="btn navigation-button my-2 my-lg-auto"
                      id="mobilito-username-cancel-btn_{{ mobilito_session.session_sha1 }}"
                    >
                      <i class="fa-solid fa-xmark"></i>
                    </button>
                  </div>
                </div>
              </form>
  
            {% endif %}
          </p>

        {% if can_edit %}
            <form id="mobilito-session-edit-form" method="post"
            action="{% url 'mobilito:edit_location' mobilito_session.session_sha1 %}"
            class="pl-3 d-none justify-content-center flex-wrap col-12 px-0">
                {% csrf_token %}
                <div class="d-flex flex-wrap form-group col-12 pl-0">
                    <input type="text" class="d-flex col-12 col-md-8 form-control my-auto "
                    id="mobilito-session-location-input"
                    name="location"
                    value="{{ mobilito_session.location }}"
                    maxlength="1000"
                    >
                    <div id="button-holder">
                        <button type="submit" class="btn donation-button mr-3 ml-0 ml-lg-3 my-2 my-lg-auto ">Sauvegarder</button>
                        <button type="button" class="btn navigation-button my-2 my-lg-auto" id="mobilito-session-cancel-btn">Annuler</button>
                    </div>
                </div>
            </form>
        {% endif %}
        
        {# Dropdown menu #}
        <div class="dropdown show col-12 mb-2">
            <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa-solid fa-flag"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="#"
                {% if user_has_reported_this_session or request.user == mobilito_session.user.user %}
                    style="pointer-events: none; color: grey;"
                {% endif %}
                >
                    {% if request.user != mobilito_session.user.user %}
                        {% if user_has_reported_this_session %}
                            <span id="reported">
                                Session signalée
                            </span>
                        {% else%}
                            <span id="reported" class="d-none"
                            style="color: grey;">
                                Session signalée
                            </span>
                            <span id="report-abuse"
                            data-toggle="modal" data-target="#report-abuse-div">
                                Signaler
                            </span>
                        {% endif %}
                    {% else %}
                        <span>
                            Signaler
                        </span>
                    {% endif %}
                </a>
            </div>
        </div>

        {# Map, if image has been generated #}
        {% if mobilito_session.map_image %}
            <img
                src="{{ mobilito_session.map_image.url }}"
                alt="Emplacement de l'observation"
                style="object-fit:cover;max-height:23vh;border-radius: 5px;"
                class="col-10 col-md-8 col-lg-6 p-0 mx-auto w-100"
                />
        {% endif %}

        {# Timeseries #}
        <div style="overflow: auto;">
            <img src="{% url 'mobilito:mobilito_session_timeseries_image' mobilito_session.session_sha1 %}"
            alt="{{ mobilito_session.location }}"
            width="90%"
            style="min-width:600px;"
            class="d-flex mx-auto"
            >
        </div>

        {# Pie chart with labels #}
        <div class="d-flex flex-wrap col-10 mx-auto">
            <img src="{% url 'mobilito:mobilito_session_fraction_image' mobilito_session.session_sha1 %}"
            alt="{{ mobilito_session.location }}"
            width="90%"
            class="col-10 col-md-8 mx-auto"
            style="max-width:400px;"
            >
            <ul class="d-flex flex-column col-10 col-md-4 my-auto">
                <li> {{ mobilito_session.pedestrian_count|default:"0" }} piétons</li>
                <li> {{ mobilito_session.bicycle_count|default:"0" }} vélos</li>
                <li> {{ mobilito_session.motor_vehicle_count|default:"0" }} voitures et camions</li>
                <li> {{ mobilito_session.public_transport_count|default:"0" }}
                transports collectifs</li>
            </ul>
        </div>
    </div>



    {# Flag session modal #}
    {% if request.user != mobilito_session.user.user and not user_has_reported_this_session %}
        <div id="report-abuse-div"
        class="modal fade"
        tabindex="-1"
        aria-labelledby="report-about-form-title"
        aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="report-about-form-title">
                            Signaler une session mobilito
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="report-abuse-form" method="post">
                            {% csrf_token %}
                            <input type="hidden"
                                name="mobilito_session_id"
                                value="{{ mobilito_session.id }}"/>
                            <div class="form-group">
                                <label for="report-abuse-text">
                                    Raison du signalement
                                </label>
                                <textarea
                                class="form-control"
                                id="report-abuse-text"
                                name="report-abuse-text"
                                rows="3"></textarea>
                            </div>
                            <button type="submit"
                                class="btn donation-button">
                                Signaler
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

</div>
{% endblock app_content %}
