{% comment %}
Requires a MobilitoSession as 'session'

This is meant to be a reusable component.
{% endcomment %}
{% load absolute_url %}

<div class="w-100 h-100 py-2" >
    <article
      style="
        border: 1px solid hsla(0, 0%, 0%, 0.5);
        border-radius: 5px;
        box-shadow: inset 0 1px 0 hsl(219, 24%, 45%), 0 1px 3px hsla(0, 0%, 0%, 0.2);
        padding: 1rem;
      "
      class="d-flex flex-column h-100"
    >
      <h2 style="font-size: 1.2em;">
        <a href="{{ session.get_absolute_url }}" style="color: inherit">
          <i class="fa-solid fa-crosshairs"></i>
          {{ session.location|default:"Pas d'adresse" }}
        </a>
      </h2>
      <div class="mt-auto">
        <p class="m-0">
          <i>
            <a
              href="{% url 'mobilito:user_sessions' session.user.user.username %}"
              style="color: inherit; font-size: 0.9rem"
            >
              Faite par <u>{{ session.user.user.username }}</u>
            </a>
          </i>
        </p>
        <p class="mb-3"><i>{{ session.start_timestamp|date:"d/m/Y à H:i" }}</i></p>
        {% if session.map_image %}
          <div style="height: 200px; max-width: 100%; position:relative" class="p-2 p-sm-0">
              <img
              src="{% absolute_url_image session.map_image.url %}"
              alt="Emplacement de la session"
              class="w-100"
              style="
                  object-fit: cover;
                  border-radius: 5px;
                  max-width: 100%;
                  max-height: 100%;
              "
              />
              <div 
              style="position: absolute; top:0;left:0; width: 25%; border-radius: 50%;overflow: hidden;"
              class="mt-3 ml-3 mt-md-1 ml-md-1"
              >
                <img
                  src="{% absolute_url "mobilito:mobilito_session_fraction_image" session.session_sha1 %}"
                  style="object-fit: cover; width: 100%; height: 100%; transform: scale(1.88) translateY(-2px);"
                />
              </div>
          </div>
        {% endif %}
      </div>
    </article>
</div>
