{% extends 'mobilito/tutorial.html' %}

{% block tutorial_content %}
    <section id="presentation-mobilito">
        <h1>Mobilito : Un guide pratique pour les Mobilitains en herbes !</h1>
        <hr />
        <h2>C'est quoi, Mobilito ?</h2>
        <p>
            Mobilito, c'est un outil fort qui vous permet de
            contribuer à l'amélioration de la mobilité depuis votre
            smartphone.
        </p>
	<p>
            Vous allez pouvoir récolter des données en mesurant la
	    part modale de l'endroit que vous observez.</p>
	<p>
	    C'est important que nous comptons tous de la même façon.
	    C'est pourquoi ce tout petit tutoriel est là : pour
	    établir les règles du jeu.
	</p>
	<p>
	</p>
    </section>

{% endblock tutorial_content %}
