{% extends 'mobilito/tutorial.html' %}
{% load static %}

{% block tutorial_content %}
  
<section class="mt-3">
	<div id="float-left">
		<div class="d-flex">
			<div
			class='mobilito-btn d-flex flex-column p-5 mx-md-auto'>
				<i class="fa-solid fa-person-biking"></i>
			</div>
		</div>
	</div>

	<p>
		<b>Un vélo</b> est tout ce qui se déplace à puissance
		humaine.  Je clique vélo pour un vélo, mais aussi pour une
		<b>trottinette</b>, un <b>monocycle</b>, un
		<b>cargo</b>, ou un <b>VAE</b>.  Même s'il y a un
		passager, je ne clique qu'une fois.
	</p>

    </section>

{% endblock tutorial_content %}
