{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block app_content %}
<div class="container">
    <section id="tutorial" class="mt-3">
        <h1>Mobilito : Un guide pratique pour les Mobilitains en herbes !</h1>
        <p>
            Explications ...
        </p>
	<p>
	    Notes en interne : Ce tutoriel n'existe pas encore.  Il
	    sera plusieurs pages, une page par mode.  Au moins.
	    Histoire d'aller doucement sans déborder, sans trop
	    d'information par page.
	</p>
	<p>
	    Si l'utilisateur est connu, alors à tout moment nous
	    proposerons qu'il saut à l'enregistrement.  Dans tous les
	    cas, nous laisserons la personne naviguer entre les pages
	    librement.  Ce n'est pas à nous d'imposer un ordre de
	    présentation, même si nous en proposera un.
	</p>
        <a href="{% url 'mobilito:recording'%}" class="btn donation-button">
            En avant !
        </a>
    </section>
</div>

{% endblock app_content %}
