{% extends 'mobilito/tutorial.html' %}

{% block tutorial_content %}
    <section id="presentation-mobilito">
        <h1>Mobilito : Un guide pratique pour les Mobilitains en herbes !</h1>
        <hr />
        <h2><b>C'est quoi, Mobilito ?</b></h2>
        <p>
            Mobilito vous permet de contribuer à
            l'amélioration de la mobilité depuis votre navigateur.
            <br/>
            Vous allez pouvoir récolter des données en mesurant ce que l'on
            appelle la <q>part&nbsp;modale</q> de l'endroit que vous observez.
            <br/>
            La part modale, c'est la proportion de personnes utilisant un mode
            de transport donné, par rapport à l'ensemble des personnes
            se déplaçant. 
        </p>
    </section>

{% endblock tutorial_content %}