{% extends 'mobilito/tutorial.html' %}
{% load static %}

{% block tutorial_content %}

<section class="mt-3">
	<div id="float-left">
		<div class="d-flex">
			<div
			class='mobilito-btn d-flex flex-column p-5 mx-md-auto'>
				<i class="fa-solid fa-car"></i>
			</div>
		</div>
	</div>
	<p>
		<b>Une voiture</b>, c'est aussi une <b>camionnette</b>
		ou un <b>camion</b>.  Une <b>moto</b>, <b>scooter</b>, ou
		<b>utilitaire</b> également.  Et ce, que le moteur
		soit thermique ou électrique.
	</p>
    </section>

{% endblock tutorial_content %}
