{% extends 'mobilito/tutorial.html' %}
{% load static %}

{% block tutorial_content %}

<section class="mt-3">
	<div id="float-left">
		<div class="d-flex">
			<div
			class='mobilito-btn d-flex flex-column p-5 mx-md-auto'>
				<i class="fa-solid fa-train-tram"></i>
			</div>
		</div>
	</div>
	<p>
		Un <b>transport collectif</b>, c'est un bus, un
		tramway, un car, ou un train, quel que soit
		l'opérateur.  Je clique une fois, peu importe son
		nombre d'occupants.
	</p>
</section>

{% endblock tutorial_content %}
