{% extends 'mobilito/tutorial.html' %}
{% load static %}

{% block tutorial_content %}

<section id="tc-icon-presentation">
    <div class="row">
	<div class="col-md-4">
		<div class="d-flex">
			<div
			class='mobilito-btn d-flex flex-column p-5 mx-md-auto'>
				<i class="fa-solid fa-train-tram"></i>
			</div>
		</div>
	</div>
	<div class="col-md-8">
            <p>
		Un <b>transport collectif</b>, c'est un bus, un
		tramway, un car, ou un train, quelque soit
		l'opérateur.  Je clique une fois, peu importe son
		nombre d'occupants.
            </p>
	</div>
    </div>
</section>

{% endblock tutorial_content %}
