{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load compress %}

{% block styles %}
    {{block.super}}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'mobilito/css/tutorial.css' %}">
    {% endcompress %}
{% endblock styles %}

{% block app_content %}
<div class="container">
    <section id="tutorial" class="mt-3">
        <div class="d-flex justify-content-between">
        <ul class="nav nav-pills mb-1">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">Sommaire</a>
              <div class="dropdown-menu">
                <a class="dropdown-item {% if active_page == 'presentation' %}active{% endif %}" href="{% url 'mobilito:tutorial' 'presentation' %}">Présention</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item {% if active_page == 'pietons' %}active{% endif %}"
                   href="{% url 'mobilito:tutorial' 'pietons' %}">Piéton</a>
                <a class="dropdown-item {% if active_page == 'voitures' %}active{% endif %}"
                   href="{% url 'mobilito:tutorial' 'voitures' %}">Voiture</a>
                <a class="dropdown-item {% if active_page == 'velos' %}active{% endif %}"
                   href="{% url 'mobilito:tutorial' 'velos' %}">Vélo</a>
                <a class="dropdown-item {% if active_page == 'transports-collectifs' %}active{% endif %}"
                   href="{% url 'mobilito:tutorial' 'transports-collectifs' %}">Transports collectifs</a>
              </div>
            </li>
        </ul>
            {% if not seen_all_pages %}
                {% include 'mobilito/next_page_arrow.html' with next_page=the_next_page %}
            {% endif %}
        </div>
        {% block tutorial_content %}{% endblock tutorial_content %}
        {% if seen_all_pages %}
            <div style="text-align: center">
                <a href="{% url 'mobilito:address_form'%}"
                class="btn donation-button mx-auto"
                style="border-radius:5px;">
                    Passer à l'enregistrement >>
                </a>
            </div>
        {% endif %}
    </section>
</div>

{% endblock app_content %}
