{% extends 'mobilito/tutorial.html' %}
{% load static %}

{% block tutorial_content %}
  
<section id="ped-icon-presentation">
    <div class="row">
	<div class="col-sm-4">
            <img class="mobilito-tutorial-icons" 
            src="{% static 'mobilito/images/ped-icon.png' %}"
            alt="Icône de piéton">
	</div>
	<div class="col-sm-8">
            <p>
		<b>Un piéton</b> est une personne qui marche à pied,
		mais pas que !  Un parent avec son enfant, je clique
		<b>deux fois</b> si l'enfant marche, mais <b>une fois</b> si l'enfant est
		porté ou en poussette (pour les tous petits !).  Un
		<b>cycliste qui marche</b> avec son vélo, pied à terre, je
		clique "piéton" et pas "vélo".
            </p>
	</div>
    </div>
</section>

{% endblock tutorial_content %}
