{% extends 'mobilito/tutorial.html' %}
{% load static %}

{% block tutorial_content %}

<section id="car-icon-presentation">
    <div class="row">
	<div class="col-md-4">
        <div class="d-flex">
			<div
			class='mobilito-btn d-flex flex-column p-5 mx-md-auto'>
				<i class="fa-solid fa-car"></i>
			</div>
		</div>
	</div>
	<div class="col-md-8">
            <p>
		<b>Une voiture</b>, c'est aussi une <b>camionnette</b>
		ou un <b>camion</b>.  Un <b>moto</b>, <b>scooter</b>, ou
		<b>utilitaire</b> également.  Et ce, que le moteur
		soit thermique ou électrique.
            </p>
	</div>
    </section>

{% endblock tutorial_content %}
