{% extends 'mobilito/tutorial.html' %}
{% load static %}

{% block tutorial_content %}

<section id="tc-icon-presentation">
    <div class="row">
	<div class="col-sm-4">
            <img class="mobilito-tutorial-icons" 
            src="{% static 'mobilito/images/tc-icon.png' %}"
            alt="Icône de tram">
	</div>
	<div class="col-sm-8">
            <p>
		Un <b>transport collectif</b>, c'est un bus, un
		tramway, un car, ou un train, quelque soit
		l'opérateur.  Je clique une fois, peu importe son
		nombre d'occupants.
            </p>
	</div>
    </div>
</section>

{% endblock tutorial_content %}
