{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Le Laboratoire du Vélopolitain{% endblock og_title %}
{% block og_description %}Nantes Métropole prépare un plan d’aménagements cyclables temporaires qui sera adopté ce vendredi 17 avril 2020.  Partagez ce message massivement pour leur dire que vous voulez un projet ambitieux.{% endblock og_description %}
{% block og_image_url %}{% static 'velopolitain/tactical/provisoire-6.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}C'est cette semaine qu'il faut agir !{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}680{% endblock og_image_width %}
{% block og_image_height %}453{% endblock og_image_height %}
{% block twitter_image %}{% static 'velopolitain/tactical/provisoire-6.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Le Laboratoire du Vélopolitain{% endblock twitter_title %}
{% block twitter_description %}Nantes Métropole prépare un plan d’aménagements cyclables temporaires qui sera adopté ce vendredi 17 avril 2020.  Partagez ce message massivement pour leur dire que vous voulez un projet ambitieux.{% endblock twitter_description %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>Vite !  Agissons !</h1>

	    <p class="font-weight-light text-secondary">
		Nous avons besoin de vous.  Maintenant.  Partagez ce
		message massivement pour communiquer à Nantes
		Métropole que vous voulez un projet ambitieux.
		<em class="text-primary">Surtout, taguez ou contactez vos élus</em>.</p>

	    <h2 class="font-weight-light">L'urbanisme tactique</h2>

	    <p>
		L'urbanisme tactique 
		c'est l'aménagement de nos
		villes d'une façon temporaire mais rapide et à faible
		coût.  C'est une façon pour tester sans fixer pour 20
		ans.  C'est une approche pour réussir vite parce qu'on
		est libre d'essayer.
	    </p>

	    <p>
		C'est une bonne chose.
		C'est également inhabituel en France même si pas
		totalement inconnu.
	    </p>

	    <p>
		Sur twitter, c'est <code>#Nantes #TacticalUrbanism</code>.

	    <h2 class="font-weight-light">Nantes Métropole et l'urbanisme tactique</h2>
	    <p>
		Nantes Métropole prépare un plan d’aménagements
		cyclables temporaires qui sera adopté ce vendredi 17
		avril 2020.  Partagez ce message massivement pour leur
		dire que vous voulez un projet ambitieux.
	    </p>
	    <p>
		Nous soulignons : c'est <strong
		class="text-primary">ce vendredi</strong> que Nantes
		Métropole compte adopter son projet.  Ce qui rend
		impératif de communiquer à l'amont.
	    </p>

	    <h2 class="font-weight-light">Pourquoi c'est important</h2>

	    <p>
		La crise sanitaire a
		rendu nos systèmes de transports collectifs beaucoup moins
		efficaces.  Lors du redémarrage de l'économie dans quelques
		semaines, nos trains, bus, et tramways ne pourront
		fonctionner qu’à une fraction de leur capacité d'il y a un
		mois.  La distanciation sociale restera avec nous jusqu'à
		la généralisation d'un vaccin, prévu fin 2021 au plus tôt.
		Un tramway bondé n'est pas au rendez-vous dans l'immédiat.
	    </p>
	    <p>Certains resteront en télétravail.  Si ceux qui ne peuvent
		pas trouver leur place en sécurité dans nos transports
		collectifs prennent tous la voiture, nous aurons une
		épidémie de voiture : des bouchons, des insuffisances de
		parking, et des frustrations.  Moins létal que le
		SARS-CoV-2, certes, mais toutefois à éviter.
	    </p>

	    <h2 class="font-weight-light">L'opportunité</h2>

	    <p>
		Si nos rues sont remplies de voiture dès le 12 mai,
		peu de français oseraient se déplacer à pied ou en
		vélo.  Nos trottoirs sont trop étroits pour être
		compatible avec la distanciations.  Les pistes
		cyclables de la métropole ne sont pas à l'hauteur
		même en temps normal.
	    </p>
	    <p>
		Nous avons un mois pour mettre en place un réseau
		provisoire sur la métropole entière.  C'est faisable.
		Il y a des villes qui ont installé plus d'un km de
		pistes cyclabes temporaire dans une seule nuit.
	    </p>
	    
	    <p>
		Pourquoi si vite ?  Parce qu'un certain nombre de nos
		concitoyens travaillent toujours.  Un bon nombre entre
		nous se déplace pour les premières nécessités de nos vies.
		Mettre en place le réseau maintenant permettra de
		tester, d'adapter avant le déconfinement en mai.
	    </p>

	    <h2 class="font-weight-light">Nous vous remercions</h2>

	    <p>
		Agissons aujourd'hui.  Nous aurions préféré en prendre
		connaissance plus à l'amont, mais nous habitons un
		temps où certaines décisions sont prises rapidement.
		Agissons pour que Nantes Métropole comprennent que
		nous la soutenons.
	    </p>

	    <p class="text-secondary">
		La checklist pour jeudi 16 avril 2020 :
	    </p>
	    <ul>
		<li class="text-secondary">Partagez cette page sur vos réseaux
		    sociaux</li>
		<li class="text-secondary">Contactez vos élus.</li>
	    </ul>
	    <p class="text-secondary">
		Aujourd'hui.
	    </p>
	    Nous vous remercions chaleureusement.
	    <p>
		-
	    </p>
	</div>
    </div>
</div>

<div container>
    <div class="row">
	<div class="col-lg-12">
	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	</div>
    </div>
</div>
{% endblock %}
