{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>Pour un réseau express vélo dans la région nantaise</h1>

	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a> <a
href="https://www.change.org/p/pour-que-le-prochain-maire-de-nantes-s-engage-%C3%A0-construire-un-r%C3%A9seau-express-v%C3%A9lo?recruiter=980459965&utm_source=share_petition&utm_medium=TransportNantes&utm_campaign=share_petition"
class="btn btn-primary btn-lg" role="button" target="_blank">Je signe la petition</a>
	    </p>
	</div>
    </div>
    <!-- https://www.change.org/p/pour-que-le-prochain-maire-de-nantes-s-engage-%C3%A0-construire-un-r%C3%A9seau-express-v%C3%A9lo?recruiter=980459965&utm_source=share_petition&utm_medium=TransportNantes&utm_campaign=share_petition -->

    <div class="row">
	<div class="col-lg-12">
	    <h2>Qu'est-ce qu'un Réseau Express Vélo (REV) ?</h2>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12">
	    <p>Pour être qualifié de Réseau Express Vélo, un réseau de
		pistes cyclables doit posséder 4 grandes caractéristiques
		:</p>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12" style="height:5px;"></div>
    </div>

    <div class="row">
	<div class="col-md-2 col-sm-3">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#1 - une infrastructure continue</h3>
	</div>
    </div>
    <div class="row">
	<div class="col-md-2 col-sm-3">
	    <img src="{% static 'velopolitain/v1.png' %}" style="width:100%;" >
	</div>
	<div class="col-md-10 col-sm-9">
	    <p>Pour que les carrefours ne soient pas le cauchemar des
		cyclistes, les REV sont équipés de bout en bout sans
		interruption d’aménagements, y compris aux intersections
		(carrefours ou grands giratoires). Les intersections sont
		limitées et prioritaires pour les vélos dans le sens de
		l’axe principal.
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12" style="height:5px;"></div>
    </div>

    <div class="row">
	<div class="col-md-2 col-sm-3">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#2 - une infrastructure securisée</h3>
	</div>
    </div>
    <div class="row">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v2.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <p>Pour donner envie à tous les profils de cyclistes :
		débutants, scolaires et confirmés.
		<ul>
		    <li>Axes très clairement signalés à toutes les
			intersections, non seulement aux carrefours</li>
		    <li>Axes entretenus régulièrement pour maintenir en
			permanence un bon usage</li>
		    <li>Axes physiquement séparés du flux automobile, avec
			une largeur permettant qu’un vélo dépasse un autre vélo ou que
			deux vélos roulent de front (3m pour piste bidirectionnelle, 2m
			sinon).</li>
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12" style="height:5px;"></div>
    </div>

    <div class="row">
	<div class="col-md-2 col-sm-3">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#3 - une infrastructure integrée dans un maillage global </h3>
	</div>
    </div>
    <div class="row">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v3.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <p>Pour que le réseau couvre les grands segments de
		déplacement de la population et réduise les embouteillages
		automobiles, le réseau doit être positionné sur les grands axes de
		circulation et être relié à des parking relais, points d'échanges
		multimodaux, gares...
	    </p>
	</div>
    </div>

    <div class="row">
	<div class="col-md-2 col-sm-3">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#4 - une infrastructure lisible</h3>
	</div>
    </div>
    <div class="row">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v4.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <p>Pour que l'accès au réseau ou son cheminement logique
		soit simple, fluide et compréhensible comme une ligne de
		tramway ou de métro.

		Un itinéraire clairement identifiable d'une part sur le
		site par une ligne centrale colorée avec numéro, et d'autre
		part sur carte routière avec même couleur et numéro.
	    </p>
	</div>
    </div>

    <div class="row">
	<div class="col-lg-12" style="height:5px;"></div>
    </div>
    <div class="row">
	<div class="col-lg-12">
	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a> <a
href="https://www.change.org/p/pour-que-le-prochain-maire-de-nantes-s-engage-%C3%A0-construire-un-r%C3%A9seau-express-v%C3%A9lo?recruiter=980459965&utm_source=share_petition&utm_medium=TransportNantes&utm_campaign=share_petition"
class="btn btn-primary btn-lg" role="button" target="_blank">Je signe la petition</a>
	    </p>
	</div>
    </div>


    <div class="row">
	<div class="col-lg-12">
	    <h2>Pourquoi Nantes a besoin d'un REV ?</h2>
	</div>
    </div>

    <div class="row">
	<div class="col-lg-12">
	    Avec seulement 4% des déplacements réalisés à vélo, Nantes est
	    à la traîne au niveau national.
	    A l'heure de l'urgence climatique, l'objectif déjà peu
	    ambitieux de 12% de déplacements à vélo en 2030 semble
	    aujourd'hui peu atteignable.
	</div>
    </div>

    <!-- ######################################################################  -->

    <div class="row">
	<div class="sm-col-3">
	    <p class="lead"><strong>1.  + de sécurité et d'apaisement</strong></p>
	    <p>La sensation de sécurité est primordiale pour convaincre
		les nantais d'utiliser leur vélo plutôt que leur voiture
		personnelle sur les trajets inférieurs à 5km.  En particulier, elle doit
		permettre aux parents de circuler quotidiennement
		pour emmener leurs enfants à l'école.
	    </p>
	</div>
	<div class="sm-col-3">
	    <p class="lead"><strong>2.  - de changement climatique</strong></p>
	    <p>A Nantes, le transport routier représente le plus gros
		émetteur de gaz à effet de serre.

		La lutte contre le changement climatique et la pollution passe par la
		croissance rapide et radicale des modes de transport 100%
		décarbonés en ville.</p>
	</div>
	<div class="sm-col-3">
	    <p class="lead"><strong>3.  + de pouvoir d'achat</strong></p>
	    <p>Permettre aux habitants des communes périphériques de
		Nantes Métropole et des quartiers populaires d'aller
		travailler à vélo pour renoncer à leur seconde voiture
		représente un gain de pouvoir d'achat de près de 5000 € par an
		et par foyer.
	    </p>
	</div>
	<div class="sm-col-3">
	    <p class="lead"><strong>4. - de congestion</strong></p>
	    <p>La majorité des déplacements effectués en voiture à Nantes
		Métropole font moins de 5km et pourraient être faits à vélo ou
		vélo électrique. Augmenter les déplacements à vélo
		décongestionnera les routes et rendra la vie plus simple aux
		automobilistes.
	    </p>
	</div>
    </div>

    <div class="row">
	<div class="col-lg-12" style="height:15px;"></div>
    </div>

    <div class="jumbotron">
	<div class="row">
	    <div class="col-lg-12">
		<img src="{% static 'velopolitain/vr.png' %}" style="width:100%">

		<h4>La carte d'un futur réseau "Velopolitain"</h4>
		<p> Une première proposition de 35 km de Réseau Express
		    Vélo à Nantes Métropole</p>

		<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a> <a
href="https://www.change.org/p/pour-que-le-prochain-maire-de-nantes-s-engage-%C3%A0-construire-un-r%C3%A9seau-express-v%C3%A9lo?recruiter=980459965&utm_source=share_petition&utm_medium=TransportNantes&utm_campaign=share_petition"
class="btn btn-primary btn-lg" role="button" target="_blank">Je signe la petition</a>
		</p>

	    </div>
	</div>
    </div>

</div>
{% endblock %}
