{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Le Laboratoire du Vélopolitain{% endblock og_title %}
{% block og_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mette en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock og_description %}
{% block og_image_url %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}Une piste cyclable sécurisée provisoire, construite rapidement et à faible coût.{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}680{% endblock og_image_width %}
{% block og_image_height %}554{% endblock og_image_height %}
{% block twitter_image %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Le Laboratoire du Vélopolitain{% endblock twitter_title %}
{% block twitter_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mette en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock twitter_description %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>Le Laboratoire du Vélopolitain</h1>

	    <p class="font-weight-light text-secondary">
		Nous sommes en crise sanitaire, mais nos élus et les
		services de la métropole travaillent toujours (depuis chez
		eux, nous espérons).  Aussi nous nous permettons d’évoquer
		un sujet qui n’est pas lié à cette crise sanitaire sans
		précédent mais qui touche fondamentalement sur le
		déconfinement.  Transport Nantes est optimiste pour
		l’avenir.  Notre rôle est de veiller à ce que ce futur
		soit beau.
	    </p>

	    <h2 class="font-weight-light">Le vélo et les élections municipales</h2>

	    <p>
		Le vélo était un sujet majeur lors de la campagne du premier
		tour des élections municipales à Nantes, peut-être un peu moins dans
		les autres communes de Nantes Métropole.  La plupart des
		candidates à Nantes ont constaté que la part modale du vélo stagne
		depuis le début du mandat actuel.  Chacune d'elle a
		présenté son plan vélo dans l'hypothèse d'une victoire au
		deuxième tour.
	    </p>
	    <p>
		Une question naturelle s'est alors posée aux équipes sortantes
		: si vous pensez que vous auriez pu faire
		mieux, pourquoi n'avez-vous pas commencé déjà à vous
		améliorer ?  Question sans réponse...
	    </p>

	    <h2 class="font-weight-light">Le report et le plan vélo</h2>

	    <p>
		Le report du deuxième tour nous présente un laboratoire
		fascinant et inédit.  Il faut imaginer que chacune des candidates
		à Nantes a
		élaboré son plan vélo concret, en consultation avec les équipes
		de Nantes Métropole (afin d'être réalistes)
		et prêt à mettre en oeuvre dès
		le début du mandat (mi-mars, il y a deux semaines, sur le
		planning originel).  En même temps, une crise sanitaire a
		rendu nos systèmes de transports collectifs beaucoup moins
		efficace.  Lors du redémarrage de l'économie dans quelques
		semaines, nos trains, bus, et tramways ne pourront
		fonctionner qu’à une fraction de leur capacité d'il y a un
		mois.  La distanciation sociale restera avec nous jusqu'à
		la généralisation d'un vaccin, prévu fin 2021 au plus tôt.
		Un tramway bondé n'est pas au rendez-vous dans l'immédiat.
	    </p>
	    <p>Certains resteront en télétravail.  Si ceux qui ne peuvent
		pas trouver leur place en sécurité dans nos transports
		collectifs prennent tous la voiture, nous aurons une
		épidémie de voiture : des bouchons, des insuffisances de
		parking, et des frustrations.  Moins létal que le
		SARS-CoV-2, certes, mais toutefois à éviter.
	    </p>

	    <h2 class="font-weight-light">Toute crise est aussi une opportunité</h2>

	    <p>En outre, l'affluence routière sera faible pendant
		plusieurs semaines voire quelques mois.  Quel meilleur
		moment pour mettre en place les tracées les plus
		importantes du Vélopolitain de notre métropole ?  Pas
		besoin de couler du béton : commençons tout simplement avec
		des plots et de la peinture.  D'une part, ça permet de
		créer des tracées sécurisées rapidement et à l'échelle de
		la métropole à un coût relativement faible.  D'autre part,
		ça permet d'avoir tort.  Les erreurs faites lors de la
		création de l'axe structurant quai de Barbusse seront
		coûteuses à résoudre.  Les axes provisoires permettent à
		apprendre et à réagir.
	    </p>
	    <p>
		La ville de New York, qui s’étale seule sur une surface
		supérieure à celle de Nantes Métropole, présente un exemple
		pertinent.  New York a installé plus de 2000 km de pistes
		cyclables sécurisées.  Si nous prenons l'objectif d'un axe
		structurant tous les kilomètres dans la métropole, et avec
		la simplification que la métropole mesure à peu près 21 x
		25 km, on trouve qu'il faut construire 46 tels axes pour un
		total de 1050 km.
	    </p>
	    <p>
		Nous ne proposons pas que le Vélopolitain de Nantes
		Métropole soit construit dans trois mois.  Par contre, nous
		trouvons entièrement raisonnable de regarder comment les
		équipes actuelles se servent de ces trois mois qui viennent, une période
		durant laquelle en principe elle aurait commencé à mettre
		en oeuvre ses promesses.
	    </p>

	    <h2 class="font-weight-light">Et c'est parti...ou pas</h2>

	    <p>
		Dans les semaines à venir Transport Nantes présentera son
		observatoire du Vélopolitain.  D'ici trois mois, nous avons
		hâte à voir si les promesses des candidates et des équipes
		sortantes peuvent être
		traduit en action ou si la reprise d'activité sera
		accompagné d'une épidémie parallèle de bouchons et de
		frustration.
	    </p>

	    <p>
		Quoiqu'il en soit, Transport Nantes sera présent : à louer
		les progrès ou à signaler leur absence.
	    </p>

	    <p>
		-
	    </p>
	</div>
    </div>
</div>

<div container>
    <div class="row">
	<div class="col-lg-12">
	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	</div>
    </div>
</div>
{% endblock %}
