{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Le Laboratoire du Vélopolitain{% endblock og_title %}
{% block og_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mettre en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock og_description %}
{% block og_image_url %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}Une piste cyclable sécurisée provisoire, construite rapidement et à faible coût.{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}680{% endblock og_image_width %}
{% block og_image_height %}554{% endblock og_image_height %}
{% block twitter_image %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Le Vélopolitain{% endblock twitter_title %}
{% block twitter_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mettre en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock twitter_description %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <p><i>image : pont AdB</i></p>
	    <h1>Les recontres visibles</h1>

	    <p class="font-weight-light text-secondary">
		Un jour, un lieu, une distribution de gilets
		réfléchissants et l'occasion d’échanger avec vous !
		Première rencontre : le 29/11 à partir de 16 heures -
		Pont Anne de Bretagne.</p>

	    <p>
		Nous avons hâte de vous rencontrer autour de nos 2
		projets : le Vélopolitain et la grande Mobilité.</p>
	    <p>
		Portez nos gilets, portez nos actions&nbsp;!
	    </p>
	    <p>
		Nous vous communiquons très bientôt nos prochaines dates.
	    </p>
	    <p style="color: red;">
		<strong>Pdf flyer disponible ??  Lien ici ?</strong>
	    </p>
	</div>
    </div>
</div>

<div container>
    <div class="row">
	<div class="col-lg-12">
	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>
	</div>
    </div>
</div>
{% endblock %}
