{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Le Laboratoire du Vélopolitain{% endblock og_title %}
{% block og_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mettre en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock og_description %}
{% block og_image_url %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}Une piste cyclable sécurisée provisoire, construite rapidement et à faible coût.{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}680{% endblock og_image_width %}
{% block og_image_height %}554{% endblock og_image_height %}
{% block twitter_image %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Le Vélopolitain{% endblock twitter_title %}
{% block twitter_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mettre en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock twitter_description %}

{% block content %}
<div class="hero-image">
  <div class="hero-text">
    <h1>Les rencontres visibles</h1>
    {% comment %}<p class="hero-description"></p>{% endcomment %}
    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
  </div>
</div>

<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">

	    <p>
		Un jour, un lieu, une distribution de gilets
		réfléchissants et l'occasion d’échanger avec vous !
		Première rencontre : le 29/11 à partir de 16 heures -
		Pont Anne de Bretagne.</p>

	    <p align="center"><strong>Première rencontre&nbsp;:</strong></p>
	    <p align="center">
		Le 29/10 à partir de 16 heures - Pont Anne de Bretagne, Nantes
	    </p>

	    <p align="center">
		Nous avons hâte de vous rencontrer autour de nos 2
		projets&nbsp;:
	    </p>
	</div>
    </div>
    <div class="row">
	<div class="col-sm-6">
	    <div class="thumbnail">
		<a href="{% url 'velopolitain:lab' 'intro' %}">
		    <img src="{% static 'asso_tn/images-quentin-boulegon/vélopolitain-2.jpg' %}"
			 alt="Le Vélopolitain" style="width:100%">
		    <div class="caption">
			<h2 class="font-weight-light"
			    style="font-variant: small-caps;">Le Vélopolitain</h2>
		    </div>
		</a>
	    </div>
	</div>
	<div class="col-sm-6">
	    <div class="thumbnail">
		<a href="{% url 'grand_nantes:index' %}">
		    <img src="{% static 'asso_tn/images-quentin-boulegon/grande-mobilité-1.jpg' %}"
			 alt="La Grande Mobilité" style="width:100%">
		    <div class="caption">
			<h2 class="font-weight-light"
			    style="font-variant: small-caps;">La Grande mobilité</h2>
		    </div>
		</a>
	    </div>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12">
	    <p>
		<strong>Portez nos gilets, #porteznosactions&nbsp;!</strong>
	    </p>
	    <p>
		Nous vous communiquons très bientôt nos prochaines dates&nbsp;!
	    </p>

	</div>
    </div>
</div>

<div class="container">
    <div class="row">
	<h1>Participez à l’aventure&nbsp;!</h1>
    </div>
    <div class="row">
	<div class="col-sm-6 image-overlay-container">
	    <a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" target=" blank">
		<img src="/static/velopolitain/tactical/provisoire-2.png"
		     alt="foo" style="width:100%;">
		<span class="image-overlay-text
			     image-overlay-text-blue
			     image-overlay-background-gray
			     image-overlay-centered">Faire un don</span>
	    </a>
	</div>
	<div class="col-sm-6 image-overlay-container">
	    <a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" target=" blank">
		<img src="/static/velopolitain/tactical/provisoire-3.jpg"
		     alt="foo" style="width:100%;">
		<div class="image-overlay-text
			    image-overlay-text-blue
			    image-overlay-background-gray
			    image-overlay-centered">Faire un don</div>
	    </a>
	</div>
    </div>
</div>
{% endblock %}
