{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}
{% load don %}
{% load panels %}
{% load newsletter %}

{% block meta_descr %}
<meta name="description" content="Le vélopolitain a pour mission d’améliorer et de sécuriser les pistes cyclables sur Nantes métropole "/>

{% endblock meta_descr %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
	<div class="col-lg-12">
	    <h2>C'est quoi le Vélopolitain ?</h2>

	    <h3>Le Vélopolitain en 5 points</h3>

	    <p>Le projet du Vélopolitain est un réseau cyclable bien
	    pensé, sécurisé et qui couvre la métropole entière et qu’on
	    peut définir en 5 points fondamentaux :</p>

	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img src="{% static 'velopolitain/v1.png' %}" style="width:100%;" >
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#1 - Une infrastructure continue</h3>
	    <p>Des pistes cyclables continues qui donnent aux cyclistes la
		priorité y compris aux intersections et sur les giratoires.
	    </p>
	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v2.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#2 - Une infrastructure securisée</h3>
	    <p>Des infrastructures conçues pour tous les cyclistes,
		qu'ils soient débutants ou confimés.
		Des axes clairement signalés, régulièrement entretenus,
		physiquement séparés du flux automobile et suffisamment
		larges pour que deux cyclistes
		puissent se dépasser ou rouler ensemble.</p>
	    </p>
	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v3.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#3 - Une infrastructure integrée dans un maillage global</h3>
	    <p>Une chaîne n'est pas plus forte que son maillon le plus
		faible. Le Vélopolitain ne doit pas laisser les
		cyclistes en insécurité dès que la voirie est contrainte</p>
	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v4.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#4 - Une infrastructure lisible</h3>
	    <p>Un jalonement qui rend le cheminement simple et intuitif
		y compris pour les cyclistes de passage.</p>
	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/tactical/provisoire-3.jpg' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#5 - Une mise en oeuvre rapide</h3>
	    <p>Le Vélopolitain ne demande pas des aménagements longs
		et coûteux.  Face à l’insécurité et la
		génération massive de CO2, des aménagements
		cyclables tactiques se servent
		du matériel réglementaire de
		signalisation de chantier.</p>
	</div>
    </div>
    <div class="row pt-3">
	<div class="container-fluid pt-3">
	    <div class="row">
		<div class="col-md-6">
		    <h2>Le Vélopolitain 2021</h2>

		    <h3>Cap sur les élections municipale 2021</h3>

		    <p>Transport Nantes agit pour le démarrage du
			Vélopolitain dans toutes les communes de
			Nantes Métropole. Notre objectif est simple
			d'ici la fin du mandat municipal : Nous
			souhaitons l'achèvement complet du
			Vélopolitain (au moins par le biais, si
			nécessaire, des aménagements tactiques) dans
			toutes les communes de Nantes Métropole.</p>

		    <p>A l'approche des élections départementales de
		    2021, nous insistons également sur la réalisation
		    du Vélopolitain au niveau départemental.</p>

		    <h3>Les 3 grands principes du Vélopolitain</h3>

		    <ol>
			<li>Un axe cyclable tous les kilomètres</li>
			<li>Assurer la sécurité sur les voies et les
			    ronds-points de 7 à 77 ans</li>
			<li>Permettre au débutant comme au confirmé la
			    liberté de rouler à son allure</li>
		    </ol>

		</div>
		<div class="col-md-6">
		    <img src="{% static 'velopolitain/panneau-pieton-velo.jpg' %}"
			 alt="panneau bleu priorite velo pieton" style="width:100%;">
		</div>
	    </div>
	</div>
    </div>

    <div class="container-fluid pt-4">
	{% show_donate %}
    </div>
    <div class="container-fluid pt-4">
	{% show_projects %}
    </div>
    {% show_mailing_list %}
    {% show_qui_sommes_nous %}
    {% show_volunteer %}

</div>
{% endblock %}
