{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}

{% block meta_descr %}
<meta name="description" content="Le vélopolitain a pour mission d’améliorer et de sécuriser les pistes cyclables sur Nantes métropole "/>

{% endblock meta_descr %}

{% block app_content %}
<div class="container">
    <div class="row">
	<div class="col-lg-12">
	    <h1>Le Vélopolitain</h1>

	    <p>Le Vélopolitain est un projet de Transport Nantes qui vise
		à un réseau cyclable qui en mérite le nom et qui couvre la métropole
		entière : </p>


	    <h2>L'Observatoire du Vélopolitain</h2>

	    <p>Dans les jours qui viennent, nous vous donnerons accès
		à un nouvel outil : l'observatoire du vélopolitain !
		Il vous permettra de participer au recensement du
		flux cyclable et de part modale du vélo dans la métropole.
		Actuellement en phase de test auprès d'un groupe restreint de bénévoles,
		nous lancerons une béta publique dès la semaine prochaine.</p>

	    <h2>C'est quoi, le vélopolitain ?</h2>

	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img src="{% static 'velopolitain/v1.png' %}" style="width:100%;" >
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#1 - Une infrastructure continue</h3>
	    <p>Des pistes cyclables continues qui donnent aux cyclistes la
		priorité y compris aux intersections et sur les giratoires.
	    </p>
	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v2.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#2 - Une infrastructure securisée</h3>
	    <p>Des infrastructures conçues pour tous les cyclistes,
		qu'ils soient débutants ou confimés.
		Des axes clairement signalés, régulièrement entretenus,
		physiquement séparés du flux automobile et suffisamment
		larges pour que deux cyclistes
		puissent se dépasser ou rouler ensemble.</p>
	    </p>
	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v3.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#3 - Une infrastructure integrée dans un maillage global</h3>
	    <p>Une chaîne n'est pas plus forte que son maillon le plus
		faible. Le Vélopolitain ne doit pas laisser les
		cyclistes en insécurité dès que la voirie est contrainte</p>
	</div>
    </div>
    <div class="row" style="margin-bottom:1mm">
	<div class="col-md-2 col-sm-3">
	    <img class="img-responsive" src="{% static 'velopolitain/v4.png' %}" style="width:100%;">
	</div>
	<div class="col-md-10 col-sm-9">
	    <h3>#4 - Une infrastructure lisible</h3>
	    <p>Un jalonement qui rend le cheminement simple et intuitif
		y compris pour les cyclistes de passage.</p>
	</div>
    </div>

    <p>
	En attendant, <a href="{% url 'velopolitain:lab' 'laboratoire' %}">Transport Nantes agit</a> !  En outre notre
	Observatoire du Vélopolitain, nous veillons activement à ce
	que Nantes Métropole avance lors de la période estivale 2020 :
	de la construction de Coronapistes à la planification d'un
	future beaucoup plus ambitieux de ce que nous avons vécu lors
	du mandat 2014 - 2020.  Venez participez avec nous.  C'est
	votre voix en tant qu'adhérent qui nous donne la force d'agir !
    </p>

    {% comment %}
    <!-- ######################################################################  -->
    <div class="row">
	<div class="col-lg-12">

	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
	    </p>

	</div>
    </div>
    {% endcomment %}

</div>
{% endblock %}
