{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}Le Laboratoire du Vélopolitain{% endblock og_title %}
{% block og_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mettre en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock og_description %}
{% block og_image_url %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}Une piste cyclable sécurisée provisoire, construite rapidement et à faible coût.{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}680{% endblock og_image_width %}
{% block og_image_height %}554{% endblock og_image_height %}
{% block twitter_image %}{% static 'velopolitain/tactical/provisoire-3.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Le Vélopolitain{% endblock twitter_title %}
{% block twitter_description %}La crise sanitaire nous offre en même temps une opportunité : un moment calme pour mettre en oeuvre le début d'un système de transport plus équitable.  Prenons ensemble ce moment pour commencer le Vélopolitain de Nantes Métropole.{% endblock twitter_description %}

{% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Le Vélopolitain</h1>
    {% comment %}<p class="hero-description"></p>{% endcomment %}
    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
  </div>
</div>

<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">

	    <p class="font-weight-light text-secondary">
		Il doit poursuivre son développement pour que beaucoup
	    plus d’aménagements cyclables sécurisés soient créés dans
	    la Métropole et globalement dans les régions Pays de la
	    Loire et la Bretagne.</p>

	    <h2 class="font-weight-light">Élection 2021</h2>

	    <p>
		Le Vélopolitain doit grandir en continuant de se développer.</p>

	    <p><strong>
		3 grands principes encadrent ce développement&nbsp;:</strong></p>
	    
	</div>
	<div class="col-lg-12 image-overlay-container">
		<img src="{% static 'velopolitain/autoroutes.png' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<span class="smallcap
			     image-overlay-text
			     image-overlay-text-white
			     image-overlay-centered">
		    Des axes cyclables tous les kilomètres</span>
	    </a>
	</div>
	<div class="col-lg-12 image-overlay-container pt-3">
		<img src="{% static 'velopolitain/femmes.png' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<span class="smallcap
			     image-overlay-text
			     image-overlay-text-white
			     image-overlay-centered">
		    La sécurité de 7 à 77 ans sur les voies et les ronds-points</span>
	    </a>
	</div>
	<div class="col-lg-12 image-overlay-container pt-3">
		<img src="{% static 'velopolitain/enfant-vélo.png' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<span class="smallcap
			     image-overlay-text
			     image-overlay-text-white
			     image-overlay-centered">
		    La liberté de rouler à son allure</span>
	    </a>
	</div>

	<div class="col-lg-12 pt-5">
	    <h2>Ses débuts à Nantes Métropole</h2>

	    <p>
		Elections 2020 : nous avons tous ensemble fait en
	    sorte que des voies cyclables soient aménagées, plus
	    visibles, plus larges, plus sécurisées mais ce n’est que
	    le début&nbsp;!</p>
	    <p>
		<a href="{% url 'velopolitain:index' %}">C’est quoi
		précisément</a> le Vélopolitain&nbsp;?
	    </p>

	    <h2 class="font-weight-light">Devenez ambassadeur Mobilitain pour le Vélopolitain</h2>

	    <p>
		Cette évolution doit se faire de façon collective et
		nous avons besoin de représentants qui puisse
		réfléchir et agir avec nous afin que nous soyons plus
		forts pour avoir un impact auprès des élus.  <a href="{% url 'asso_tn:ambassadeur' %}">Je veux être ambassadeur du Vélopolitain&nbsp;!</a>
	    </p>
	</div>
    </div>
</div>

{% endblock %}
