{% extends 'asso_tn/hero_base_transport_nantes.html' %}
{% load static %}

{% block app_content %}

<div class="container pt-5">
    <div class="row">
	<div class="col-lg-12">

	    <p class="font-weight-light text-secondary">
		Il doit poursuivre son développement pour que beaucoup
	    plus d’aménagements cyclables sécurisés soient créés dans
	    la Métropole et globalement dans les régions Pays de la
	    Loire et la Bretagne.</p>

	    <h2 class="font-weight-light">Élection 2021</h2>

	    <p>
		Le Vélopolitain doit grandir en continuant de se développer.</p>

	    <p><strong>
		3 grands principes encadrent ce développement&nbsp;:</strong></p>
	    
	</div>
	<div class="col-lg-12 image-overlay-container">
		<img src="{% static 'velopolitain/autoroutes.png' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<span class="smallcap
			     image-overlay-text
			     image-overlay-text-white
			     image-overlay-centered">
		    Tous les kilomètres</span></a>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12"><p><span class="centered banner-caption">
	    un axe cyclable
	</span></p></div>
    </div>
    <div class="row">
	<div class="col-lg-12 image-overlay-container pt-3">
		<img src="{% static 'velopolitain/femmes.png' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<span class="smallcap
			     image-overlay-text
			     image-overlay-text-white
			     image-overlay-centered">
		    De 7 à 77 ans</span>
	    </a>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12"><p><span class="centered banner-caption">
	    la sécurité sur les voies et les ronds-points
	</span></p></div>
    </div>
    <div class="row">	
	<div class="col-lg-12 image-overlay-container pt-3">
		<img src="{% static 'velopolitain/enfant-vélo.png' %}"
		     alt="foo" style="width:100%;" class="image-darken-65">
		<span class="smallcap
			     image-overlay-text
			     image-overlay-text-white
			     image-overlay-centered">
		    La liberté</span>
	    </a>
	</div>
    </div>
    <div class="row">
	<div class="col-lg-12"><p><span class="centered banner-caption">
	    la liberté de rouler à son allure
	</span></p></div>
    </div>
    <div class="row">
	<div class="col-lg-12 pt-5">
	    <h2>Ses débuts à Nantes Métropole</h2>

	    <p>
		Elections 2020 : nous avons tous ensemble fait en
	    sorte que des voies cyclables soient aménagées, plus
	    visibles, plus larges, plus sécurisées mais ce n’est que
	    le début&nbsp;!</p>
	    <p>
		<a href="{% url 'velopolitain:index' %}">C’est quoi
		précisément</a> le Vélopolitain&nbsp;?
	    </p>

	    <h2 class="font-weight-light">Devenez ambassadeur Mobilitain pour le Vélopolitain</h2>

	    <p>
		Cette évolution doit se faire de façon collective et
		nous avons besoin de représentants qui puisse
		réfléchir et agir avec nous afin que nous soyons plus
		forts pour avoir un impact auprès des élus.  <a href="{% url 'asso_tn:ambassadeur' %}">Je veux être ambassadeur du Vélopolitain&nbsp;!</a>
	    </p>
	</div>
    </div>
</div>

{% endblock %}
