{% extends 'asso_tn/base_mobilitain.html' %}

{% block styles %}
	{{ block.super }}
	<style>
		tbody > tr > th[colspan="3"] {
			text-align: center;
			background-color: #35353547
		}
		thead > tr > th {
			text-align: center;
			font-weight: bold;
			font-size: 1.2em;	
		}
	</style>	
{% endblock styles %}

{% block app_content %}
<div class="container">
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>Nom</th>
				<th>Description</th>
				<th>Actions</td>
			</tr>
			<tr>
				<td>Blog</td>
				<td>
					Les articles de blog.
				</td>
				<td>
					<a class="ml-1" href="{% url 'topic_blog:list_items' %}?active=articles"><i class="fas fa-list"></i></a>
					<a class="ml-1" href="{% url 'topic_blog:new_item' %}"><i class="fas fa-plus"></i></a>
				</td>
			</tr>
			<tr>
				<td>Mails</td>
				<td>
					Marketing mails qui peuvent également être visionné sur web.
				</td>
				<td>
					<a class="ml-1" href="{% url 'topic_blog:list_emails' %}?active=emails"><i class="fas fa-list"></i></a>
					<a class="ml-1" href="{% url 'topic_blog:new_email' %}"><i class="fas fa-plus"></i></a>
				</td>
			</tr>
			<tr>
				<td>CP</td>
				<td>
					Communiqués de presse
				</td>
				<td>
					<a class="ml-1" href="{% url 'topic_blog:list_press' %}?active=cp"><i class="fas fa-list"></i></a>
					<a class="ml-1" href="{% url 'topic_blog:new_press' %}"><i class="fas fa-plus"></i></a>
				</td>
			</tr>
			<tr>
				<td>Carrés</td>
				<td>
					Un carré qui peut être présenté dans le rubrique de nos projets.
				</td>
				<td>
					<a class="ml-1" href="{% url 'topic_blog:list_launcher' %}?active=launcher"><i class="fas fa-list"></i></a>
					<a class="ml-1" href="{% url 'topic_blog:new_launcher' %}"><i class="fas fa-plus"></i></a>
				</td>
			</tr>
			<tr>
				<td>Inscriptions</td>
				<td>
					Pages qui incite le visiteur de s'inscrire une liste de diffusion (y compris pétition)
				</td>
				<td>
					<a class="ml-1" href="{% url 'topic_blog:list_mlp' %}?active=mlp"><i class="fas fa-list"></i></a>
					<a class="ml-1" href="{% url 'topic_blog:new_mlp' %}"><i class="fas fa-plus"></i></a>
				</td>
			</tr>
			<tr>
				<td>Presse</td>
				<td>
					Mentions des Mobilitains dans la presse
				</td>
				<td>
					<a class="ml-1" href="{% url 'press:list_items' %}"><i class="fas fa-list"></i></a>
					<a class="ml-1" href="{% url 'press:new_item' %}"><i class="fas fa-plus"></i></a>
				</td>
			</tr>
			<tr>
				<td>Diffusion</td>
				<td>
					Listes de diffusion, de newsletters et pétitions
				</td>
				<td>
					<a class="ml-1" href="{% url 'mailing_list:list_items' %}">
						<i class="fas fa-list"
						data-toggle="tooltip"
						data-placement="bottom"
						title="Voir les listes de diffusion"></i>
					</a>
					<i class="fas fa-plus ml-1" style="color:#d9d9d9"></i>
				</td>
			</tr>
		</tbody>

	</table>
</div>
{% block bottom_appeal %}{% endblock bottom_appeal %}
{% block footer %}{% endblock footer %}

{% endblock app_content %}
