{% extends 'asso_tn/base_mobilitain.html' %}

{% block content %}

<div class="container">
    <div class="row">
       <nav class="navbar navbar-expand-md bg-light navbar-light">
	<!-- Toggler/collapsibe Button -->
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
	  <span class="navbar-toggler-icon"></span>
	</button>

	<!-- Navbar links -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar2">
	    <ul class="navbar-nav">
	      <li class="nav-item">
		<a class="nav-link" href="{% url 'mailing_list:dashboard' %}">Listes</a>
	    </li>

	  </ul>
	</div>
      </nav> 

    </div>

    {% block this_dashboard %}
    <div class="row">
	<div class="col-lg-12">
	    <p>Hello.</p>
	</div>
    </div>
    {% endblock %}
</div>

{% block bottom_appeal %}{% endblock bottom_appeal %}

{% endblock %}
