{% extends 'asso_tn/base_mobilitain.html' %}

{% block content %}
<div class="container-fluid p-3">
	<h2 class="text-center">Listes (newsletters, etc.)</h2>
	<div class="table-responsive">
		<table class="table table-bordered table-striped col-10 col-sm-8 col-md-6 mx-auto">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Nom</th>
					<th scope="col">Fréquence (semaines)</th>
					<th scope="col">État</th>
					<th scope="col">Nombre d'inscrits</th>
				</tr>
			</thead>
			<tbody>
				{% for mailing_list,count_subscriber in mailing_lists %}
				<tr>
					<td>{{ mailing_list.mailing_list_name }}</td>
					<td>{{ mailing_list.contact_frequency_weeks }}</td>
					<td><input type="checkbox" {% if mailing_list.list_active %} checked {% endif %} disabled /></td>
					<td>{{ count_subscriber }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
{% endblock %}
