{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load don %}
{% load mpanels %}
{% load newsletter %}
{% load markdown %}

{% block og_title %}Inscrivez-vous à la newsletter des Mobilitains !{% endblock og_title %}
{% block og_description %}Recevez chaque mois ou chaque trimestre des nouvelles essentielles de la mobilité en région nantaise.{% endblock og_description %}
{% block og_image_url %}{% static 'asso_tn/images-quentin-boulegon/gilets-1.jpgasso_tn/images-libres/black-and-white-bridge-children-194009-1000.jpg' %}{% endblock og_image_url %}
{% block og_image_alt %}Les actualités de la mobilité{% endblock og_image_alt %}
{% block og_image_type %}image/jpg{% endblock og_image_type %}
{% block og_image_width %}1000{% endblock og_image_width %}
{% block og_image_height %}667{% endblock og_image_height %}
{% block twitter_image %}{% static 'asso_tn/images-libres/black-and-white-bridge-children-194009-1000.jpg' %}{% endblock twitter_image %}
{% block twitter_title %}Inscrivez-vous à la newsletter des Mobilitains !{% endblock twitter_title %}
{% block twitter_description %}Recevez chaque mois ou chaque trimestre des nouvelles essentielles de la mobilité en région nantaise.{% endblock twitter_description %}

{% block app_content %}

<div class="container pt-5">
    <div class="row">{% comment %}
	The petition signup should show at the right and at the bottom but not twice at the bottom.
	{% endcomment %}
	<div class="col-lg-10 col-md-8 col-sm-7 col-xs-12">
	    {{ petition.petition1_md|markdown }} {# part 1 is required  #}
	    <div class="pl-1 pr-1 pt-1" style="background-color:  #EAF3FC;">
		{{ petition.petition2_md|markdown }} {# parts 2-4 are optional #}
	    </div>
	    {{ petition.petition3_md|markdown }}
	    <div class="pl-1 pr-1 pt-1" style="background-color:  #FFB686;">
		{{ petition.petition4_md|markdown }}
	    </div>
	    <div class="d-none d-sm-block">
		{% show_petition_signup petition_token %}
	    </div>
	</div>
	<div class="col-lg-2 col-md-4 col-sm-5 d-block d-sm-block">
	    {% show_petition_signup petition_token %}
	</div>
    </div>

    <div class="row pt-4">
	{% show_projects %}
    </div>
</div>

{% show_donate %}
{% show_volunteer %}

{% endblock %}
