{% extends 'asso_tn/base_mobilitain.html' %}

{% block app_content %}

<div class="container">
    {% if request.GET.confirmed_sub == 'true' %}
        <button id="just_subscribed_button" type="button" class="d-flex flex-row alert alert-dismissible fade-out mt-2 mb-1 mx-auto" role="alert"
        style="background-color:#5bc2e7;">
            <span class="close" data-dismiss="alert" aria-label="close">&times;</span>
            <p class="mx-auto mb-0" style="color: white;">
                <i class="fa fa-check" aria-hidden="true"></i>
                <b>Préférences sauvegardées.</b> <br/>
            </p>
        </button>
    {% endif %}
    <form id="press_subscription_form" action="{% url 'mailing_list:press_subscription_management' token %}" method="post"> {% csrf_token %}
        <div class="d-flex flex-column col-10 mx-auto justify-content-center">
            <p style="font-weight:bold;font-size:1.25em">Mes préférences presse</p>
            {% for mailing_list in press_subscription_list %}
            <div class="form-check">
                <input type="checkbox" name="MAILING_LIST_ID_ITEM_TAG__{{ mailing_list.id }}"
                value="{{ mailing_list.id }}" id="mailing_list_id_{{ mailing_list.id }}"
                {% if mailing_list.is_subbed %} checked {% endif %} />
                <label for="mailing_list_id_{{ mailing_list.id }}">
                    {{ mailing_list.mailing_list_name }}
                </label>
            </div>
            {% empty %}
                Aucune liste de diffusion n'est disponible pour le moment.
            {% endfor %}

            <button type="submit" class="btn navigation-button mt-3 mx-auto">Sauvegarder</button>
        </div>
    </form>
</div>

{% endblock app_content %}
