{% extends 'topicblog/base_email.html' %}
{% load launcher %}

{% block app_content %}

{% if not confirmed_unsub %}
{# GET #}
    <form method="post" action="{% url "mailing_list:newsletter_unsubscribe" token %}"
    class="d-flex flex-column flex-wrap col-10 col-md-6 mx-auto">
        {% csrf_token %}
        <h1 class="d-flex text-center">
            Désinscrire {{ user_email }} de "{{send_record_mailing_list}}" ?
        </h1>
        <div class="d-flex col-6 mx-auto my-3 justify-content-center">
            <button class="btn navigation-button" type="submit">Oui</button>
        </div>
        {% item_teaser 'qui-sommes-nous' %}
    </form>
{% else %}
{# POST #}
    <h1 class="d-flex col-10 col-md-6 mx-auto text-center">
        Vous vous êtes désabonné(e) de la liste "{{send_record_mailing_list}}"
    </h1>
{% endif %}

{% endblock app_content %}
