{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load don %}
{% load mpanels %}
{% load crispy_forms_tags %}
{% block app_content %}

<div class="container pt-5">
    <div class="row">
	<div class="col-md-12">
		{% if form.errors %}
			<p class="text-danger">{{ form.errors }}</p>
		{% endif %}
        {% if is_unsub %}
			<h5 class="alert alert-danger text-center">Vous êtes déja désabonné à cette newsletter</h5>
			<p>Newsletter :  {{mailing_list.mailing_list_name}}</p>
			<a href="{% url 'index' %}" class="btn navigation-button btn-lg">Retour</a>
		{% else %}
		    <h5 class="alert alert-danger text-center">Vous êtes sur le point de vous désinscire de la newsletter</h5>
		    <p>Newsletter :  {{mailing_list.mailing_list_name}}</p>
            {% if is_from_token %}
                {% include "mailing_list/status/hidden_form.html"  with unsubscribe=True back_index=True button_label="Confirmer"  %}
            {% else %}
                {% include "mailing_list/status/hidden_form.html"  with unsubscribe=True button_label="Confirmer"  %}
            {% endif %}
        {% endif %}
	</div>
    </div>
    <div class="row pt-4">
	{% show_projects %}
    </div>
</div>

{% show_donate %}
{% show_volunteer %}

{% endblock %}
