{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block og_title %}{{ entry.og_title }}{% endblock og_title %}
{% block og_description %}{{ entry.og_description }}{% endblock og_description %}
{% block og_image_url %}{% static entry.og_image %}{% endblock og_image_url %}
{% block og_image_alt %}{{ entry.og_image_alt|default:"Default text" }}{% endblock og_image_alt %}
{% block og_image_type %}{% endblock og_image_type %}
{% block og_image_width %}{% endblock og_image_width %}
{% block og_image_height %}{% endblock og_image_height %}
{% block twitter_image %}{% static entry.og_image %}{% endblock twitter_image %}
{% block twitter_title %}{{ entry.og_title }}{% endblock twitter_title %}
{% block twitter_description %}{{ entry.og_description }}{% endblock twitter_description %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>Réussissons le déconfinement</h1>

	    <p class="text-info">Nous avons chacun un rôle à
		jouer afin que nos déplacements lors du déconfinement
		soit agréable.</p>
	    
	    <p class="text-muted">Je suis {% for category in categories %}
		<a type="button" class="btn btn-outline-dark btn-sm"
		   href="{% url 'cluster_blog:deconfinement_role' blog.pk category.pk %}">
		    {{ category.category }}</a>
		{% endfor %}
	    </p>

	    <p class="text-info">Si j'étais {{ entry.category.category }}, je pourrais...
	    </p>

	    <h2>{{ entry.title }}</h2>

	    <p><img src="{% static entry.image_filename %}" style="max-width:90%;" ></p>

	    {{ entry.description|safe }}

	    <p><a type="button" class="btn btn-outline-dark btn-sm"
		   href="{% url 'cluster_blog:deconfinement_role' blog.pk entry.category.pk %}">
		Et puis ? &raquo;</a></p>
		<a href="#" class="next">Next </a></p>
	</div>
    </div>
</div>
{% endblock app_content %}
