{% extends 'asso_tn/base_transport_nantes.html' %} 
{% load static %}

{% block content %}
    <h1 style="padding-left:1em;padding-top: 1em;">Buttons counter</h1>

    <p style="padding-left:3em; padding-top: 1em;">
        <button id="button_A" class="btn btn-primary" type="button">A</button>
        <button id="button_B" class="btn btn-primary" type="button">B</button>
        <button id="button_C" class="btn btn-primary" type="button">C</button>
        <button id="button_D" class="btn btn-primary" type="button">D</button>
    </p>

    <p class="A_value" style="padding-left:3em; padding-top: 1em;">A counter : 0</p>
    <p class="B_value" style="padding-left:3em; padding-top: 1em;">B counter : 0</p>
    <p class="C_value" style="padding-left:3em; padding-top: 1em;">C counter : 0</p>
    <p class="D_value" style="padding-left:3em; padding-top: 1em;">D counter : 0</p>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock content %}