{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
            <h1>L'Observatoire du Vélopolitain</h1>

	    <p>Comment faire en sorte que le Vélopolitain soit réalisé ?</p>

	    <h2>La mode d'emploi</h2>

	    <p>
		C'est simple comme tout.</p>

	    <p>
		Tout d'abord, si ce n'est pas encore fait, vous créez
		un compte.  C'est aussi simple que d'entrer votre
		adresse mail et puis de cliquer un lien que nous vous
		envoyons.</p>

	    <p>
		Puis, lorsque vous voulez compter les passants, vous
		visitez le <a href="{% url 'velopolitain_observatoire:count_app' %}">compteur
		de l'observatoire</a>.
		Vous cliquez "j'y vais" et puis, à chaque fois que
		vous voyez passer quelqu'un, vous touchez la touche
		correspondante :
		<ul>
		    <li><strong>piéton</strong> pour tous les piétons
			mais également les personnes en chaise
			roulante.  Les enfants et les bébés comptent
			également.</li>
		    <li><strong>vélo</strong> pour les vélos mais
			également tout ce qui roule : trottinette,
			monoroue, VAE.</li>
		    <li><strong>voiture</strong>pour tout ce qui roule
			avec moteur plus puissant qu'un VAE : les motos et les
			camions (mais pas les bus).</li>
		    <li><strong>TC</strong> pour les transport
			collectifs (bus, tramway, train, navibus si jamais
			vous comptez à côté d'une gare fluviale</li>
		</ul>
	    </p>

	    <p>
		Lorsque vous aurez terminé, vous touchez
		"j'arrête".</p>


	    <h2>C'est tout ?</h2>
	    
	    <p>
		Oui, c'est aussi simple que ça.
		Seulement 15-20 minutes par mois suffirait.</p>

	    
	    <p>
		Pour plus d'information, il y a une
		<a href="{% url 'velopolitain_observatoire:blog' 'faq' %}">FAQ</a>.</p>

	    <p>
		Nous souhaitons éviter tout simplement que nos élus
		puissent se cacher derrière une absence de chiffre --
		dont ils sont responsables.</p>

	</div>
    </div>
</div>
{% endblock %}

{% if False %}

  FAQ


La mode d'emploi :

1.  Choisissez un endroit.  Devant chez vous, dans un coin qui vous plaît, peu importe, comme vous voulez.  Prenez un endroit que vous pouvez identifier.  Pour vous simplifier la vie, ne prenez pas un croisement de rues.  Si vous prenez un rond point, définissez juste l'endroit où vous comptez.
2.  Choisissez un créneau qui vous convient.  C'est plus intéressant à choisir un créneau quand il y a des gens qui passent.
3.  À peu près une fois par mois, vous allez à votre endroit avec un morceau de papier et un crayon.  Notez l'heure précise de début (à la minute près).  Puis vous comptez aussi longtemps que vous voulez.  Nous suggérons 15-20 minutes.  Puis vous notez l'heure précise (à la minute près) que vous terminez.
4.  Vous nous envoyez les résultats.

Pour comptez, nous souhaitons savoir le suivant :
- combien de vélo qui passent (y compris scooters, monoroue, etc.)
- combien de piétons qui passent (y compris chaises roulants, etc.)
- combien de voiture qui passent
- combien de bus/tram/car qui passent
- combien de camion/fourgon/poids lourds qui passent

Donc il suffit d'avoir cinq carrés sur votre papier.  Vous pouvez télécharger un modèle ici si vous voulez.


FAQ :

- qu'est-ce que je dois faire ?  Nous souhaitons connaître la part modale un peu partout dans la région nantaise sur tout le mandat de nos élus.  Dans un monde parfait, ce serait super que vous passiez 15-20 minutes une fois par mois.

- où ?  Où c'est commode pour vous.  Devant chez vous.  Devant un banc qui vous plaît.  C'est vous qui décidez.

- quand ?  Quand vous voulez

- c'est tout ?  Oui.

- si j'oublie ?  si je pars en vacances ?  Ce n'est pas grave.  La prochaine fois que vous pouvez le faire, allez-y.  Nous vous dirons merci.

- vous pouvez me rappelez ?  Oui, nous pourrions vous envoyer un mail ou un SMS pour vous rappeler.  Avec même un lien pour simplifier votre réponse.




Formulaire de réponse :

- date de comptage
- heure, minute de début
- heure, minute de fin
- nombre de vélos
- nombre de piétons
- nombre de voitures
- nombre de TC
- nombre de PL

[Confirmer]
{% endif %}
