{% extends 'asso_tn/base_transport_nantes.html' %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <p class="text-warning">Vous êtes trop tôt.  Cette application ne fait rien pour l'instant.</p>

	    <p>Pour chaque véhicule ou personne qui passe, cliquez une
	    fois le bouton correspondant.  En cas d'erreur, vous
	    pouvez cliquez le "-".</p>
	</div>
    </div>
</div>
<div container>
    <div class="row">
	<div class="col-1">
	    <i class="fa fa-question-circle" aria-hidden="true"></i>
	</div>
	<div class="col-8">
	    <p>
		<button type="button" class="btn btn-primary btn-block">Piéton</button>
	    </p>
	</div>
	<div class="col-1">
	    <b>0</b>
	</div>
	<div class="col-2">
	    <button type="button" class="btn btn-outline-primary
					 btn-block">
		<i class="fa fa-minus" aria-hidden="true"></i>
	    </button>
	</div>
    </div>
    <div class="row">
	<div class="col-1">
	    <i class="fa fa-question-circle" aria-hidden="true"></i>
	</div>
	<div class="col-8">
	    <p>
		<button type="button" class="btn btn-primary btn-block">Vélo</button>
	    </p>
	</div>
	<div class="col-1">
	    <b>0</b>
	</div>
	<div class="col-2">
	    <button type="button" class="btn btn-outline-primary
					 btn-block">
		<i class="fa fa-minus" aria-hidden="true"></i>
	    </button>
	</div>
    </div>
    <div class="row">
	<div class="col-1">
	    <i class="fa fa-question-circle" aria-hidden="true"></i>
	</div>
	<div class="col-8">
	    <p>
		<button type="button" class="btn btn-primary btn-block">Voiture</button>
	    </p>
	</div>
	<div class="col-1">
	    <b>0</b>
	</div>
	<div class="col-2">
	    <button type="button" class="btn btn-outline-primary
					 btn-block">
		<i class="fa fa-minus" aria-hidden="true"></i>
	    </button>
	</div>
    </div>
    <div class="row">
	<div class="col-1">
	    <i class="fa fa-question-circle" aria-hidden="true"></i>
	</div>
	<div class="col-8">
	    <p>
		<button type="button" class="btn btn-primary btn-block">TC</button>
	    </p>
	</div>
	<div class="col-1">
	    <b>0</b>
	</div>
	<div class="col-2">
	    <button type="button" class="btn btn-outline-primary
					 btn-block">
		<i class="fa fa-minus" aria-hidden="true"></i>
	    </button>
	</div>
    </div>
</div>
{% endblock %}
