{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}

{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
            <h1>L'Observatoire du Vélopolitain</h1>

	    <p>Comment faire en sorte que le Vélopolitain soit réalisé ?</p>

	    <h2>C'est quoi ?</h2>

	    <p>
		Tous les jours nous voyons chacun des bouchons, des
		voitures, des transports collectifs, des piétons, des
		vélos.  Et pourtant ce qui est devant nos nez n'est pas
		collecté jour après jour.  <strong>Aujourd'hui, ça
		change.</strong></p>

	    <p>
		Le projet est simple : nous vous procurons un outil pour
		compter ce que vous voyez.  Pour certain, ce sera un
		matin par mois devant chez lui, avant d'aller au
		boulot.  Pour d'autres, ce sera une activité avec les
		enfants.  Pour bien d'autres, ce sera dix minutes en
		attendant son bus au lieu de d'ouvrir facebook.</p>

	    <p>
		C'est chacun à sa guise, où il veut, quand il veut.
		<strong>Nous
		espérons vous comptez parmi nous.</strong></p>


	    <h2>C'est chez vous, dans votre quartier</h2>
	    
	    <p>
		Nous voudrions mesurer le flux réel de la circulation
		chez vous.  C'est pourquoi nous avons besoin de vous.
		Seulement 15-20 minutes par mois suffirait.</p>

	    
	    <p>
		Pourquoi ?  Parce que Nantes Métropole n'avance pas à
		la vitesse que nous souhaitons sur ses projets
		cyclables.  L'observatoire du Vélopolitain, c'est un
		projet de transparence.</p>

	    <p>
		Nous souhaitons éviter tout simplement que nos élus
		puissent invoquer derrière une absence de chiffre --
		de leur propre fait.</p>

	    <h2>Vous êtes prêt ?</h2>

	    <p>
		Allez, <a href="{% url 'velopolitain_observatoire:blog' 'comment-faire' %}">c'est
		parti !</a>
	    </p>

	</div>
    </div>
</div>
{% endblock %}

{% if False %}

  FAQ


La mode d'emploi :

1.  Choisissez un endroit.  Devant chez vous, dans un coin qui vous plaît, peu importe, comme vous voulez.  Prenez un endroit que vous pouvez identifier.  Pour vous simplifier la vie, ne prenez pas un croisement de rues.  Si vous prenez un rond point, définissez juste l'endroit où vous comptez.
2.  Choisissez un créneau qui vous convient.  C'est plus intéressant à choisir un créneau quand il y a des gens qui passent.
3.  À peu près une fois par mois, vous allez à votre endroit avec un morceau de papier et un crayon.  Notez l'heure précise de début (à la minute près).  Puis vous comptez aussi longtemps que vous voulez.  Nous suggérons 15-20 minutes.  Puis vous notez l'heure précise (à la minute près) que vous terminez.
4.  Vous nous envoyez les résultats.

Pour comptez, nous souhaitons savoir le suivant :
- combien de vélo qui passent (y compris scooters, monoroue, etc.)
- combien de piétons qui passent (y compris chaises roulants, etc.)
- combien de voiture qui passent
- combien de bus/tram/car qui passent
- combien de camion/fourgon/poids lourds qui passent

Donc il suffit d'avoir cinq carrés sur votre papier.  Vous pouvez télécharger un modèle ici si vous voulez.


FAQ :

- qu'est-ce que je dois faire ?  Nous souhaitons connaître la part modale un peu partout dans la région nantaise sur tout le mandat de nos élus.  Dans un monde parfait, ce serait super que vous passiez 15-20 minutes une fois par mois.

- où ?  Où c'est commode pour vous.  Devant chez vous.  Devant un banc qui vous plaît.  C'est vous qui décidez.

- quand ?  Quand vous voulez

- c'est tout ?  Oui.

- si j'oublie ?  si je pars en vacances ?  Ce n'est pas grave.  La prochaine fois que vous pouvez le faire, allez-y.  Nous vous dirons merci.

- vous pouvez me rappelez ?  Oui, nous pourrions vous envoyer un mail ou un SMS pour vous rappeler.  Avec même un lien pour simplifier votre réponse.




Formulaire de réponse :

- date de comptage
- heure, minute de début
- heure, minute de fin
- nombre de vélos
- nombre de piétons
- nombre de voitures
- nombre de TC
- nombre de PL

[Confirmer]
{% endif %}
