	    <h2>C'est quoi ?</h2>
	    
	    <p>C'est un projet de <strong>crowd sourcing de part modale</strong> (et de
		part vélo).  C'est chacun, où il veut, quand il veut.
		Nous espérons vous comptez parmi nous.</p>

	    <p>Surtout, c'est chez vous (nous espérons).  Pas
		seulement sur les grands axes, mais dans chaque quartier.</p>

	    <h2>C'est chez vous, dans votre quartier</h2>
	    
	    <p>Nous voudrions mesurer le flux réel de la circulation
	    chez vous.  C'est pourquoi nous avons besoin de vous.
	    Avez-vous 15-20 minutes par mois ?
	    </p>

	    
	    <p>Nantes Métropole n'avance pas à la vitesse que nous
	    souhaitons sur ses projets cyclables.  Toutefois, nos élus
	    vantent parfois le progrès qu'ils veulent qu'on croit
	    qu'ils font.  L'observatoire du Vélopolitain, c'est un
	    projet de transparence.
	    </p>

	    <p>
		Nous souhaitons éviter tout simplement que nos élus
		puissent se cacher derrière une absence de chiffre de
		leur propre création.
	    </p>
