{% extends 'asso_tn/base_mobilitain.html' %}

{% block app_content %}

<main class="d-flex flex-column col-12 col-md-8 justify-content-center flex-wrap mx-auto">

    <div class="d-flex col-12 flex-column">
        <h1 class="mx-auto">L'opération piéton</h1>
    </div>

    <div id="entries-container" class="d-flex col-12 justify-content-center flex-wrap">
        {% for photoentry in photoentry_list %}
            <div class="d-flex col-12 col-md-6 col-xl-4 my-3 justify-content-center">
                <div class="my-auto">
                    <a href="{% url 'photo:photo_details' photoentry.sha1_name %}">
                        <img src="{{ photoentry.submitted_photo.url }}"
                        class="img-fluid thumbnail"
                        style="filter: drop-shadow(5px 5px 10px #000); max-height:45vh;"
                        alt="Participation au concours photo">
                    </a>
                </div>
            </div>

        {% empty %}
            <p class="d-flex mx-auto">Aucune photo n'a encore été acceptée par le jury !</p>
        {% endfor %}
    </div>

    <div class="pagination mx-auto mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">Préc.</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Suiv.</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>

</main>

{% endblock app_content %}
