{% extends 'asso_tn/base_mobilitain.html' %}
{% load social %}
{% load static %}

{% block app_content %}

<main class="d-flex flex-column col-12 col-md-8 justify-content-center flex-wrap mx-auto">

    <div class="d-flex col-12 flex-column">
        <h1 class="mx-auto">L'opération piéton</h1>
    </div>

    <p>
        Nous sommes tous piétons. Pour certains, la marche à pied est le principal
        mode de déplacement. Pour d'autres c'est secondaire, peut-être avant ou
        après un déplacement en voiture. Mais pour tous, le confort et la sécurité
        lors de nos déplacements à pied sont essentiels...
        <a href="{% url 'photo:index' %}"><b>En lire plus</b></a>
    </p>

    <div id="entries-container" class="d-flex col-12 justify-content-center flex-wrap">
        {% for photoentry in photoentry_list %}
            <div class="d-flex col-12 col-md-6 col-xl-4 my-3 justify-content-center">
                <a href="{% url 'photo:photo_details' photoentry.sha1_name %}" style="max-height:212px;">
                    <img src="{{ photoentry.submitted_photo.url }}"
                    class="thumbnail"
                    width="100%"
                    height="100%"
                    style="filter: drop-shadow(5px 5px 10px #000); object-fit:cover; aspect-ratio: 1/1;"
                    alt="Participation au concours photo">
                </a>
            </div>

        {% empty %}
            <p class="d-flex mx-auto">Aucune photo n'a encore été acceptée par le jury !</p>
        {% endfor %}
    </div>

    <div class="pagination mx-auto mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo;</a>
                <a href="?page={{ page_obj.previous_page_number }}">Préc.</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Suiv.</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            {% endif %}
        </span>
    </div>

    {% block social_buttons %}
        <div class="my-3">
            {% socials_share_buttons %}
        </div>
    {% endblock social_buttons %}

    <footer class="text-muted" style="font-size:smaller;margin-top:50px;hyphens:auto;">
        <p>
            <i>
                Avec l'aimable soutien du bureau d'initiatives de Quartier Hauts-Pavés
                - Saint-Félix (Nantes) et du département de Loire-Atlantique
            </i>
            <img
                src="{% static 'asso_tn/logo_bureau_initiatives.jpg' %}"
                alt="Logo du bureau d'initiatives de Nantes haut pavés saint Félix"
                style="object-fit:scale-down;max-height:30px;"
            />
            <img
                src="{% static 'asso_tn/logo_departement_loire_atlantique.png' %}"
                alt="Logo du département Loire Atlantique"
                style="object-fit:scale-down;max-height:30px;"
            />
        </p>
    </footer>

</main>

{% endblock app_content %}
