{% extends 'asso_tn/base_mobilitain.html' %}
{% load absolute_url %}
{% load markdown %}
{% load static %}
{% load compress %}
{% load crispy_forms_tags %}
{% load social %}

{% block styles %}
    {{ block.super }}
    {% compress css inline %}
        <link rel="stylesheet" href="{% static 'photo/css/single_entry.css' %}">
    {% endcompress %}
{% endblock styles %}

{% block head %}
    {{ block.super }}
    {% if photo.pedestrian_issues_md %}
	    <meta property="twitter:description" content="{{ photo.pedestrian_issues_text }}"/>
        <meta property="og:description" content="{{ photo.pedestrian_issues_text }}"/>
	{% endif %}
    <meta property="og:image" content="{% absolute_url_image photo.submitted_photo.url %}"/>
    <meta property="twitter:image" content="{% absolute_url_image photo.submitted_photo.url %}">

{% endblock head %}

{% block localscripts %}
    {% comment %}
        The use of Javascript allows us to make AJAX requests to the server
        without reloading the page. This is useful to avoid reloading the page
        when the user votes.
    {% endcomment %}
    {% compress js %}
        <script src="{% static 'photo/js/vote_system.js' %}" defer></script>
    {% endcompress %}

    <script type="text/javascript">
        {% comment %}Those values are used in vote_system.js{% endcomment %}
        {% if has_voted %}
            var has_voted = true;
        {% else %}
            var has_voted = false;
        {% endif %}
        {% if request.user.is_authenticated %}
            var is_auth = true;
        {% else %}
            var is_auth = false;
        {% endif %}
    </script>
{% endblock localscripts %}

{% block app_content %}

    <div class="d-flex col-12 col-md-8 flex-column mx-auto mt-n4">
        <a class="btn navigation-button mr-auto mb-3" href="{% url 'photo:galerie' %}">
            <i class="fa-solid fa-chevron-left"></i>
            Retour à la galerie
        </a>
        <div class="photo-container">
            <img src="{{ photo.submitted_photo.url }}"
            alt="Photo soumise à l'occasion de l'opération piéton"
            class=""
            width="100%"
            height="100%"
            style="filter: drop-shadow(5px 5px 10px #000); object-fit:contain"></img>
                
            {% if photo.accepted == True  %}
                {# Previous button #}
                <a href="{% url 'photo:prev_photo_details' photo.sha1_name %}"
                   id="photo_prev" class="prev"> <i class="fa-solid fa-chevron-left"></i>
                </a>
                {# Next button #}
                <a href="{% url 'photo:next_photo_details' photo.sha1_name %}"
                   id="photo_next" class="next"> <i class="fa-solid fa-chevron-right"></i>
                </a>
            {% endif %}
        </div>
        {% if photo.accepted == True  %}
            <div class="d-flex mx-auto">
                {# Upvote button #}
                <button id="upvote-button" type="button"
                class="d-flex p-2 m-3 font-xl border-circle
                {% if last_vote == "upvote"%}
                border-blue-light bg-blue-light font-blue-dark
                {% endif %} "
                {% if not has_voted %}
                    data-toggle="modal" data-target="#first-vote-div"
                {% endif %}>
                    <i class="fa-solid fa-heart"></i>
                </button>
            </div>
        {% endif %}

	{% if photo.photographer_identifier %}
	    <p id="photographer_ident" class="mb-0"><i>{{ photo.photographer_identifier }}</i></p>
	{% endif %}
	{% if photo.submitter_info_md %}
	    <div id="submitter_info">{% tn_markdown photo.submitter_info_md|default:"" %}</div>
	{% endif %}
	{% if photo.pedestrian_issues_md %}
	    <p class="p-1 mr-auto" style="background-color:var(--mobilitains-bleu); color:white; font-weight:bolder; border-radius:3px">
            Remarques des Mobilitains&nbsp;:
        </p>
	    <div id="ped_issues">{% tn_markdown photo.pedestrian_issues_md|default:"" %}</div>
	{% endif %}

        {% block social_buttons %}
            <div class="my-3">
                {% socials_share_buttons %}
            </div>
        {% endblock social_buttons %}

        {# Modal form if user never voted #}
        {% if not has_voted %}
            <style>
                #div_id_consent_box > label {
                    font-size: small;
                    color: #6c757d;
                }
                #id_captcha_1 {
                    width: auto;
                    display: inline-block;
                    margin-left: 5px;
                }
                #hint_id_captcha {
                    margin-top: 2em;
                }
            </style>
            <div id="first-vote-div"
            class="modal fade"
            tabindex="-1"
            aria-labelledby="report-about-form-title"
            aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-body">
                            {% if request.user.is_authenticated %}
                            <p>
                                Merci ! Vous y êtes presques !<br />
                                Avec votre accord, nous pourrions vous tenir au
                                courant du prix populaire et des avancées de la marche
                                à pied.
                            </p>
                            {% else %}
                            <p>
                                Merci ! Vous y êtes presques !<br />
                                Votre avis sur la photo nous sera encore plus
                                précieux si nous pouvions être confiants que
                                vous êtes humain. Ça ne vous embête pas trop ?
                            </p>
                            {% endif %}
                            <form id="first-vote-form" method="post">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <button type="submit"
                                    class="btn donation-button">
                                    Confirmer mon vote
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <footer class="text-muted" style="font-size:smaller;margin-top:50px;hyphens:auto;">
            <p>
                <i>
                    Avec l'aimable soutien du bureau d'initiatives de Quartier Hauts-Pavés
                    - Saint-Félix (Nantes) et du département de Loire-Atlantique
                </i>
                <img
                    src="{% static 'asso_tn/logo_bureau_initiatives.jpg' %}"
                    alt="Logo du bureau d'initiatives de Nantes haut pavés saint Félix"
                    style="object-fit:scale-down;max-height:30px;"
                />
                <img
                    src="{% static 'asso_tn/logo_departement_loire_atlantique.png' %}"
                    alt="Logo du département Loire Atlantique"
                    style="object-fit:scale-down;max-height:30px;"
                />
            </p>
        </footer>
    </div>

{% endblock app_content %}
