{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}
{% load randomstring %}
{% load don %}

{% block og_title %}{{ observatoire.name }}{% endblock og_title %}
{% block og_description %}Suivre le progrès de nos élus dans Nantes Métropole en début de mandat !{% endblock og_description %}
{% block og_image_url %}{% randomstring %}{% url 'open_graph:100jours' randomstring day_offset -1 %}{% endblock og_image_url %}

{% block twitter_image %}{% randomstring %}{% url 'open_graph:100jours' randomstring day_offset -1 %}{% endblock twitter_image %}
{% block twitter_title %}{{ observatoire.name }}{% endblock twitter_title %}
{% block twitter_description %}Suivre le progrès de nos élus dans Nantes Métropole en début de mandat !{% endblock twitter_description %}


{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>{{ observatoire.name }}</h1>

	    <p>
		Les élections municipales sont derrière nous.
		Maintenant place au suivi des promesses électorales :
		conséquentes pour certains candidats (comme sur
		Nantes), plus discrètes pour d'autres.  Peu importe :
		ce qui compte, c'est ce qu'on fait dès maintenant et
		ensuite !</p>

	    <p>
		Transport Nantes initie le suivi des engagements et
		des actions, en documentant les objectifs pour les
		transports doux ou actifs de chacun des maires des 24
		communes de la métropole nantaise. Pendant ces 100
		premiers jours, nous suivrons la mise en œuvre des
		programmes et nous vous en informerons.</p>

	    <h2>Les détails</h2>

	    <p>
		Le jour 1, qui marquera le lancement de notre
		observation, sera le lundi 6 juillet, le temps que les
		conseils municipaux siègent, que les maires soient
		élus.</p>

	    <p>
		Avant cette date, nous interrogerons les têtes de
		liste sur leurs programmes, nous les complèterons en
		leur demandant de confirmer leurs objectifs en matière
		de transports à la base de notre  <a href={% static "surveys/parlons_mobilité.pdf" %}>
		questionnaire</a>.</p>

	    <p>
		Nous les inviterons également à signaler, au fur et à
		mesure pendant ces 100 premiers jours, leurs
		réalisations. Tout autre contributeur est le bienvenu
		pour nous signaler les objectifs atteints (ou
		éventuellement modifiés ou abandonnés).  Nous croiserons
		ces informations avec notre propre suivi.</p>

	    <p>
		Soyons clairs : notre objectif est de saluer et
		médiatiser les réalisations et les progrès des
		nouvelles équipes municipales. Aux maires (ou aux élus
		en charge des transports doux ou actifs) de nous
		alimenter régulièrement en bonnes nouvelles (ou, le
		cas échéant, de nous faire part de leurs difficultés).</p>

	    <p>
		Dès le jour 1, nous médiatiserons leurs progrès jour
		par jour pendant 100 jours. La vie d'une ville ne
		s’arrête pas le soir ou le week-end : un jour
		ouvrable est un jour ouvré, c'est un jour où les
		habitants continuent à vivre leurs vies. Bref, tous
		les jours. Le 100ème jour sera donc le mardi 14
		octobre 2020.</p>

	    <h2>Soyez notre référent communal !</h2>

	    <p>
		Nous recherchons des personnes motivées pour nous
		aider en devenant référent de commune.  Votre rôle
		sera d'effectuer une veille dans votre secteur et d'y
		constater les progrès.</p>

	    <p>
		Aucune compétence n’est requise sinon être motivé et
		se déplacer régulièrement sur le
		terrain. Ce suivi doit être factuel et objectif, non
		influencé par des considérations politiques.</p>

	    <p>Envoyez-nous un
		<a
    href="mailto:jevousaide@transport-nantes.com">mél</a> pour candidater.
	    </p>

	    <p><hr></p>

	    <p style="margin-left:5%; margin-right:5%;
		      font-size:smaller;">
		Vous pouvez consultez les réponses des
	    candidats au
		<a href="{% url 'surveys:choose_commune' 1 %}" class="text-muted">
		    premier tour</a> et au
		<a href="{% url 'surveys:choose_commune' 2 %}" class="text-muted">
		    deuxième tour</a>.
	    </p>

	    <p style="margin-left:5%; margin-right:5%; margin-top:4%;
			  font-size:smaller;">
		À Transport Nantes, notre vision est simple : donner un choix de
		déplacement crédible à chacun, améliorer les
		déplacements de chacun, même ceux qui choisissent de
		ne pas changer. Pour agir, nous avons besoin de votre
		voix.
	    </p>

	    <p style="margin-left:5%; margin-right:5%;
			  font-size:smaller;">
		Notre stratégie est également simple : engager nos
		élus, leur montrer que nous sommes nombreux à vouloir
		un système de déplacement efficace, pas cher, et
		écologique.
	    </p>

	    <p style="margin-left:5%; margin-right:5%;
			  font-size:smaller;">
		Nous avons le choix : continuer à créer plus de
		place pour la voiture ou commencer à offrir un vrai choix
		aux habitants de notre région. Et le choix est clair :
		aucune ville, aucune région n'a jamais réduit ses
		bouchons en élargissant ses capacités routières. Les régions qui
		encouragent et construisent pour les cyclistes, pour
		la marche à pied, et pour les transports collectifs,
		par contre, voient leur bouchons diminuer, voire
		disparaître. Sans obliger qui que ce soit à changer de
		mode de déplacement.
	    </p>

    <!-- ######################################################################  -->
    <div class="row">
	<div class="col-lg-12">

	    <p align="center">{% bouton_don_lg "J'adhère" %}
	    </p>

	</div>
    </div>

</div>
{% endblock %}
