{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}
{% load randomstring %}

{% block og_title %}{{ observatoire.name }}{% endblock og_title %}
{% block og_description %}Suivre le progrès de {{ this_person.person_name }} et la ville de {{ this_person.entity_name }} en début de mandat !{% endblock og_description %}
{% block og_image_url %}{% randomstring %}{% url 'open_graph:100jours' randomstring day_offset edile %}{% endblock og_image_url %}

{% block twitter_image %}{% randomstring %}{% url 'open_graph:100jours' randomstring day_offset edile %}{% endblock twitter_image %}
{% block twitter_title %}{{ observatoire.name }} : {{ person.person_name }}{% endblock twitter_title %}
{% block twitter_description %}Suivre le progrès de {{ this_person.person_name }} et la ville de {{ this_person.entity_name }} en début de mandat !{% endblock twitter_description %}


{% block app_content %}
<div container>
    <div class="row">
	<div class="col-lg-12">
	    <h1>{{ observatoire.name }}</h1>

	    {# ================ Choose person ================ #}
	    <div class="dropdown d-inline-block show">
		<a class="btn btn-primary dropdown-toggle mr-1 mb-1" href="#" role="button" id="dropdownMenuLinkCommune"
		   data-toggle="dropdown" area-haspopup="true" area-expanded="false">
		    {% if this_person is none %}
		    Choissisez :
		    {% else %}
		    {{ this_person.entity }} ({{ this_person.person_name }})
		    {% endif %}
		</a>
		<div class="dropdown-menu" area-labelledby="dropdownMenuLinkCommune">
		{% for person in persons %}
		    <a class="dropdown-item" href="{% url 'observatoire:progress' observatoire_id person.id %}">{{ person.entity }} ({{ person.person_name }})</a>
		{% endfor %}
		</div>
	    </div>

	    {% if this_person %}
	      {% if objectives %}
	    <p>{{ this_person }} a des objectifs.</p>
	      {% else %}
	    <p class="text-primary">Nous sommes en attente des objectifs de <strong>{{ this_person.person_name }}</strong>,
		ville de <strong>{{ this_person.entity }}</strong>.</p>
	      {% endif %}
	    {% endif %}

	    <p><hr></p>

	    <p style="margin-left:5%; margin-right:5%;
		      font-size:smaller;">
		Vous pouvez consultez les réponses des
	    candidats au
		<a href="{% url 'surveys:choose_commune' 1 %}" class="text-muted">
		    premier tour</a> et au
		<a href="{% url 'surveys:choose_commune' 2 %}" class="text-muted">
		    deuxième tour</a>.
	    </p>

	    <p style="margin-left:5%; margin-right:5%; margin-top:4%;
			  font-size:smaller;">
		À Transport Nantes, notre vision est simple : donner un choix de
		déplacement crédible à chacun, améliorer les
		déplacements de chacun, même ceux qui choisissent de
		ne pas changer. Pour agir, nous avons besoin de votre
		voix.
	    </p>

	    <p style="margin-left:5%; margin-right:5%;
			  font-size:smaller;">
		Notre stratégie est également simple : engager nos
		élus, leur montrer que nous sommes nombreux à vouloir
		un système de déplacement efficace, pas cher, et
		écologique.
	    </p>

	    <p style="margin-left:5%; margin-right:5%;
			  font-size:smaller;">
		Nous avons le choix : continuer à créer plus de
		capacité voiture ou commencer à offrir un vrai choix
		aux habitants de notre région. Et le choix est clair :
		aucune ville, aucune région n'a jamais réduit ses
		bouchons en élargissant les capacités. Les régions qui
		encouragent et construisent pour les cyclistes, pour
		la marche à pied, et pour les transports collectifs,
		par contre, voient leur bouchons diminuer, voire
		disparaître. Sans obliger qui que ce soit à changer de
		mode de déplacement.
	    </p>

    <!-- ######################################################################  -->
    <div class="row">
	<div class="col-lg-12">

	    <p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a>
	    </p>

	</div>
    </div>

</div>
{% endblock %}
