{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load don %}
{% load markdown %}

{% block app_content %}

<div class="container">
    <div class="row">
	<div class="col-lg-12">
	    <h1>{{ survey.name }}</h1>
	    {% if not survey.is_active %}
	    <p>Ce questionnaire n'est plus d'actualité.</p>
	    {% endif %}

	    <div class="text-info">{{ survey.description|markdown }}</div>

	    {% for question in questions %}
	    <p><b>{{ question.question_number }}.  {{ question.question_title }}. </b>
		{{ question.question_text }}</p>
	    {% endfor %}
	</div>
    </div>
    <div class="row pt-3">
	<div class="col-md-6">
	    {# {% action_button "#" "Voir les réponses" %} #}
	    <p class="text-info"><i>
		Dès qu'il y aura des réponses, elles seront disponibles à partir de cette page.
	    </i></p>
	</div>
	<div class="col-md-6">
	    {% if survey.is_active %}
	    <p>
		{% action_button "#" "Je suis candidat.e, je réponds" %}
	    </p>
	    <p><i>
		Les réponses seront possibles dès le 28&nbsp;janvier 2021.
	    </i></p>
	    {% endif %}
	</div>
    </div>
</div>

{% endblock %}
