{% extends 'asso_tn/base_mobilitain.html' %}
{% load static %}
{% load don %}

{% block app_content %}

<div class="container">
    <div class="row">
	<div class="col-lg-12">
	    <h1>{{ survey.name }}</h1>
	    {% if not survey.is_active %}
	    <p>Ce questionnaire n'est plus d'actualité.</p>
	    {% endif %}

	    {% for question in questions %}
	    <p><b>{{ question.question_number }}.  {{ question.question_title }}. </b>
		{{ question.question_text }}</p>
	    {% endfor %}
	</div>
    </div>
    <div class="row pt-3">
	<div class="col-lg-12">
	    <p class="text-warning bg-dark">
		Boutons désactivés en attente du dévoilement lundi 21 janvier 2021.</p>
	</div>
	<div class="col-md-6">
	    {% action_button "#" "Voir les réponses" %}
	</div>
	<div class="col-md-6">
	    {% action_button "#" "Je suis candidat, je répond" %}
	</div>
    </div>
</div>

{% endblock %}
