{% extends 'asso_tn/base_transport_nantes.html' %}
{% load static %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	<h1>Questions aux candidats et partis politiques</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="height:20px;"></div>
</div>
<div class="row">
    <div class="col-lg-12">
	<p><em>11 octobre 2019</em></p>
	<p>
	    Transport Nantes s'est fixé comme objectif de contacter
	    l'ensemble des candidats dans la région nantaise dans le
	    cadre des élections municipales de mars 2020. Transport
	    Nantes souhaite mettre en avant les visions des différents
	    candidats concernant leurs perspectives d’évolution au sujet de la
	    mobilité dans la région nantaise.
	</p>
	<p>
	    Si vous êtes élu, candidat, membre d'une liste ou d'un
	    parti politique, nous vous invitons à télécharger notre
	    liste de dix questions et de nous envoyer vos
	    réponses. Nous présenterons (sans jugement) vos réponses,
	    qui seront également disponibles sur notre site web.
	</p>
	<p>
	    Afin de vous faciliter la vie, le questionnaire est
	    téléchargeable dans trois formats :
	</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-2 col-md-2">
	<a href={% static "surveys/parlons_mobilité.odt" %}>
	    <img src={% static "surveys/odt.png" %}></a>
    </div>
    <div class="col-sm-2 col-md-2">
	<a href={% static "surveys/parlons_mobilité.docx" %}>
	    <img src={% static "surveys/docx.png" %}></a>
    </div>
    <div class="col-sm-8 col-md-8">
	<a href={% static "surveys/parlons_mobilité.pdf" %}>
	    <img src={% static "surveys/pdf.png" %}></a>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
	<hr>
	<p><em>
	    Transport Nantes est une association 1901 qui milite pour
	    un système de transport équilibré dans la région nantaise
	    et au delà.  Nous sommes soutenus à 100% par vous, nos
	    concitoyens, et c’est votre voix qui nous permet de porter
	    la nôtre. Faites un geste au niveau qui vous semble mieux
	    : donnez nous la force d’agir pour vous !</em>
	</p>

	<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>

    </div>
</div>

{% endblock %}
