{% extends 'asso_tn/base_transport_nantes.html' %}

{% block app_content %}

<div class="row">
    <div class="col-lg-12">
	{# ####  This should be db-driven!  It is assuming survey_id == 1.  #### #}
	<h1>Parlons Mobilité</h1>
    </div>
</div>

<div class="row">
{# ================ Choose commune ================ #}
<div class="dropdown d-inline-block show">
    <a class="btn btn-primary dropdown-toggle mr-1 mb-1" href="#" role="button" id="dropdownMenuLinkCommune"
       data-toggle="dropdown" area-haspopup="true" area-expanded="false">
	{% if this_commune is none %}
	Choissisez une commune
	{% else %}
	{{ this_commune.commune }}
	{% endif %}
    </a>
    <div class="dropdown-menu" area-labelledby="dropdownMenuLinkCommune">
    {% for commune in communes %}
	<a class="dropdown-item" href="{% url 'surveys:choose_liste' survey_id commune.id %}">{{ commune.commune }}</a>
    {% endfor %}
    </div>
</div>
{# ================ Choose liste ================ #}
{% if listes|length > 0 %}
<div class="dropdown d-inline-block show">
    <a class="btn btn-primary dropdown-toggle mr-1 mb-1" href="#" role="button" id="dropdownMenuLinkListe"
       data-toggle="dropdown" area-haspopup="true" area-expanded="false">
	{% if this_liste is none %}
	Choisissez une liste
	{% else %}
	{{ this_liste.liste }} (<i>{{ this_liste.tete_de_liste }}</i>)
	{% endif %}
    </a>
    <div class="dropdown-menu" area-labelledby="dropdownMenuLinkListe">
    {% for liste in listes %}
      <a class="dropdown-item" href="{% if this_question is none %}{% url 'surveys:choose_question' survey_id commune_id liste.id %}{% else %}{% url 'surveys:choose_response' survey_id commune_id liste.id this_question.id %}{% endif %}">{{ liste.liste }}<br><i>{{ liste.tete_de_liste }}</i></a>
    {% endfor %}
    </div>
</div> 
{% endif %}
{# ================ Choose question ================ #}
{% if questions|length > 0 %}
<div class="dropdown d-inline-block show">
    <a class="btn btn-primary dropdown-toggle mr-1 mb-1" href="#" role="button" id="dropdowMenuLinkQuestion"
       data-toggle="dropdown" area-haspopup="true" area-expanded="false">
	{% if this_question is none %}
	Choisissez une question
	{% else %}
	{{ this_question.question_number }} <i>{{ this_question.question_title }}</i>
	{% endif %}
    </a>
  <div class="dropdown-menu" area-labelledby="dropdownMenuLinkQuestion">
      {% for question in questions %}
      <a class="dropdown-item" href="{% url 'surveys:choose_response' survey_id commune_id responder_id question.id %}">{{ question.question_number }}<br><i>{{ question.question_title }}</i></a>
      {% endfor %}
  </ul>
  </div>
  {% endif %}
</div>

{# ================ Display question and response ================ #}
{% if this_response is not none %}
<div class="row">
    <div class="col-lg-12 text-important">
	<h2 class="bg-info">Question : {{ this_question.question_title }}</h2>

	<h3>La réponse de {{ this_liste.tete_de_liste|default:'' }} ({{ this_liste.liste|default:'' }}) :</h3>
	{% if this_response is not none %}
	<div class="text-primary">
	    {% for paragraph in this_response.response_paragraphs %}
	    <p>{{ paragraph }}</p>
	    {% endfor %}
	</div>
	{% else %}
	<p class="text-primary">La liste {{ liste }} n'a pas répondu à cette question.</p>
	{% endif %}

	<h3>La question</h3>
	<div class="text-muted">
	    {% for paragraph in this_question.text_paragraphs %}
	    <p>{{ paragraph }}</p>
	    {% endfor %}
	</div>
    </div>
</div>
{% endif %}

<div class="row">
    <div class="col-lg-12">
	<hr>
	<p class="text-muted">
	   Pour signaler une omission ou une erreur, contactez-nous par <a href="https://twitter.com/TransportNantes" target="_blank">twitter</a> ou <a href="mailto:jevousaide@transport-nantes.com" target="_blank">mél</a>.
	</p>
	<p class="text-muted">
	    Si vous êtes élu, candidat, membre d'une liste ou d'un
	    parti politique, nous vous invitons à télécharger notre
	    liste de dix questions et de nous envoyer vos
	    réponses en cliquant
	    <a href={% url 'surveys:questionnaire' survey_id %}>ici</a>.
	</p>
	<hr>

	<div class="row">
	    <div class="col-lg-12">
		<p>
		    Transport Nantes s'est fixé comme objectif de
		    contacter l'ensemble des candidats dans la région
		    nantaise dans le cadre des élections municipales
		    de mars 2020. Transport Nantes souhaite mettre en
		    avant les visions des différents candidats
		    concernant leurs perspectives d’évolution au sujet
		    de la mobilité dans la région nantaise.</p>
	    </div>
	</div>
	<p><em>
	    Transport Nantes est une association 1901 qui milite pour
	    un système de transport équilibré dans la région nantaise
	    et au delà.  Nous sommes soutenus à 100% par vous, nos
	    concitoyens, et c’est votre voix qui nous permet de porter
	    la nôtre. Faites un geste au niveau qui vous semble mieux
	    : donnez nous la force d’agir pour vous !</em>
	</p>

	<p align="center"><a href="https://www.helloasso.com/associations/transport-nantes/adhesions/adhesion-transport-nantes-2019/" class="btn btn-primary btn-lg" role="button" target="_blank">J'adhère</a></p>

    </div>
</div>

{% endblock %}
