{% extends 'asso_tn/base_mobilitain.html' %}
{% load don %}

{% block app_content %}
<div class="container">
    <div class="row">
        <div class="col-lg-12 pb-3">
            {# ####  This should be db-driven!  It is assuming survey_id == 1.  #### #}
            <h1>{{ survey.name }}Parlons Mobilité</h1>
        </div>
    </div>

    <div class="row">
    {# ================ Choose commune ================ #}
    <div class="dropdown d-inline-block show">
        <a class="btn dropdown-toggle mr-1 mb-1" href="#" role="button" id="dropdownMenuLinkCommune"
           data-toggle="dropdown" area-haspopup="true" area-expanded="false">
            {% if this_commune is none %}
            Choissisez un territoire
            {% else %}
            {{ this_commune.commune }}
            {% endif %}
        </a>
        <div class="dropdown-menu" area-labelledby="dropdownMenuLinkCommune">
        {% for commune in communes %}
            <a class="dropdown-item" href="{% url 'surveys:choose_liste' survey_id commune.id %}">{{ commune.commune }}</a>
        {% endfor %}
        </div>
    </div>
    {# ================ Choose liste ================ #}
    {% if listes|length > 0 %}
    <div class="dropdown d-inline-block show">
        <a class="btn dropdown-toggle mr-1 mb-1" href="#" role="button" id="dropdownMenuLinkListe"
           data-toggle="dropdown" area-haspopup="true" area-expanded="false">
            {% if this_liste is none %}
            Choisissez une liste
            {% else %}
            {{ this_liste.liste }} (<i>{{ this_liste.tete_de_liste }}</i>)
            {% endif %}
        </a>
        <div class="dropdown-menu" area-labelledby="dropdownMenuLinkListe">
        {% for liste in listes %}
          <a class="dropdown-item" href="{% if this_question is none %}{% url 'surveys:choose_question' survey_id commune_id liste.id %}{% else %}{% url 'surveys:choose_response' survey_id commune_id liste.id this_question.id %}{% endif %}">{{ liste.liste }} : <i>{{ liste.tete_de_liste }}</i></a>
        {% endfor %}
        </div>
    </div>
    {% endif %}
    {# ================ Choose question ================ #}
    {% if questions|length > 0 %}
    <div class="dropdown d-inline-block show">
        <a class="btn dropdown-toggle mr-1 mb-1" href="#" role="button" id="dropdowMenuLinkQuestion"
           data-toggle="dropdown" area-haspopup="true" area-expanded="false">
            {% if this_question is none %}
            Choisissez une question
            {% else %}
            {{ this_question.question_number }} <i>{{ this_question.question_title }}</i>
            {% endif %}
        </a>
      <div class="dropdown-menu" area-labelledby="dropdownMenuLinkQuestion">
          {% for question in questions %}
          <a class="dropdown-item" href="{% url 'surveys:choose_response' survey_id commune_id responder_id question.id %}">{{ question.question_number }} : <i>{{ question.question_title }}</i></a>
          {% endfor %}
      </ul>
      </div>
      {% endif %}
    </div>

    {# ================ Display question and response ================ #}
    {% if this_response is not none %}
    <div class="row">
        <div class="col-lg-12">
            <h2 style="background-color: var(--mobilitains-gris);">Question : {{ this_question.question_title }}</h2>

            <h3>La réponse de {{ this_liste.tete_de_liste|default:'' }} ({{ this_liste.liste|default:'' }}) :</h3>
            {% if this_response is not none %}
            <div>
                {% for paragraph in this_response.response_paragraphs %}
                <p>{{ paragraph }}</p>
                {% endfor %}
            </div>
            {% else %}
            <p>La liste {{ liste }} n'a pas répondu à cette question.</p>
            {% endif %}

            <h3>La question</h3>
            <div>
                {% for paragraph in this_question.text_paragraphs %}
                <p style="color: var(--body-text-muted);">{{ paragraph }}</p>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-lg-12">
            <hr>
            <p style="{color: var(--body-text-muted);" class="body-text-muted small" >
               Pour signaler une omission ou une erreur, contactez-nous par <a href="https://twitter.com/Mobilitains" target="_blank">twitter</a> ou <a href="mailto:jevousaide@mobilitains.fr" target="_blank">mél</a>.
            </p>
            <p style="{color: var(--body-text-muted);" class="small">
                <b>Si vous êtes élu, candidat, membre d'une liste ou d'un
                    parti politique,</b> nous vous invitons à télécharger notre
                liste de dix questions et de nous envoyer vos
                réponses en cliquant
                <a href={% url 'surveys:choose_commune' survey_id %}>ici</a>.
            </p>
            <hr>

            <div class="row">
                <div class="col-lg-12">
                    <p class="small">
                        Depuis 2020 l'association des Mobilitains s'est fixé comme objectif de
                        contacter l'ensemble des candidats lors des campagnes
			électorales. Les Mobilitains souhaitent mettre en
                        avant les visions des différents candidats
                        concernant leurs perspectives d’évolution au sujet
                        de la mobilité dans leur région et sur le territoire
			de la France métropolitaine.</p>
                </div>
            </div>
            <p class="small"><em>
                Association 1901, les Mobilitains militent pour
                un système de transport équilibré dans la région
                nantaise, au Pays de la Loire et sur tout le
                territoire français.  Nous sommes soutenus à 100% par vous, nos
                concitoyens, et c’est votre voix qui nous permet de porter
                la nôtre. Faites un geste au niveau qui vous semble mieux
                : donnez nous la force d’agir pour vous !</em>
            </p>

            <p align="center">
                {% bouton_don_lg "J'adhère" %}
            </p>

        </div>
    </div>
</div>

{% endblock %}
