{% load static %}
{% load don %}
<h2>Les projets Mobilitains</h2>
<div class="row pt-1">
    <div class="col-md-3">
	<div class="thumbnail">
	    <a href="{% url "geoplan:map" "nantes" "velopolitain" %}">
		<div class="shadow-md">
		    <img class="rounded"
			 src="{% static 'asso_tn/20210228-210131-9011_velorution-psm-667.jpg' %}"
			 alt="La Vélorution de Nantes passe devant le pont Saint-Mihiel"
			 style="width:100%">
		</div>
		<div class="caption pt-2">
		    <h3 class="font-weight-light"
			style="font-variant: all-small-caps;
			       font-size: 150%;">Observatoire du Vélopolitain</h3>
		    <p>
			Agir pour que Nantes Métropole tienne ses promesses.
		    </p>
		</div>
	    </a>
	</div>
    </div>
    <div class="col-md-3">
	<div class="thumbnail">
	    <a href="{% url 'topic_blog:view_topic' 'la-grande-mobilite' %}">
		<div class="shadow-md">
		<img class="rounded"
		     src="{% static 'asso_tn/images-quentin-boulegon/grande-mobilité-1.jpg' %}"
		     alt="Un TER et un tramway" style="width:100%">
		</div>
		<div class="caption pt-2">
		    <h3 class="font-weight-light"
			style="font-variant: all-small-caps;
			       font-size: 150%;">Grande mobilité</h3>
		    <p>
			Obtenir plus de dessertes et mieux bouger.
		    </p>
		</div>
	    </a>
	</div>
    </div>
    <div class="col-md-3">
	<div class="thumbnail">
	    <a href="{% url 'topic_blog:view_topic' 'agir-avec-les-entreprises' %}">
		<div class="shadow-md">
		    <img class="rounded"
			 src="{% static 'asso_tn/homme-dossier-costume-square.jpg' %}"
			 alt="un gilet orange" style="width:100%">
		</div>
		<div class="caption pt-2">
		    <h3 class="font-weight-light"
			style="font-variant: all-small-caps;
			       font-size: 150%;">Accompagnement d'entreprises</h3>
		    <p>
			Sensibiliser pour une évolution de la mobilité.
		    </p>
		</div>
	    </a>
	</div>
    </div>
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="{% url 'topic_blog:view_topic' 'velopolitain' %}">
            <div class="shadow-md">
                <img class="rounded" src="{% static 'asso_tn/images-quentin-boulegon/vélopolitain-2.jpg' %}" alt="La piste cyclable sur le Pont Anne de Bretagne a Nantes" style="width:100%">
            </div>
            <div class="caption pt-2">
                <h3 class="font-weight-light">Vélopolitain</h3>
                <p>Agir pour des aménagements cyclables bien pensés.</p>
            </div>
            </a>
        </div>
    </div>
{% comment %}
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="{% url 'topic_blog:view_topic' 'pont-saint-mihiel' %}">
            <img src="{% static 'asso_tn/pont-saint-mihiel-carre.jpg' %}" alt="Le Pont Saint-Mihiel a Nantes" style="width:100%">
            <div class="caption pt-2">
                <h3 class="font-weight-light">Pont Saint-Mihiel</h3>
                <p>
                Le symbole d'une métropole qui hésite&nbsp;!
                </p>
            </div>
            </a>
        </div>
    </div>
{% endcomment %}
{% comment %}
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="{% url 'topic_blog:view_topic' '2021-regionales' %}">
            <div class="shadow-md">
                <img class="rounded" src="{% static 'asso_tn/traffic-667.jpg' %}" alt="bouchon sur une route" style="width:100%">
            </div>
            <div class="caption pt-2">
                <h3 class="font-weight-light">Élections 2021</h3>
                <p>
                Mobiliser, questionner et faire bouger les lignes.
                </p>
            </div>
            </a>
        </div>
    </div>
    </div>
{% endcomment %}
{% comment %}
    <div class="col-md-3">
        <div class="thumbnail">
            <a href="{% url 'topic_blog:view_topic' 'devenir-ambassadeur' %}">
            <img src="{% static 'asso_tn/images-libres/ambassadeur.jpg' %}" alt="Un ambassadeur" style="width:100%">
            <div class="caption pt-2">
                <h3 class="font-weight-light" style="font-variant: all-small-caps; font-size: 150%;">Ambassadeurs Mobilitains</h3>
                <p>Vous avez envie d’être un.e porte parole, de réfléchir et agir avec nous ? {# Soutenez-nous dans votre commune #}</p>
            </div>
            </a>
        </div>
    </div>
{% endcomment %}
</div>
