{% load launcher %}

<h1 class="my-3" style="font-weight: 600; letter-spacing:-1px; font-size: 2.2rem;">
    Les projets Mobilitains
</h1>
<div class="row pt-1 d-none d-xl-flex no-gutters">
    {% launcher "operation-pieton-44" %}
    {% launcher "la-grande-mobilite" %}
    {% launcher "velopolitain" %}
    {% launcher "ligne-johanna-rolland-2021" %}
</div>
<div
    id="carouselIndicators"
    class="carousel slide d-block d-xl-none"
    data-ride="carousel"
>
    <ol class="carousel-indicators">
        <li
            data-target="#carouselIndicators"
            data-slide-to="0"
            class="active"
        ></li>
        <li
            data-target="#carouselIndicators"
            data-slide-to="1"
        ></li>
        <li
            data-target="#carouselIndicators"
            data-slide-to="2"
        ></li>
        <li
            data-target="#carouselIndicators"
            data-slide-to="3"
        ></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            {% launcher_carousel "operation-pieton-44" %}
        </div>
        <div class="carousel-item">
            {% launcher_carousel "la-grande-mobilite" %}
        </div>
        <div class="carousel-item">
            {% launcher_carousel "velopolitain" %}
        </div>
        <div class="carousel-item">
            {% launcher_carousel "ligne-johanna-rolland-2021" %}
        </div>
    </div>
    <a
        class="carousel-control-prev"
        href="#carouselIndicators"
        role="button"
        data-slide="prev"
    >
        <span
            class="carousel-control-prev-icon"
            aria-hidden="true"
        ></span>
        <span class="sr-only">Previous</span>
    </a>
    <a
        class="carousel-control-next"
        href="#carouselIndicators"
        role="button"
        data-slide="next"
    >
        <span
            class="carousel-control-next-icon"
            aria-hidden="true"
        ></span>
        <span class="sr-only">Next</span>
    </a>
</div>
