{% load static %}

<div class="row">
    <div class="col-md-8">
        <div>
            <h1>L'association des Mobilitains</h1>

            <p>Nous agissons pour une mobilité plus fluide, plus
        sécurisée, plus vertueuse pour les
        piétons, les cyclistes, les voyageurs des transports
        en commun, et les automobilistes.</p>

            <p>A l’instar des élections 2020 avec le début du
        Vélopolitain (plus de 1000 signatures recueillies),
        nos actions doivent être portées et concrétisées en
        s'inscrivant au coeur des élections 2021.</p>

        <p>Bref, nous sommes une association qui bouge&nbsp;!</p>

        <p>
        <a href="{% url 'topic_blog:view_topic' 'qui-sommes-nous' %}"
           class="btn navigation-button btn-lg">Nous
        découvrir <i class="fa fa-arrow-right" area-hidden="true"></i></a>
        </p>
        </div>
    </div>

    <div class="col-md-4 p-5">
        <img src="{% static 'asso_tn/belvederes.jpg' %}"
         alt="trois benevoles Mobilitains" style="width:100%;">
    </div>
</div>
