{% load static %}

<div class="row">
    <div class="col-md-12">
        <img src="{% static 'asso_tn/qui-sommes-nous.jpg' %}"
	 class="img-fluid"
         alt="De nombreux Mobilitains">
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-12">
        <h2 class="mt-3">Qui sommes-nous&nbsp;?</h2>

        <p>Les Mobilitains agissent pour une mobilité plus ﬂuide, sécurisée et
            plus vertueuse pour les piétons, les cyclistes, les voyageurs des
            transports en commun, et les automobilistes.</p>

        <p>A l’instar des élections 2021, nos actions doivent être portées
            et concrétisées en s’inscrivant au coeur des élections 2022.</p>

        <p>Bref, nous sommes une organisation qui bouge&nbsp;!</p>

        <p>
            <a href="{% url 'topic_blog:view_item_by_slug' 'qui-sommes-nous' %}"
               class="btn navigation-button btn-lg mt-3">Nous
		découvrir <i class="fa fa-arrow-right" area-hidden="true"></i></a>
        </p>
    </div>
</div>
