{% load static %}

<div class="container pt-5">
    <div class="row">
	<div class="col-md-6">
	    <img src="{% static 'asso_tn/images-libres/bénévole2.jpg' %}"
		 alt="un benevole Mobilitain" style="width:100%;">
	</div>
	<div class="col-md-6">
	    <h3>Devenir bénévole</h3>

	    <h4>Envie d'agir avec nous&nbsp;?</h4>

	    <p>Devenez Mobilitain et agissez concrètement pour la
	    mobilité multimodale&nbsp;!</p>

	    <p>Pas besoin d’être un pro de la mobilité pour passer à
	    l’action, toutes les bonnes volontés sont bienvenues.</p>

	    <p>
		<a href="{% url 'topic_blog:view_topic' 'devenir-benevole' %}"
		   class="btn 
			  donation-button btn-lg">J'agis <i class="fa fa-arrow-right" area-hidden="true"></i></a>
	    </p>
	</div>
    </div>
</div>
